<div class="modal-header">
    <h3 class="modal-title">{{view.title}}</h3>
</div>
<div class="modal-body">
    <div class="spinner" ng-show="view.isLoadingRequiredData || view.isSavingProgram">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div ng-show="!view.isLoadingRequiredData && !view.isSavingProgram">
        <div class="tip">
            <img src="images/tip.png"><span class="strong">Please note!</span> Any changes you make to the program will be live after saving.
            <div class="required">* Marks required fields</div>
        </div>

        <div id="modal" class="row" in-context-form>
            <div class="col-md-10">
                <form name="form.programForm" ng-show="!view.isSavingProgram">
                    <div class="form-group" ng-class="{ 'has-error': view.doesProgramExist, 'has-feedback': view.doesProgramExist}">
                        <label>
                            Program Name<span class="asterisk"> *</span>
                            <i style="margin-left:30px;"
                               class="material-icons md-18 material-icons-spin contextual-busy"
                               ng-show="view.isLoadingLikePrograms">autorenew</i>
                        </label>
                        <input name="name"
                               ng-model="view.program.name"
                               form-element guidance="This is the name of your program. (e.g. ETA Fulbright)"
                               type="text"
                               maxlength="{{view.maxNameLength}}"
                               class="form-control"
                               ng-change="view.onProgramNameChange()"
                               ng-model-options="{debounce: 500}"
                               placeholder="Enter program title..."
                               required>
                        <span class="form-control-feedback" ng-show="view.doesProgramExist"><i class="material-icons md-24">error</i></span>
                        <p class="mute" style="margin-top:5px;">{{view.program.name.length}} of {{view.maxNameLength}} characters remaining.</p>
                        <div ng-show="view.doesProgramExist" class="error">
                            There is already a program named {{view.program.name}}.
                        </div>
                        <div ng-show="form.programForm.name.$dirty">
                            <div class="error" ng-show="form.programForm.name.$error.required">Please enter a program name.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Program Description<span class="asterisk"> *</span></label>
                        <textarea name="description"
                                  maxlength="{{view.maxDescriptionLength}}"
                                  class="form-control"
                                  ng-model="view.program.description"
                                  form-element guidance="This briefly summarizes what this program is about."
                                  type="text"
                                  placeholder="Enter description..."
                                  required></textarea>
                        <p class="mute" style="margin-top:5px;">{{view.program.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>
                        <div ng-show="form.programForm.description.$dirty">
                            <div class="error" ng-show="form.programForm.description.$error.required">Program description is required.</div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!view.program.isSubProgram">
                        <label>
                            Parent Program
                            <i style="margin-left:30px;"
                               class="material-icons md-18 material-icons-spin contextual-busy"
                               ng-show="view.isLoadingPrograms && !view.program.isSubProgram">autorenew</i>
                        </label>
                        <input name="parentProgram"
                               ng-model="view.program.parentProgram"
                               form-element guidance="This is the parent program of your new program, if needed."
                               type="text"
                               placeholder="Enter Parent Program name..."
                               typeahead="p as p.name for p in view.searchPrograms($viewValue)"
                               typeahead-loading="view.isLoadingPrograms"
                               typeahead-on-select="view.onSelectParentProgram($item, $model, $label)"
                               typeahead-editable="false"
                               ng-blur="view.onSelectParentProgramBlur($event)"
                               class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Program Inception<span class="asterisk"> *</span></label>
                        <p class="input-group">
                            <input name="start"
                                   type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="view.program.startDate"
                                   is-open="view.isStartDateCalendarOpen"
                                   min-date="minDate"
                                   max-date="maxDate"
                                   close-text="Close"
                                   placeholder="Enter start date..."
                                   required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="view.openStartDateCalendar($event)"><i class="material-icons md-18">event</i></button>
                            </span>
                        </p>
                        <div ng-show="form.programForm.start.$dirty">
                            <div class="error" ng-show="form.programForm.start.$error.required">Please enter a start date.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="pull-right" ng-click="view.addWebsite()"><i class="material-icons md-18">add</i></a>
                        <label>Websites</label>
                        <div ng-class="view.program.websites.length > 1 || (view.program.websites.length == 1 && website.value !== undefined) ? 'input-group' : ''" ng-repeat="website in view.program.websites track by $index">
                            <input type="text"
                                   ng-model="view.program.websites[$index].value"
                                   class="form-control"
                                   placeholder="Enter website address (e.g. http://www.google.com)..."
                                   form-element guidance="If the program has a website URL, you can enter it here." />
                            <span class="input-group-btn" ng-show="view.program.websites.length > 1 || (view.program.websites.length == 1 && website.value !== undefined)">
                                <button class="btn btn-default" type="button" ng-click="view.deleteWebsite($index)"><i class="material-icons md-18">delete</i></button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Related Regions<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           ng-model="view.selectedRegions"
                                           on-select="view.onRegionsSelect()"
                                           ng-change="view.onRegionsChange()"
                                           theme="select2"
                                           title="Choose a region."
                                           ng-required="true"
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select regions...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="region in view.regions | filter: $select.search track by region.id">
                                        <div ng-bind-html="region.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty && !view.isSelectedRegionsValid">
                                    <span class="error">Please select at least one related region.</span>
                                </div>
                            </div>
                            <div class="form-group" form-element guidance="This lists the themes for the program (at least one required).">
                                <label>Themes<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           ng-model="view.selectedThemes"
                                           on-select="view.onThemesSelect()"
                                           ng-change="view.onThemesChange()"
                                           theme="select2"
                                           title="Choose a theme."
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select themes...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="theme in view.themes | filter: $select.search track by theme.id">
                                        <div ng-bind-html="theme.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty && !view.isSelectedThemesValid">
                                    <span class="error">Please select at least one theme.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Goals<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           ng-model="view.selectedGoals"
                                           on-select="view.onGoalsSelect()"
                                           ng-change="view.onGoalsChange()"
                                           theme="select2"
                                           title="Choose a goal."
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select goals...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="goal in view.goals | filter: $select.search track by goal.id">
                                        <div ng-bind-html="goal.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty && !view.isSelectedGoalsValid">
                                    <span class="error">Please select at least one goal.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group" ng-show="view.isCategoryRequired">
                                <label>{{view.categoryLabel}}<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           on-select="view.onCategoriesSelect()"
                                           ng-change="view.onCategoriesChange()"
                                           ng-model="view.selectedCategories"
                                           theme="select2"
                                           title="Choose a {{view.categoryLabel}}."
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select {{view.categoryLabel}}(s)...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="category in view.categories | filter: $select.search track by category.id" group-by="'focusName'">
                                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty">
                                    <div ng-show="view.selectedCategories.length < view.minimumRequiredFoci">
                                        <span class="error">Please select at least one {{view.minimumRequiredFoci}} {{view.categoryLabel}}.</span>
                                    </div>
                                    <div ng-show="view.selectedCategories.length > view.maximumRequiredFoci">
                                        <span class="error">You may only select up to {{view.maximumRequiredFoci}} {{view.categoryLabel}}.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="view.isObjectiveRequired">
                                <label>{{view.objectiveLabel}}<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           ng-model="view.selectedObjectives"
                                           on-select="view.onObjectivesSelect()"
                                           ng-change="view.onObjectivesChange()"
                                           theme="select2"
                                           title="Choose a {{view.objectiveLabel}}."
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select {{view.objectiveLabel}}(s)...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="objective in view.objectives | filter: $select.search track by objective.id" group-by="'justificationName'">
                                        <div ng-bind-html="objective.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty && !view.isSelectedObjectivesValid">
                                    <span class="error">Please select at least one {{view.objectiveLabel}}.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Points Of Contact<span class="asterisk"> *</span></label>
                                <ui-select multiple
                                           close-on-select="true"
                                           on-select="view.onContactsSelect()"
                                           ng-change="view.onContactsChange()"
                                           ng-model="view.selectedContacts"
                                           theme="select2"
                                           title="Choose a point of contact."
                                           style="min-width: 200px;">
                                    <ui-select-match placeholder="Select points of contact...">
                                        <div>{{$item.fullName}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="person in view.pointsOfContact | filter: $select.search track by person.id"
                                                       refresh="view.searchPointsOfContact($select.search)"
                                                       refresh-delay="250">
                                        <div ng-bind-html="person.fullName | highlight: $select.search"></div>
                                        <div class="small">{{person.position}}</div>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-show="form.programForm.$dirty && !view.isSelectedContactsValid">
                                    <span class="error">Please select at least one point of contact.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <guidance></guidance>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-success"
                ng-click="view.onSaveClick()"
                ng-disabled="form.programForm.$invalid || view.isSavingProgram || !view.isSelectedCategoriesValid || !view.isSelectedContactsValid || !view.isSelectedGoalsValid || !view.isSelectedThemesValid || !view.isSelectedRegionsValid || view.doesProgramExist">
            Save
        </button>
        <button class="btn btn-cancel" ng-click="view.onCancelClick()">Cancel</button>
    </div>
</div>