<div class="row">
    <div class="jumbotron program">
        <div class="heading">
            <h1>All Programs</h1>
            <span class="owner-office">ECA</span>
        </div>
    </div>
    <div class="row">
        <span class="left programTypeRadio">Show programs in<input type="radio" ng-change="changeProgramList()" ng-model="programList.type" value="hierarchy">Hierarchical order</span>
        <span class="left programTypeRadio"><input type="radio" ng-change="changeProgramList()" ng-model="programList.type" value="alpha">Alphabetical order</span>
        <span class="left programTypeRadio"><input type="checkbox" ng-change=changeProgramList() ng-model="draftsOnly">Show my drafts only</span>
        <button ng-show="!programsLoading" ng-click="createProgramForm()" class="btn btn-success right col-sd-2">CREATE PROGRAM</button>
    </div>

    <div st-pipe="getPrograms" st-table="programs" id="sort-list">
        <table class="col-md-12 table" id="programList">
            <thead>
                <tr>
                    <th class="col-md-7"></th>
                    <th class="col-md-2">&nbsp;</th>
                </tr>
                <tr>
                    <th class="col-md-7">
                        <div>
                            <input st-search type="search" placeholder="Search Programs" class="search-contextual" maxlength="100">
                            <i class="glyphicon glyphicon-search contextual"></i>
                        </div>
                        <div style="margin-top:25px;margin-bottom:-25px">
                            <p class="subheader">Showing {{skippedNumberOfPrograms}} - {{numberOfPrograms}} of {{totalNumberOfPrograms}} programs</p>
                        </div>
                    </th>
                    <th class="col-md-2">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="list2">
                <tr ng-repeat="program in programs" ng-show="!programsLoading" id="program{{program.programId}}" program-level="{{program.programLevel}}">
                        <td class="col-md-9" ng-style="{'padding-left': 60+(30*program.programLevel-1)}">
                            <span class="owner-office">{{program.officeSymbol}}</span>
                            <span class="draft-program{{program.programStatusId}}">DRAFT</span>
                            <h4>
                                <span ng-show="program.numChildren > 0">
                                    <i id="expand{{program.programId}}" ng-click="showHideChildren(program, true)" class="fa fa-caret-right listExpander"></i>
                                    <i id="contract{{program.programId}}" ng-click="showHideChildren(program, false)" class="fa fa-caret-down listContractor"></i>
                                </span>
                                <a ng-bind-html="program.name | highlight:programFilter" ng-href="#/programs/{{program.programId}}/overview">>{{program.name}}</a>
                            </h4>
                            <p ng-bind-html="program.description | highlight:programFilter">{{program.description}}</p>
                        </td>
                        <td class="col-md-3 tools" style="padding: 50px 50px 0 0;">
                            <div class="right" style="display:none;" showonparentrow>
                                <div class="copyEditDeleteOptions" ng-click="copyProgram(program.programId)">
                                    <i class="md md-content-copy md-2x copyEditDeleteOption" ng-show="!copyProgramLoading"></i>
                                    <i class="fa fa-spinner fa-pulse fa-fw fa-2x" ng-show="copyProgramLoading"></i>
                                </div>
                                <div class="copyEditDeleteOptions" ng-click="editProgram(program.programId)">
                                    <i class="md md-mode-edit md-2x copyEditDeleteOption" ng-show="!editProgramLoading"></i>
                                    <i class="fa fa-spinner fa-pulse fa-fw fa-2x" ng-show="editProgramLoading"></i>
                                </div>
                                <div class="copyEditDeleteOptions" ng-click="deleteProgram(program.programId)">
                                    <i class="md md-delete md-2x copyEditDeleteOption"></i>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr ng-show="programsLoading">
                    <td colspan="5">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="programs.length > 0"></div>
    </div>
</div>

<modal-dialog show="showEditProgram" dialog-title="Edit program - {{ newProgram.name }}" before-close="editModalCancel()">
    <div class="tip">
        <img src="images/tip.png"><span class="strong">Please note!</span> Any changes you make to the program will be live after saving.
        <div class="required">* Marks required fields</div>
    </div>
    <div id="modal" class="row" in-context-form>
        <div class="col-md-10">
            <div class="spinner" ng-show="isFormBusy">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <form name="modalForm.editProgramForm" ng-show="!isFormBusy">
                <input type="hidden" ng-model="newProgram.programStatusId" />

                <div class="form-group">
                    <label>Program Name<span class="asterisk"> *</span></label>
                    <input name="name" ng-model="newProgram.name" form-element guidance="This is the name of your program. (e.g. ETA Fulbright)" type="text" class="form-control" placeholder="Enter program title..." required>
                    <div ng-show="modalForm.editProgramForm.name.$dirty">
                        <div class="error" ng-show="modalForm.editProgramForm.name.$error.required">Please enter a program name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Program Description<span class="asterisk"> *</span></label>
                    <textarea name="description" class="largerArea" ng-model="newProgram.description" form-element guidance="This briefly summarizes what this program is about." type="text" class="form-control" placeholder="Enter description..." required></textarea>
                    <span class="error" ng-show="modalForm.editProgramForm.description.$error.required">Program description is required.</span>
                </div>
                <div class="form-group">
                    <label>Parent Program</label>
                    <input name="parentProgram" ng-model="newProgram.parentProgram" form-element guidance="This is the parent program of your new program, if needed." type="text" placeholder="Enter Parent Program name..."
                           typeahead="p as p.name for p in getParentPrograms($viewValue)" typeahead-loading="loadingPrograms" typeahead-on-select="model=$item.value"
                           typeahead-editable="false" class="form-control" /><i ng-show="loadingPrograms" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="form-group">
                    <label>Program Inception<span class="asterisk"> *</span></label>
                    <p class="input-group">
                        <input name="start" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="newProgram.startDate" is-open="calOpened"
                               min-date="minDate" max-date="maxDate" close-text="Close" placeholder="Enter start date..." required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div ng-show="modalForm.editProgramForm.start.$dirty">
                        <div class="error" ng-show="modalForm.editProgramForm.start.$error.required">Please enter a start date.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Related Regions<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="regions"
                                          output-model="out.Regions"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="regionsInvalid">
                        <span class="error">Please select at least one related region.</span>
                    </div>
                </div>

                <div class="form-group" form-element guidance="This lists the themes for the program (at least one required).">
                    <label>Themes<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="themes"
                                          output-model="out.Themes"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="filter none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="themesInvalid">
                        <span class="error">Please select at least one theme.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Goals<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="goals"
                                          output-model="out.Goals"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="goalsInvalid">
                        <span class="error">Please select at least one goal.</span>
                    </div>
                </div>
                <div class="form-group" ng-show="allCategoriesGrouped">
                    <label>{{categoryLabel}}</label>
                    <isteven-multi-select input-model="allCategoriesGrouped"
                                          output-model="out.Categories"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          group-property="focusGroup"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="categoriesInvalid">
                        <span class="error">Please select at least one focus/category.</span>
                    </div>
                </div>
                <div class="form-group" ng-show="objectiveLabel != ''">
                    <label>{{objectiveLabel}}</label>
                    <isteven-multi-select input-model="allObjectivesGrouped"
                                          output-model="out.Objectives"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          group-property="justificationGroup"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="objectivesInvalid">
                        <span class="error">Please select at least one justification/objective.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Points Of Contact<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="pointsOfContact"
                                          output-model="out.Contacts"
                                          button-label="fullName"
                                          item-label="fullName"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="filter none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="contactsInvalid">
                        <span class="error">Please select at least one point of contact.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>External Website</label>
                    <input type="url" name="programWebsite" ng-model="newProgram.website" class="form-control" placeholder="Enter website address (e.g. http://somesite.com)..." form-element guidance="If the program has a website URL, you can enter it here." />
                    <div ng-show="modalForm.editProgramForm.programWebsite.$dirty">
                        <span class="error" ng-show="modalForm.editProgramForm.programWebsite.$error.url">Not a valid website address.</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
    <div class="modalFormButtons">
        <button class="btn btn-default" ng-click="editModalCancel(this)">CANCEL</button>
        <button class="btn btn-success right" ng-disabled="modalForm.editProgramForm.$invalid" ng-click="saveEditedProgram()">SAVE AND CLOSE</button>
    </div>


</modal-dialog>

<modal-dialog show="showCreateProgram" dialog-title="Create Program" before-close="createModalCancel()">
    <div class="tip">
        <img src="images/tip.png"><span class="strong">Did you know?</span> This is a draft. Only you can see this.
        <div class="required">* Marks required fields</div>
    </div>

    <div id="modal" class="row" in-context-form>
        <div class="col-md-10">
            <div class="spinner" ng-show="isFormBusy">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <form name="modalForm.programForm" ng-show="!isFormBusy">
                <div class="form-group">
                    <input type="hidden" ng-model="newProgram.ownerOrganizationId" required/>
                    <label>Owner Office<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="offices"
                                          output-model="out.OwnerOrganization"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="single"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          on-item-click="changeOwnerOffice()">
                    </isteven-multi-select>
                    <div ng-show="officeInvalid">
                        <span class="error">You must select the parent office.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Program Name<span class="asterisk"> *</span></label>
                    <input name="name" ng-model="newProgram.name" form-element guidance="This is the name of your program. (e.g. ETA Fulbright)" type="text" class="form-control" placeholder="Enter program title..." required>
                    <div ng-show="modalForm.programForm.name.$dirty">
                        <div class="error" ng-show="modalForm.programForm.name.$error.required">Please enter a program name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Program Description<span class="asterisk"> *</span></label>
                    <textarea name="description" ng-model="newProgram.description" form-element guidance="This briefly summarizes what this program is about." type="text" class="form-control" placeholder="Enter description..." required></textarea>
                    <span class="error" ng-show="modalForm.programForm.description.$error.required && modalForm.programForm.description.$dirty">Program description is required.</span>
                </div>
                <div class="form-group">
                    <label>Parent Program</label>
                    <input name="parentProgram" ng-model="newProgram.parentProgram" form-element guidance="This is the parent program of your new program, if needed." type="text" placeholder="Enter Parent Program name..."
                           typeahead="p as p.name for p in getParentPrograms($viewValue)" typeahead-loading="loadingPrograms" typeahead-on-select="model=$item.value"
                           typeahead-editable="false" class="form-control" /><i ng-show="loadingPrograms" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="form-group">
                    <label>Program Inception<span class="asterisk"> *</span></label>
                    <p class="input-group">
                        <input name="start" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="newProgram.startDate" is-open="calOpened"
                               min-date="minDate" max-date="maxDate" close-text="Close" placeholder="Enter start date..." required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div ng-show="modalForm.programForm.start.$dirty">
                        <div class="error" ng-show="modalForm.programForm.start.$error.required">Please enter a start date.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Related Regions<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="regions"
                                          output-model="out.Regions"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="regionsInvalid">
                        <span class="error">Please select at least one region.</span>
                    </div>
                </div>
                <div class="form-group" form-element guidance="This lists the themes for the program (at least one required).">
                    <label>Themes<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="themes"
                                          output-model="out.Themes"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="filter none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="themesInvalid">
                        <span class="error">Please select at least one theme.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Goals<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="goals"
                                          output-model="out.Goals"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="goalsInvalid">
                        <span class="error">Please select at least one goal.</span>
                    </div>
                </div>
                <div class="form-group" ng-show="showCategoryFocus">
                    <label>{{categoryLabel}}</label>
                    <isteven-multi-select input-model="allCategoriesGrouped"
                                          output-model="out.Categories"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          group-property="focusGroup"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="categoriesInvalid">
                        <span class="error">Please select at least one focus/category.</span>
                    </div>
                </div>
                <div class="form-group" ng-show="showObjectiveJustification">
                    <label>{{objectiveLabel}}</label>
                    <isteven-multi-select input-model="allObjectivesGrouped"
                                          output-model="out.Objectives"
                                          button-label="name"
                                          item-label="name"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="none reset"
                                          max-height="250px"
                                          group-property="justificationGroup"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="objectivesInvalid">
                        <span class="error">Please select at least one justification/objective.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Points Of Contact<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="pointsOfContact"
                                          output-model="out.Contacts"
                                          button-label="fullName"
                                          item-label="fullName"
                                          tick-property="ticked"
                                          selection-mode="multiple"
                                          helper-elements="filter none reset"
                                          max-height="250px"
                                          on-item-click="setDropDownDirty()">
                    </isteven-multi-select>
                    <div ng-show="contactsInvalid">
                        <span class="error">Please select at least one point of contact.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>External Website</label>
                    <input type="url" name="programWebsite" ng-model="newProgram.website" class="form-control" placeholder="Enter website address (e.g. http://somesite.com)..." form-element guidance="If the program has a website URL, you can enter it here." />
                    <div ng-show="modalForm.programForm.programWebsite.$dirty">
                        <span class="error" ng-show="modalForm.programForm.programWebsite.$error.url">Not a valid website address.</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
    <div class="modalFormButtons">
        <button class="btn btn-default" ng-click="createModalCancel(this)">CANCEL</button>
        <button ng-disabled="modalForm.programForm.$invalid" class="btn btn-success right" ng-click="saveCreatedProgram()">CREATE</button>
    </div>
</modal-dialog>


<!-- dialog boxes for confirming -->
<modal-dialog show="showConfirmClose" dialog-title="Confirm Close" before-close="confirmCloseNo()">
    <p class="strong">There is unsaved data.  Are you sure you want to cancel?</p>
    <button class="btn btn-default right" ng-click="confirmCloseYes()">YES</button>
    &nbsp;
    <button class="btn btn-success right" ng-click="confirmCloseNo()">NO</button>
</modal-dialog>
<modal-dialog show="confirmSave" dialog-title="Success!" before-close="confirmSaveYes()">
    <p class="strong">The program was saved sucessfully</p>
    <button class="btn btn-default right" ng-click="confirmSaveYes()">OK</button>
</modal-dialog>
<modal-dialog show="confirmFail" dialog-title="Error Saving Program" before-close="confirmFailOk()">
    <p class="strong">There was an error saving the program.</p>
    <p class="alert-warning">{{errorMessage}}</p>
    <div>
        <ul>
            <li class="alert-danger" ng-repeat="validation in validations">{{validation}}</li>
        </ul>
    </div>
    <button class="btn btn-default right" ng-click="confirmFailOk()">OK</button>
</modal-dialog>

<style>
    .ng-modal-close-x {
        display: none;
    }
</style>

