<div class="jumbotron program">
    <div class="heading">
        <h1>All Programs</h1>
        <span class="owner-office">ECA</span>
    </div>
</div>

<div st-pipe="getPrograms" st-table="programs" id="sort-list">
    <table class="col-md-12">
        <tbody class="list2">
            <tr class="row hover" ng-repeat="program in programs">
                <td class="col-md-9">
                    <h4><a ui-sref="programs.overview({programId: program.programId, officeId: {{program.ownerId}}})">{{program.name}}</a></h4>
                    <p>{{program.description}}</p>
                </td>
                <td class="col-md-3 tools">
                    <div class="right">
                        <img class="icon small" src="images/duplicateA.png" alt="">
                        <img class="icon small" src="images/editA.png" alt="">
                        <img class="icon small" src="images/trash.png" alt="">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="programs.length > 0" class="program-pagination"></div>
</div>