<div class="spinner" ng-show="view.isLoadingProgram || view.isLoadingRequiredData || view.isSaving">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div ng-show="!view.isLoadingProgram && !view.isLoadingRequiredData && !view.isSaving">
    <div>
        <div class="pull-right">
            <button ng-click="view.onSaveClick($event)"
                    ng-disabled="form.programForm.$invalid"
                    class="btn btn-success">
                Save
            </button>
            <button ng-click="view.onCancelClick($event)" class="btn btn-cancel">Cancel</button>
        </div>
        <h2 class="program-color tab-header" ng-show="!view.isLoading && !view.isSaving">Overview</h2>
    </div>
    <form name="form.programForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 title-label" for="program">
                Program Name <span class="asterisk"> *</span>
                <i style="margin-left:30px;"
                   class="material-icons md-18 material-icons-spin contextual-busy"
                   ng-show="view.isLoadingLikePrograms">autorenew</i>
            </label>
            <div class="col-md-10" ng-class="{ 'has-error': view.doesProgramExist, 'has-feedback': view.doesProgramExist}">
                <input name="name"
                       maxlength="{{view.maxNameLength}}"
                       ng-model-options="{debounce: 500}"
                       ui-validate-async="{unique: 'view.validateUniqueProgramName($value)'}"
                       ng-model="view.program.name"
                       type="text"
                       class="form-control"
                       placeholder="Enter program title..."
                       id="programName"
                       required />
                <div ng-show="!form.programForm.name.$error.required && !form.programForm.name.$error.unique">
                    <p class="mute" style="margin-top:5px;">{{view.program.name.length}} of {{view.maxNameLength}} characters remaining.</p>
                </div>
                <span class="form-control-feedback" style="margin-top:8px;" ng-show="view.doesProgramExist"><i class="material-icons md-24">error</i></span>
                <div ng-show="form.programForm.name.$dirty" class="error">
                    <div ng-show="form.programForm.name.$error.required">Please enter a program name.</div>
                    <div ng-show="form.programForm.name.$error.unique">This program already exists.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 title-label" for="description">Description <span class="asterisk"> *</span></label>
            <div class="col-md-10">
                <textarea name="description"
                          ng-model="view.program.description"
                          type="text"
                          id="description"
                          maxlength="{{view.maxDescriptionLength}}"
                          class="form-control"
                          placeholder="Enter program description..."
                          required />
                <p class="mute" style="margin-top:5px;">{{view.program.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>
                <div ng-show="form.programForm.description.$dirty">
                    <div class="error" ng-show="form.programForm.description.$error.required">Please enter a project description.</div>
                </div>
            </div>
        </div>
        <div class="row table">
            <h4 class="tab-subheader">Details</h4>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Status <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <select class="form-control"
                                id="status"
                                ng-options="s.id as s.name for s in view.programStatii"
                                ng-model="view.program.programStatusId" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="startDate">Start Date <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text"
                                   id="startDate"
                                   class="form-control"
                                   datepicker-popup="{{view.dateFormat}}"
                                   ng-model="view.program.startDate"
                                   is-open="view.isStartDatePickerOpen"
                                   ng-required="true"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="view.openStartDatePicker($event)">
                                    <i class="material-icons md-18">event</i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="endDate">End Date <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   id="endDate"
                                   datepicker-popup="{{view.dateFormat}}"
                                   ng-model="view.program.endDate"
                                   is-open="view.isEndDatePickerOpen"
                                   ng-required="true"
                                   min-date="view.program.startDate"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="view.openEndDatePicker($event)">
                                    <i class="material-icons md-18">event</i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">Themes<span class="asterisk"> *</span></div>
                    <div class="col-md-6">
                        <ui-select multiple
                                   close-on-select="true"
                                   name="themes"
                                   ng-model="view.selectedThemes"
                                   ui-validate="{minimum: 'view.validateMinimumThemes($value)'}"
                                   theme="select2" title="Choose a theme."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select themes...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="theme in view.themes | filter: {value: $select.search} track by theme.id">
                                <div ng-bind-html="theme.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.themes.$error.minimum">
                            <span class="error">Please select at least one theme.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">Goals<span class="asterisk"> *</span></div>
                    <div class="col-md-6">
                        <ui-select multiple
                                   name="goals"
                                   ui-validate="{minimum: 'view.validateMinimumGoals($value)'}"
                                   close-on-select="true"
                                   ng-model="view.selectedGoals"
                                   theme="select2"
                                   title="Choose a goal."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select goals...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="goal in view.goals | filter: {value: $select.search} track by goal.id">
                                <div ng-bind-html="goal.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.goals.$error.minimum">
                            <span class="error">Please select at least one goal.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">
                        <ng-pluralize count="view.program.regions.length" when="{'1':'Region','other':'Regions'}"></ng-pluralize>
                        <span class="asterisk"> *</span>
                    </div>
                    <div class="col-md-6">
                        <ui-select multiple
                                   name="regions"
                                   close-on-select="true"
                                   ng-model="view.selectedRegions"
                                   ui-validate="{minimum: 'view.validateMinimumRegions($value)'}"
                                   theme="select2"
                                   append-to-body="true"
                                   search-enabled="false"
                                   title="Choose a region."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select regions...">
                                <div>
                                    {{$item.value}}
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="region in view.regions | propsFilter: {name: $select.search} track by region.id">
                                <div ng-bind-html="region.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.regions.$error.minimum">
                            <span class="error">Please select at least one region.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <a class="pull-right" ng-click="view.addWebsite()"><i class="material-icons md-18">add</i></a>
                    <label class="col-md-3 title-label">Websites</label>
                    <div class="col-md-9">
                        <div ng-class="view.program.websites.length > 1 || (view.program.websites.length == 1 && website.value !== undefined) ? 'input-group' : ''" ng-repeat="website in view.program.websites track by $index">
                            <input class="form-control" type="text" ng-model="website.value" placeholder="Enter website address (e.g. http://www.google.com)...">
                            <span class="input-group-btn" ng-show="view.program.websites.length > 1 || (view.program.websites.length == 1 && website.value !== undefined)">
                                <button type="button" class="btn btn-default" ng-click="view.deleteWebsite($index)">
                                    <i class="material-icons md-18">delete</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 title-label">Office</div>
                    <div class="col-md-6">{{view.program.ownerName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">Parent Program</div>
                    <div class="col-md-6">
                        <ui-select ng-model="view.program.parentProgram"
                                   theme="select2"
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select a parent program...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices refresh="view.searchParentPrograms($select.search)"
                                               refresh-delay="250"
                                               group-by="'isCurrent'"
                                               repeat="program in view.parentPrograms track by program.programId">
                                <div>
                                    <span ng-bind-html="program.name | highlight: $select.search"></span>
                                </div>
                                <div class="small" style="margin-left:10px;">
                                    {{program.officeSymbol}}
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">{{view.categoryLabel}} <span class="asterisk" ng-show="view.isCategoryRequired"> *</span></div>
                    <div class="col-md-6">
                        <ui-select multiple close-on-select="true"
                                   name="categories"
                                   ng-model="view.selectedCategories"
                                   ui-validate="{minimum: 'view.validateMinimumCategories($value)', maximum: 'view.validateMaximumCategories($value)'}"
                                   theme="select2"
                                   title="Choose a category."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select categories...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices group-by="'focusName'" repeat="category in view.categories | filter: {value: $select.search} track by category.id">
                                <div ng-bind-html="category.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.categories.$error.minimum">
                            <span class="error">Please select at least one {{view.minimumRequiredFoci}} {{view.categoryLabel}}.</span>
                        </div>
                        <div ng-show="form.programForm.categories.$error.maximum">
                            <span class="error">You may only select up to {{view.maximumRequiredFoci}} {{view.categoryLabel}}.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label">{{view.objectiveLabel}} <span class="asterisk" ng-show="view.isObjectiveRequired"> *</span></div>
                    <div class="col-md-6">
                        <ui-select multiple
                                   name="objectives"
                                   close-on-select="true"
                                   ng-model="view.selectedObjectives"
                                   theme="select2"
                                   ui-validate="{minimum: 'view.validateMinimumObjectives($value)'}"
                                   title="Choose an objective."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select objectives...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices group-by="'justificationName'" repeat="objective in view.objectives | filter: {value: $select.search} track by objective.id">
                                <div ng-bind-html="objective.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.objectives.$error.minimum">
                            <span class="error">Please select at least one {{view.objectiveLabel}}.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 title-label"><ng-pluralize count="program.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact<span class="asterisk"> *</span></div>
                    <div class="col-md-6">
                        <ui-select multiple
                                   name="pointsOfContact"
                                   close-on-select="true"
                                   ng-model="view.selectedPointsOfContact"
                                   ui-validate="{minimum: 'view.validateMinimumPointsOfContact($value)'}"
                                   theme="select2"
                                   title="Choose a point of contact."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select points of contact...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>

                            <ui-select-choices refresh="view.searchPointsOfContact($select.search)" refresh-delay="250" repeat="person in view.pointsOfContact | filter: select.search track by person.id">
                                <div ng-bind-html="person.fullName | highlight: $select.search"></div>
                                <div class="small">{{person.position}}</div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.programForm.pointsOfContact.$error.minimum">
                            <span class="error">Please select at least one point of contact.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
