<h2 class="program-color tab-header">{{header}}</h2>
<div ng-show="subprograms.length">
    <h4 class="tab-subheader">Subprograms</h4>
    <ul class="branch-list">
        <li ng-repeat="subprogram in subprograms" class="branch">
            <span class="branch-title">{{subprogram.programType}}</span>
            <span class="branch-name"><a ui-sref="programs.overview({programId: subprogram.programId, officeId: subprogram.officeId})">{{ subprogram.displayName }}</a></span>
        </li>
    </ul>
</div>
<h4 class="tab-subheader">Projects List</h4>
<div class="row">
    <!--
    <input st-search type="search" placeholder="Search Projects" class="search-contextual" />
    <i class="glyphicon glyphicon-search contextual"></i>
    -->
    <button ng-click="modal.createProject = true" class="btn btn-success right col-sd-2">CREATE PROJECT</button>
</div>
<div st-pipe="getProjects" st-table="projects" id="sort-list">
    <table class="col-md-12 table">
        <thead>
            <tr>
                <th st-sort="'projectName'" st-sort-default="true" class="col-md-7 sort-label medium">Title</th>
                <th st-sort="'projectStatusName'" class="col-md-1 sort-label medium">Status</th>
                <th st-sort="'startYearAsString'" class="col-md-1 sort-label medium">Year</th>
                <th class="col-md-1 sort-label medium">Region</th>
                <th class="col-md-2">&nbsp;</th>
            </tr>
            <tr>
                <th>
                    <input st-search="'projectName'" placeholder="" type="search" class="input-lg form-control" />
                </th>
                <th>
                    <input st-search="'projectStatusName'" placeholder="" type="search" class="input-lg form-control" />
                </th>
                <th>
                    <input st-search="'startYearAsString'" placeholder="" type="search" class="input-lg form-control" />
                </th>
                <th>
                    <input st-search="'region'" placeholder="" type="search" class="input-lg form-control" />
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr ng-repeat="project in projects" class="hover" ng-show="!projectsLoading">
                <td>
                    <h5 class="list-title"><a ui-sref="projects.overview({officeId: program.ownerOrganizationId, programId: program.id, projectId: project.projectId})">{{project.projectName}}</a></h5>
                </td>
                <td style="vertical-align:middle;">{{project.projectStatusName}}</td>
                <td style="vertical-align:middle;">{{project.startYearAsString}}</td>
                <td style="vertical-align:middle;">{{project.locationNames[0]}}</td>
                <td style="vertical-align:middle;">
                    <div class="right" style="display:none;" showonparentrow>
                        <div class="copyEditDeleteOptions">
                            <i class="md md-content-copy md-2x copyEditDeleteOption" ng-show="!copyProgramLoading"></i>
                            <i class="fa fa-spinner fa-pulse fa-fw fa-2x" ng-show="copyProgramLoading"></i>
                        </div>
                        <div class="copyEditDeleteOptions">
                            <i class="md md-mode-edit md-2x copyEditDeleteOption" ng-show="!editProgramLoading"></i>
                            <i class="fa fa-spinner fa-pulse fa-fw fa-2x" ng-show="editProgramLoading"></i>
                        </div>
                        <div class="copyEditDeleteOptions">
                            <i class="md md-delete md-2x copyEditDeleteOption"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" ng-show="projectsLoading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="projects.length > 0"></div>
</div>
<modal-dialog show="modal.createProject" dialog-title="Create Project" on-open="modalSetPristine()" before-close="modalClose()" on-close="modalClear()">
    <div class="tip" ng-show="!isSavingProject">
        <img src="images/tip.png"><span class="strong">Did you know?</span> This is a draft. Only you can see this.
        <div class="required">* Marks required fields</div>
    </div>
    <div id="modal" class="row" ng-show="!isSavingProject" in-context-form>
        <div class="col-md-10">
            <form name="projectForm" ng-init="setFormScope(this)" novalidate>
                <div class="form-group">
                    <label>Project Title<span class="asterisk"> *</span></label>
                    <input name="projectTitle" ng-model="newProject.title" form-element guidance="This is the name of your project. (e.g. ETA Fulbright 2015)" type="text" class="form-control" placeholder="Enter project title..." required>
                    <div ng-show="projectForm.projectTitle.$dirty">
                        <div class="error" ng-show="projectForm.projectTitle.$error.required">Please enter a project name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Project Description<span class="asterisk"> *</span></label>
                    <textarea name="projectDescription" ng-model="newProject.description" form-element guidance="This briefly summarizes what this project is about." type="text" class="form-control" placeholder="Enter description..." required></textarea>
                    <span class="error" ng-show="projectForm.projectDescription.$error.required && projectForm.projectDescription.$dirty">Project description is required.</span>
                </div>
                <div ng-show="branches.length" class="form-group" form-element="click" guidance="Select the branch that this project is in. (If applicable)">
                    <label>Branch</label>
                    <multi-select input-model="branches"
                                  output-model="newProject.branch"
                                  button-label="displayName"
                                  item-label="displayName"
                                  tick-property="ticked"
                                  selection-mode="single"
                                  helper-elements="">
                    </multi-select>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
    <div class="spinner" ng-show="isSavingProject">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <button class="btn btn-default" ng-show="!isSavingProject" ng-click="createProject = !modalClose()">CANCEL</button>
    <button type="submit" form="projectForm" ng-show="!isSavingProject" ng-disabled="projectForm.projectDescription.$error.required" class="btn btn-success right" ng-click="saveProject()">CREATE</button>
</modal-dialog>
<modal-dialog show="confirmClose" dialog-title="Confirm Close" before-close="confirmCloseNo()">
    <p class="strong">There is unsaved data.  Are you sure you want to close?</p>
    <button class="btn btn-default right" ng-click="confirmCloseYes()">YES</button>
    &nbsp;
    <button class="btn btn-success right" ng-click="confirmCloseNo()">NO</button>
</modal-dialog>
<modal-dialog show="confirmSave" dialog-title="Project Created" before-close="confirmSaveYes()">
    <p class="strong">The project was created sucessfully!</p>
    <button class="btn btn-default right" ng-click="confirmSaveYes()">OK</button>
</modal-dialog>
<modal-dialog show="confirmFail" dialog-title="Error Saving Project" before-close="confirmFailOk()" on-close="">
    <p class="strong">There was an error saving the new project.</p>
    <p class="alert-warning">{{errorMessage}}</p>
    <div>
        <ul>
            <li class="alert-danger" ng-repeat="validation in validations">{{validation}}</li>
        </ul>
    </div>
    <button class="btn btn-default right" ng-click="confirmFailOk()">OK</button>
</modal-dialog>
