<h2 class="program-color tab-header">Branches &amp; Projects</h2>
<div ng-show="branches.length">
    <h4 class="tab-subheader">Branches</h4>
    <ul class="branch-list">
        <li ng-repeat="branch in branches" class="branch">
            <span class="branch-title">{{branch.programType}}</span>
            <span class="branch-name"><a ui-sref="programs.overview({programId: branch.programId, officeId: branch.officeId})">{{ branch.displayName }}</a></span>
        </li>
    </ul>
</div>
<div ng-show="subprograms.length">
    <h4 class="tab-subheader">Subprograms</h4>
    <ul class="branch-list">
        <li ng-repeat="subprogram in subprograms" class="branch">
            <span class="branch-title">{{subprogram.programType}}</span>
            <span class="branch-name"><a ui-sref="programs.overview({programId: subprogram.programId, officeId: subprogram.officeId})">{{ subprogram.displayName }}</a></span>
        </li>
    </ul>
</div>
<h4 class="tab-subheader">Projects List</h4>
<div st-table="projectsCopy" st-safe-src="projects" class="row">
    <input st-search type="search" placeholder="Search Projects" class="search-contextual" />
    <i class="glyphicon glyphicon-search contextual"></i>
    <button ng-click="modal.createProject = true" class="btn btn-success right col-sd-2">CREATE PROJECT</button>
    <div id="sort-list">
        <table class="col-md-12">
            <thead>
                <tr>
                    <th st-sort="'name'" st-sort-default="true" class="col-md-7 sort-label medium">Title</th>
                    <th st-sort="'status'" class="col-md-1 sort-label medium">Status</th>
                    <th st-sort="'startDate'" class="col-md-1 sort-label medium">Year</th>
                    <th st-sort="'region'" class="col-md-1 sort-label medium">Region</th>
                    <th class="col-md-2">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="list2">
                <tr ng-repeat="project in projectsCopy" class="hover">
                    <td>
                        <h5 class="list-title"><a ui-sref="projects.overview({officeId: program.owner.organizationId, programId: program.programId, projectId: project.projectId})">{{project.name}}</a></h5>
                    </td>
                    <td>{{project.status}}</td>
                    <td>{{project.startDate | date: 'yyyy'}}</td>
                    <td>{{project.region}}</td>
                    <td>
                        <img class="icon" src="images/duplicateA.png" alt="">
                        <img class="icon" src="images/editA.png" alt="">
                        <img class="icon" src="images/trash.png" alt="">
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-pagination="" st-items-by-page="25" st-displayed-pages="10"></div>
    </div>
</div>
<modal-dialog show="modal.createProject" dialog-title="Create Project" before-close="modalClose()" on-close="modalClear()">
    <div class="tip">
        <img src="images/tip.png"><span class="strong">Did you know?</span> This is a draft. Only you can see this.
        <div class="required">* Marks required fields</div>
    </div>
    <div id="modal" class="row" in-context-form>
        <div class="col-md-10">
            <form name="projectForm" novalidate>
                <div class="form-group">
                    <label>Project Title<span class="asterisk"> *</span></label>
                    <input name="projectTitle" ng-model="newProject.title" form-element guidance="This is the name of your project. (e.g. ETA Fulbright 2015)" type="text" class="form-control" placeholder="Enter project title..." required>
                    <div ng-show="projectForm.projectTitle.$dirty">
                        <div class="error" ng-show="projectForm.projectTitle.$error.required">Please enter a project name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Project Description<span class="asterisk"> *</span></label>
                    <textarea name="projectDescription" ng-model="newProject.description" form-element guidance="This briefly summarizes what this project is about." type="text" class="form-control" placeholder="Enter description..." required></textarea>
                    <span class="error" ng-show="projectForm.projectDescription.$error.required && projectForm.projectDescription.$dirty">Project description is required.</span>
                </div>
                <div ng-show="branches.length" class="form-group" form-element="click" guidance="Select the branch that this project is in. (If applicable)">
                    <label>Branch</label>
                    <multi-select input-model="branches"
                                  output-model="newProject.branch"
                                  button-label="displayName"
                                  item-label="displayName"
                                  tick-property="ticked"
                                  selection-mode="single"
                                  helper-elements="">
                    </multi-select>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
    <button class="btn btn-default" ng-click="modal.createProject = !modalClose()">CANCEL</button>
    <button type="submit" form="projectForm" ng-disabled="projectForm.projectDescription.$error.required" class="btn btn-success right" ng-click="saveProject()">CREATE</button>
</modal-dialog>
