
.hotspot {
  background-color: #bada55; 
  height: 36px;
  min-width: 30px;
  opacity: .5;
  position: absolute;
}

.placehold {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1024px;
}

.collab-drop {
  height: 529px;
  position: absolute;
  right: 6px;
  top: 60px;
  width: 407px;
}

.btn-dropdown {
  height: 130px;
  left: 39px;
  position: absolute;
  top: 52px;
  width: 190px;
}

.cleared-overlay {
  height: 423px;
  position: absolute;
  right: 64px;
  top: 339px;
  width: 386px;
}
