@import "colors.less";

.ColorRow {
    padding-bottom: 10px;
}

.ColorSquare {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    color: black;
    line-height: 200px;
}

.ColorSquare span {
    background-color: white;
    border: 2px solid white;
}

.color-palette-blue-1 {
    background-color: @blue-1;
}

.color-palette-blue-1-hover {
    background-color: @blue-1-hover;
}

.color-palette-blue-1-disabled {
    background-color: @blue-1-disabled;
}

.color-palette-blue-2 {
    background-color: @blue-2;
}

.color-palette-blue-2-hover {
    background-color: @blue-2-hover;
}

.color-palette-pdip-blue {
    background-color: @pdip-blue;
}

.color-palette-blue-4 {
    background-color: @blue-4;
}

.color-palette-gray-1 {
    background-color: @gray-1;
}

.color-palette-gray-2 {
    background-color: @gray-2;
}

.color-palette-yellow-1 {
    background-color: @yellow-1;
}

.color-palette-yellow-2 {
    background-color: @yellow-2;
}

.color-palette-error-red {
    background-color: @error-red;
}

.color-palette-danger-red {
    background-color: @danger-red;
}

.color-palette-danger-red-hover {
    background-color: @danger-red-hover;
}
