################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/ECA.Console/bin/Debug
/App/ECA.Console/obj/Debug
/App/ECA.Data/bin/Debug
/App/ECA.Data/bin/Debug
/App/ECA.WebApi/bin
/App/ECA.WebApp/bin
/App/ECA.WebApp/obj/Debug/ECA.WebApp.csproj.FileListAbsolute.txt
/App/ECA.WebApp/obj/Debug/ECA.WebApp.csprojResolveAssemblyReference.cache
/App/ECA.WebApp/obj/Debug/ECA.WebApp.dll
/App/ECA.WebApp/obj/Debug/ECA.WebApp.pdb
/App/ECA.Data/obj/Debug
/App/ECA.WebApi/obj/Debug/ECA.WebApi.csproj.FileListAbsolute.txt
/App/ECA.WebApi/obj/Debug/ECA.WebApi.csprojResolveAssemblyReference.cache
/App/ECA.WebApi/obj/Debug/ECA.WebApi.dll
/App/ECA.WebApi/obj/Debug/ECA.WebApi.pdb
*.suo
/App/ECA.Database/ECA.Database.dbmdl
/App/ECA.Database/bin/Debug
/App/ECA.Database/obj/Debug
/App/ECA.WebApi.Azure/bin/Debug
/App/ECA.WebApi.Azure/obj/Debug
/App/ECA.WebApp.Azure/bin/Debug
/App/ECA.WebApp.Azure/obj/Debug
/App/ECA.WebApi/obj/Debug
/App/ECA.WebApi.Azure/csx/Debug
/App/ECA.WebApp/obj/Debug
/App/ECA.WebApp.Azure/csx/Debug
/App/ECA.WebApi/obj/Release
*.user
/App/ECA.Database/Data Migration/ChangePersonIdToIdentity.sql
