<div class="spinner" ng-show="editView.isLoading || editView.isSaving || editView.isLoadingOfficeSetting">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div ng-show="!editView.isLoading && !editView.isSaving && !editView.isLoadingOfficeSetting" in-context-form>
    <div>
        <div class="pull-right">
            <button ng-click="editView.onSaveClick($event)" ng-disabled="form.projectForm.$invalid" class="btn btn-success">Save</button>
            <button ng-click="editView.onCancelClick($event)" class="btn btn-cancel">Cancel</button>
        </div>
        <h2 class="project-color tab-header" ng-show="!editView.isLoading && !editView.isSaving">Overview</h2>
    </div>
    <form name="form.projectForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 title-label" for="projectName">Project Name <eca-required /></label>
            <div class="col-md-10">
                <input name="name"
                       ng-model="project.name"
                       form-element guidance="This is the name of your project."
                       type="text"
                       class="form-control"
                       placeholder="Enter project title..."
                       id="projectName"
                       required />
                <p class="mute" style="margin-top:5px;">{{project.name.length}} of {{editView.maxNameLength}} characters remaining.</p>
                <div ng-show="form.projectForm.name.$dirty">
                    <div class="error" ng-show="form.projectForm.name.$error.required">Please enter a project name.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 title-label" for="description">Description <eca-required /></label>
            <div class="col-md-10">
                <textarea name="description"
                          ng-model="project.description"
                          form-element guidance="This is the description of your project."
                          type="text"
                          id="description"
                          class="form-control"
                          rows="7"
                          placeholder="Enter project description..."
                          required />
                <p class="mute" style="margin-top:5px;">{{project.description.length}} of {{editView.maxDescriptionLength}} characters remaining.</p>
                <div ng-show="form.projectForm.description.$dirty">
                    <div class="error" ng-show="form.projectForm.description.$error.required">Please enter a project description.</div>
                </div>
            </div>
        </div>
        <div class="row tags">
            <span ng-repeat="tag in project.tags" class="tag">#{{tag}}</span>
        </div>
        <div class="row table">
            <h4 class="tab-subheader">Details</h4>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Status <eca-required /></label>
                    <div class="col-md-9">
                        <select class="form-control" id="status" ng-options="s.id as s.name for s in editView.projectStati" ng-model="project.projectStatusId" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="startDate">Start Date <eca-required /></label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text"
                                   id="startDate"
                                   class="form-control"
                                   datepicker-popup="{{editView.dateFormat}}"
                                   ng-model="project.startDate"
                                   is-open="editView.isStartDatePickerOpen"
                                   ng-required="true"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="editView.openStartDatePicker($event)"><i class="material-icons md-18">event</i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="endDate">End Date <eca-required /></label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   id="endDate"
                                   datepicker-popup="{{editView.dateFormat}}"
                                   ng-model="project.endDate"
                                   is-open="editView.isEndDatePickerOpen"
                                   ng-required="true"
                                   min-date="project.startDate"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="editView.openEndDatePicker($event)"><i class="material-icons md-18">event</i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 title-label">Visitor Type</div>
                    <div class="col-md-9">
                        <ui-select search-enabled="false" close-on-select="true" ng-model="project.visitorTypeId" theme="select2" title="Choose a visitor type." style="min-width: 200px;" on-select="editView.visitorTypeSelected($select.selected.id)">
                            <ui-select-match placeholder="Select visitor type...">
                                <div>{{$select.selected.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="visitorType.id as visitorType in editView.visitorTypes">
                                <div ng-bind-html="visitorType.value"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row" ng-if="project.visitorTypeId === constants.visitorType.exchangeVisitor.id">
                    <label class="col-md-3 title-label" for="sevisOrgId">SEVIS Program Id</label>
                    <div class="col-md-9">
                        <input name="sevisOrgId"
                               ng-model="project.sevisOrgId"
                               form-element guidance="The Id number of this project's SEVIS program"
                               type="text"
                               id="sevisOrgId"
                               class="form-control"
                               placeholder="Enter SEVIS Program Id..." />
                        <p class="mute" style="margin-top:5px;">{{project.sevisOrgId.length}} of {{editView.maxSevisOrgLength}} characters remaining.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-3 title-label">Office</div>
                    <div class="col-md-9">{{project.ownerName}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 title-label">Program</div>
                    <div class="col-md-9">{{project.programName}}</div>
                </div>
                <div class="form-group row" ng-show="editView.showCategoryFocus">
                    <div class="col-md-3 title-label">{{editView.categoryLabel}} <eca-required /></div>
                    <div class="col-md-9">
                        <ui-select multiple
                                   name="categories"
                                   close-on-select="true"
                                   ng-model="editView.selectedCategories"
                                   ui-validate="{minimum: 'editView.validateMinimumCategories($value)', maximum: 'editView.validateMaximumCategories($value)'}"
                                   theme="select2"
                                   ng-model-options="{allowInvalid: true}"
                                   title="Choose a category."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select categories...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices group-by="'focusName'" repeat="category in editView.categories | filter: $select.search track by category.value">
                                <div ng-bind-html="category.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.projectForm.categories.$error.minimum">
                            <span class="error">Please select at least {{editView.minimumRequiredFoci}} {{editView.categoryLabel}}.</span>
                        </div>
                        <div ng-show="form.projectForm.categories.$error.maximum">
                            <span class="error">You may only select up to {{editView.maximumRequiredFoci}} {{editView.categoryLabel}}.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row" ng-show="editView.showObjectiveJustification">
                    <div class="col-md-3 title-label">{{editView.objectiveLabel}} <eca-required /></div>
                    <div class="col-md-9">
                        <ui-select multiple
                                   name="objectives"
                                   close-on-select="true"
                                   ng-model="editView.selectedObjectives"
                                   theme="select2"
                                   title="Choose an objective."
                                   ui-validate="{minimum: 'editView.validateMinimumObjectives($value)'}"
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select objectives...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices group-by="'justificationName'" repeat="objective in editView.objectives | filter: $select.search track by objective.value">
                                <div ng-bind-html="objective.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="form.projectForm.objectives.$error.minimum">
                            <span class="error">Please select at least one {{editView.objectiveLabel}}.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-if="project.visitorTypeId === constants.visitorType.exchangeVisitor.id">
                    <div class="form-group row">
                        <div class="col-md-3 title-label">Sevis Funding</div>
                        <div class="col-md-9">
                            <a ng-click="showSevisFunding = !showSevisFunding">
                                <i class="material-icons md-dark md-24 pull-right" ng-show="showSevisFunding">expand_more</i>
                                <i class="material-icons md-dark md-24 pull-right ng-hide" ng-show="!showSevisFunding">expand_less</i>
                            </a>
                        </div>
                    </div>
                    <div ng-show="showSevisFunding">
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Sponsor</div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingSponsor" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Personal</div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingPersonal" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Vis. Gov't</div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingVisGovt" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Vis. BNC</div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingVisBNC" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label"></div>
                            <div class="col-md-3 title-label mute">Name</div>
                            <div class="col-md-3 title-label mute">Other Name</div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Gov't Agency 1</div>
                            <div class="col-md-3">
                                <ui-select ng-model="editView.sevisFunding.govtAgency1Id" theme="select2">
                                    <ui-select-match placeholder="Select a US Government Agency..." allow-clear="true">{{$select.selected.description}}</ui-select-match>
                                    <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in editView.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                                        <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="editView.sevisFunding.govtAgency1OtherName" maxlength="60" ng-show="editView.showOtherInput(editView.sevisFunding.govtAgency1Id, constants.otherUSGovernmentAgencyId, 'govtAgency1OtherName')" />
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingGovtAgency1" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Gov't Agency 2</div>
                            <div class="col-md-3">
                                <ui-select ng-model="editView.sevisFunding.govtAgency2Id" theme="select2">
                                    <ui-select-match placeholder="Select a US Government Agency..." allow-clear="true">{{$select.selected.description}}</ui-select-match>
                                    <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in editView.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                                        <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="editView.sevisFunding.govtAgency2OtherName" maxlength="60" ng-show="editView.showOtherInput(editView.sevisFunding.govtAgency2Id, constants.otherUSGovernmentAgencyId, 'govtAgency2OtherName')" />
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingGovtAgency2" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Int'l Org 1</div>
                            <div class="col-md-3">
                                <ui-select ng-model="editView.sevisFunding.intlOrg1Id" theme="select2">
                                    <ui-select-match placeholder="Select an International Organization..." allow-clear="true">{{$select.selected.description}}</ui-select-match>
                                    <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in editView.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                                        <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="editView.sevisFunding.intlOrg1OtherName" maxlength="60" ng-show="editView.showOtherInput(editView.sevisFunding.intlOrg1Id, constants.otherInternationalOrganizationId, 'intlOrg1OtherName')" />
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingIntlOrg1" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Int'l Org 2</div>
                            <div class="col-md-3">
                                <ui-select ng-model="editView.sevisFunding.intlOrg2Id" theme="select2">
                                    <ui-select-match placeholder="Select an International Organization..." allow-clear="true">{{$select.selected.description}}</ui-select-match>
                                    <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in editView.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                                        <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="editView.sevisFunding.intlOrg2OtherName" maxlength="60" ng-show="editView.showOtherInput(editView.sevisFunding.intlOrg2Id, constants.otherInternationalOrganizationId, 'intlOrg2OtherName')" />
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingIntlOrg2" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Other Org</div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="editView.sevisFunding.otherName" />
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" ng-model="editView.sevisFunding.fundingOther" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2 title-label">Total</div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3 input-group">
                                <span class="input-group-addon" style="color: #20292b;">$</span>
                                <input type="number" class="form-control" value="{{editView.getSevisFundingTotal()}}" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row" ng-show="editView.dataPointConfigurations[constants.dataPointProperty.themes.id]">
                    <div class="col-md-3 title-label">Themes</div>
                    <div class="col-md-9">
                        <ui-select multiple close-on-select="false" ng-model="editView.selectedThemes" theme="select2" title="Choose a theme." style="min-width: 200px;">
                            <ui-select-match placeholder="Select themes...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="theme in editView.themes | filter: $select.search track by theme.value">
                                <div ng-bind-html="theme.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row" ng-show="editView.dataPointConfigurations[constants.dataPointProperty.goals.id]">
                    <div class="col-md-3 title-label">Strategic Goals</div>
                    <div class="col-md-9">
                        <ui-select multiple close-on-select="false" ng-model="editView.selectedGoals" theme="select2" title="Choose a goal." style="min-width: 200px;">
                            <ui-select-match placeholder="Select goals...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>

                            <ui-select-choices repeat="goal in editView.goals | filter: $select.search track by goal.value">
                                <div ng-bind-html="goal.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row" ng-show="project.regions && editView.dataPointConfigurations[constants.dataPointProperty.regions.id]">
                    <div class="col-md-3 title-label">
                        <ng-pluralize count="project.regions.length" when="{'1':'Region','other':'Regions'}"></ng-pluralize>
                    </div>
                    <div class="col-md-9">
                        <ui-select multiple
                                   id="{{editView.locationUiSelectId}}"
                                   ng-model="editView.selectedRegions"
                                   close-on-select="false"
                                   theme="select2"
                                   search-enabled="false"
                                   title="Choose a Region."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select regions...">
                                <div>
                                    {{$item.value}}
                                </div>
                            </ui-select-match>
                            <ui-select-choices refresh="editView.searchRegions($select.search)"
                                               refresh-delay="250" repeat="region in editView.regions | filter: select.search track by region.id">
                                <div ng-bind-html="region.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">  <!--ng-show="project.contacts"-->
                    <div class="col-md-3 title-label"><ng-pluralize count="project.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
                    <div class="col-md-9">                        
                        <pointsofcontact model="editView.selectedPointsOfContact" modelid="$stateParams.projectId" modeltype="'project'" editmode="true" />                        
                    </div>
                </div>
                <div class="form-group row" ng-show="project.locations && editView.dataPointConfigurations[constants.dataPointProperty.locations.id]">
                    <div class="col-md-3 title-label">
                        <ng-pluralize count="project.locations.length" when="{'1':'Location','other':'Locations'}"></ng-pluralize>
                    </div>
                    <div class="col-md-9">
                        <ui-select multiple
                                   id="{{editView.locationUiSelectId}}"
                                   close-on-select="true"
                                   ng-model="editView.selectedLocations"
                                   theme="select2"
                                   search-enabled="false"
                                   title="Choose a location."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select locations...">
                                <div>
                                    {{$item.value}} ({{$item.locationTypeName}}:  {{$item.divisionIso ? $item.divisionIso + ', ' : ''}}{{$item.countryIso ? $item.countryIso : $item.locationIso}})
                                </div>
                            </ui-select-match>
                            <ui-select-choices refresh="editView.searchLocations($select.search)"
                                               refresh-delay="250" repeat="location in editView.locations | filter: select.search track by location.id">
                                <div ng-bind-html="location.name | highlight: $select.search"></div>
                                <div style="margin-left:10px;" class="small" ng-show="location.locationTypeName">{{location.locationTypeName}}</div>
                                <div style="margin-left:10px;" class="small" ng-show="location.city">{{location.city}}</div>
                                <div style="margin-left:10px;" class="small" ng-show="location.division">{{location.division}}</div>
                                <div style="margin-left:10px;" class="small" ng-show="location.country">{{location.country}}</div>
                            </ui-select-choices>
                        </ui-select>
                        <div style="margin-top:5px;">
                            <button class="btn btn-default" ng-click="editView.onAdvancedSearchClick()">Advanced <i class="material-icons md-dark">search</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
