<div ng-controller="ItineraryStopCtrl" id="{{view.getDivId(view.itineraryStop)}}">
    <div ng-show="!view.isInEditMode">
        <div class="row itinerary-stop-header" style="height:90px;">
            <div class="col-md-10" >
                <div class="col-md-3" style="margin-top:20px;">
                    <h3 style="white-space: nowrap; overflow: hidden;text-overflow:ellipsis;">{{view.itineraryStop.name}}</h3>
                </div>
                <div class="col-md-3" style="margin-top:10px;">
                    <div class="col-md-3">
                        <i class="material-icons md-24">event</i>
                    </div>
                    <div class="col-md-9">
                        <div class="title-label" style="color: white;">
                            Arrival
                        </div>
                        <div>
                            {{view.itineraryStop.destinationArrivalMomentAsString}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:10px;">
                    <div class="col-md-3">
                        <i class="material-icons md-24">event</i>
                    </div>
                    <div class="col-md-9">
                        <div class="title-label" style="color: white;">
                            Departure
                        </div>
                        <div>
                            {{view.itineraryStop.destinationDepartureMomentAsString}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:10px;">
                    <div class="col-md-3">
                        <i class="material-icons md-24">person</i>
                    </div>
                    <div class="col-md-9">
                        <div class="title-label" style="color: white;">
                            Participants
                        </div>
                        <div>
                            {{view.itineraryStop.participantsCount}} of {{view.itinerary.participantsCount}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:18px;">
                <div class="right">
                    <div class="col-md-3">
                        <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onEditClick(view.itineraryStop)" ng-show="!view.isLoadingRequiredData">edit</i>
                    </div>
                    <div class="col-md-3">
                        <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onCommentClick(view.itineraryStop)" ng-show="!view.isLoadingRequiredData">mode_comment</i>
                    </div>
                    <div class="col-md-3">
                        <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onDeleteClick(view.itineraryStop)" ng-show="!view.isLoadingRequiredData">delete</i>
                    </div>
                    <div class="col-md-3">
                        <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onExpandItineraryStopClick(view.itineraryStop)" ng-show="!view.itineraryStop.isExpanded">expand_more</i>
                        <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onCollapseItineraryStopClick(view.itineraryStop)" ng-show="view.itineraryStop.isExpanded">expand_less</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list2 itinerary-stop-container">
            <div ng-show="view.itineraryStop.isExpanded">
                <div class="row row2">
                    <h3>{{view.itineraryStop.name}}</h3>
                </div>
            </div>

            <div class="row row2">
                <div class="col-md-4">
                    <div class="pull-left" style="margin-right: 10px;">
                        <i class="material-icons md-dark md-18">location_on</i>
                    </div>
                    <div class="title-label">
                        City Stop Destination
                    </div>
                </div>
                <div class="col-md-8">
                    {{view.itineraryStop.destinationLocation.name}}{{view.itineraryStop.destinationLocation.division ? ', ' + view.itineraryStop.destinationLocation.division : ''}}{{view.itineraryStop.destinationLocation.country ? ' ' + view.itineraryStop.destinationLocation.country : ''}}
                </div>
            </div>
            <div ng-show="view.itineraryStop.isExpanded">
                <div class="row row2" ng-show="view.itineraryStop.participants">
                    <div class="col-md-4">
                        <div class="pull-left" style="margin-right: 10px;">
                            <i class="material-icons md-dark md-18">person</i>
                        </div>
                        <div class="title-label">
                            Participants
                        </div>
                    </div>
                    <div class="col-md-3 title-label">
                        Traveling From
                    </div>
                    <div class="col-md-3 title-label">
                        Arriving
                    </div>
                    <div class="col-md-2 title-label">
                        &nbsp;
                    </div>
                </div>
                <div class="row row2 hover" ng-repeat="participant in view.itineraryStop.participants">
                    <div class="col-md-4">
                        <h5 style="white-space: nowrap; overflow: hidden;text-overflow:ellipsis;margin-left:20px;"><a ui-sref="people.personalinformation({personId: participant.personId})">{{participant.fullName}}</a></h5>
                    </div>
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-2 text-right">
                        <i class="material-icons md-dark md-18 rotate-quarter-turn-clockwise">flight</i>
                        <a>Itinerary Information</a>
                    </div>
                </div>
            </div>
            <div class="text-center itinerary-stop-bottom-bar" style="margin-top:5px;cursor:pointer;" ng-click="view.onExpandItineraryStopClick(view.itineraryStop)" ng-show="!view.itineraryStop.isExpanded">
                <i class="material-icons md-dark md-18">expand_more</i>
            </div>
            <div class="text-center itinerary-stop-bottom-bar" style="margin-top:5px;cursor:pointer;" ng-click="view.onCollapseItineraryStopClick(view.itineraryStop)" ng-show="view.itineraryStop.isExpanded">
                <i class="material-icons md-dark md-18">expand_less</i>
            </div>
        </div>
    </div>
    <div ng-if="view.isInEditMode">
        <div ng-show="view.isSavingItineraryStop">
            <div class="row" style="margin-top:15px;">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <form name="form.editItineraryStopForm" ng-show="!view.isSavingItineraryStop">
            <div>
                <div class="itinerary-header">
                    <div class="row">
                        <div class="col-md-8" style="margin-top:19px;">
                            <input class="form-control"
                                   name="name"
                                   maxlength="{{view.maxNameLength}}"
                                   required
                                   ng-model="view.itineraryStop.name" />
                        </div>
                        <div class="col-md-4 text-right" style="margin-top:19px;">
                            <button class="btn btn-success" ng-disabled="form.editItineraryStopForm.$invalid" ng-click="view.onSaveClick(view.itineraryStop)">Save</button>
                            <button class="btn btn-default" ng-click="view.onCancelClick(view.itineraryStop)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row itinerary-container">
                <div class="col-md-12">
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">location_on</i>
                                    <h5 class="title-label">Destination of this City Stop<span class="asterisk"> *</span></h5>
                                </div>
                                <div style="padding-top:9px;">
                                    <ui-select ng-model="view.itineraryStop.destinationLocation"
                                               id="source"
                                               name="source"
                                               on-select="view.onDestinationSelect($item, $model)"
                                               search-enabled="true"
                                               reset-search-input="false"
                                               theme="select2"
                                               ng-required="false">
                                        <ui-select-match placeholder="Select a destination location...">
                                            {{$select.selected.name}}{{$select.selected.division ? ', ' + $select.selected.division : ''}}{{$select.selected.country ? ' ' + $select.selected.country : ''}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="location in view.destinationLocations" refresh="view.getDestinationLocations($select.search)">
                                            <div ng-bind-html="location.name | highlight: $select.search"></div>
                                            <div style="margin-left:10px;" class="small" ng-show="location.division">{{location.division}}</div>
                                            <div style="margin-left:10px;" class="small" ng-show="location.country">{{location.country}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">event</i>
                                    <h5 class="title-label">Date and Time of Arrival</h5>
                                </div>
                                <div class="form-group" style="padding-top:9px;">
                                    <p class="input-group">
                                        <input name="arrivalDate"
                                               type="text"
                                               class="form-control"
                                               datepicker-popup="dd-MMMM-yyyy"
                                               show-weeks="false"
                                               ng-model="view.arrivalDate"
                                               is-open="view.isArrivalDateOpen"
                                               ng-change="view.onArrivalDateChange(view.itineraryStop)"
                                               close-text="Close"
                                               min-date="view.itinerary.startDate"
                                               max-date="view.itineraryStop.departureDate < view.itinerary.endDate ? view.itineraryStop.departureDate : view.itinerary.endDate"
                                               placeholder="Enter arrival date..."
                                               ng-required="true" />
                                        <span class="input-group-btn" style="width:0;">
                                            <button type="button" class="btn btn-default" ng-click="view.openArrivalDate($event)"><i class="material-icons md-18">event</i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="timepicker" style="margin-top:8px;">
                                        <timepicker ng-model="view.arrivalTime"
                                                    ng-change="view.onArrivalTimeChange(view.itineraryStop)"
                                                    hour-step="1"
                                                    minute-step="1"
                                                    show-meridian="true">
                                        </timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">timelapse</i>
                                    <h5 class="title-label">
                                        Timezone of this City Stop
                                        <a ng-click="view.onClickCurrentTimezone(view.currentTimezone)">(My timezone:  {{view.currentTimezone}})</a>
                                    </h5>
                                </div>
                                <div  style="padding-top:8px;">
                                    <ui-select ng-model="view.itineraryStop.timezoneId"
                                               id="timezone"
                                               name="timezone"
                                               search-enabled="true"
                                               reset-search-input="false"
                                               theme="select2"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select the timezone of the destination location...">
                                            {{view.itineraryStop.timezoneId}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="tz in view.timezoneNames | filter: $select.search">
                                            <div ng-bind-html="tz | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div ng-show="form.itineraryStopForm.timezone.$dirty">
                                    <div class="error" ng-show="form.itineraryStopForm.timezone.$error.required">Please select the destination location timezone.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">event</i>
                                    <h5 class="title-label">Date and Time of Departure</h5>
                                </div>
                                <div class="form-group" style="padding-top:8px;"> 
                                    <p class="input-group">
                                        <input name="endDate"
                                               type="text"
                                               class="form-control"
                                               datepicker-popup="dd-MMMM-yyyy"
                                               show-weeks="false"
                                               ng-model="view.departureDate"
                                               ng-change="view.onDepartureDateChange(view.itineraryStop)"
                                               is-open="view.isDepartureDateOpen"
                                               close-text="Close"
                                               placeholder="Enter end date..."
                                               min-date="view.itineraryStop.arrivalDate"
                                               max-date="view.itinerary.endDate"
                                               ng-required="true" />
                                        <span class="input-group-btn" style="width:0;">
                                            <button type="button" class="btn btn-default" ng-click="view.openDepartureDate($event)"><i class="material-icons md-18">event</i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="timepicker" style="margin-top:8px;">
                                        <timepicker ng-model="view.departureTime"
                                                    ng-change="view.onDepartureTimeChange(view.itineraryStop)"
                                                    hour-step="1"
                                                    minute-step="1"
                                                    show-meridian="true">
                                        </timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>