<div ng-controller="ItineraryCtrl">
    <h2 class="project-color tab-header">Travel</h2>
    <div class="row" style="margin-bottom:10px;">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="view.onNewTravelingPeriodClick()" ng-show="permissions.editProject" ng-disabled="view.isLoading">New Traveling Period</button>
        </div>
    </div>
    <div ng-repeat="travelPeriod in view.travelPeriods">
        <div>
            <ng-include src="'app/projects/itineraries.travelperiod.html'" />
        </div>
    </div>
</div>