<div ng-controller="ItineraryCtrl" class="itinerary" style="margin-bottom:100px;" id="{{view.getDivId(view.itinerary)}}">
    <div ng-show="!view.isInEditMode">
        <div>
            <div class="itinerary-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3 style="margin-top:22px; margin-left:20px;white-space: nowrap; overflow: hidden;text-overflow:ellipsis;">{{view.itinerary.name}}</h3>
                    </div>
                    <div class="col-md-2">
                        <div class="right" style="margin-top:22px;">
                            <div class="col-md-4">
                                <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onEditClick(view.itinerary)" ng-show="!view.isLoadingRequiredData">edit</i>
                            </div>
                            <div class="col-md-4">
                                <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onCommentClick(view.itinerary)" ng-show="!view.isLoadingRequiredData">mode_comment</i>
                            </div>
                            <div class="col-md-4">
                                <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.onDeleteClick(view.itinerary)" ng-show="!view.isLoadingRequiredData">delete</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row itinerary-container" ng-show="view.isLoadingRequiredData || view.isSaving">
            <div class="row" style="margin-top:15px;">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <div class="row itinerary-container" ng-show="!view.isLoadingRequiredData && !view.isSaving" style="padding-bottom: 20px;">
            <div class="col-md-11">
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-3">
                        <div class="col-md-4 text-right">
                            <i class="material-icons md-dark md-24">group</i>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <h5 class="title-label text-right">Groups</h5>
                            </div>
                            <div>
                                <p class="text-right">{{view.itinerary.groupsCount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-2 text-right">
                            <i class="material-icons md-dark md-24">flight_land</i>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <h5 class="title-label text-right">Groups Arrive To</h5>
                            </div>
                            <div>
                                <div class="text-right">
                                    {{view.itinerary.arrivalLocation.name}}
                                </div>
                                <div class="text-right mute">
                                    ({{view.itinerary.arrivalLocation.locationTypeName}}:  {{view.itinerary.arrivalLocation.divisionIso ? view.itinerary.arrivalLocation.divisionIso + ', ' : ''}}{{view.itinerary.arrivalLocation.countryIso ? view.itinerary.arrivalLocation.countryIso : view.itinerary.arrivalLocation.locationIso}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-2 text-right">
                            <i class="material-icons md-dark md-24">event</i>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <h5 class="title-label text-right">By This Start Date</h5>
                            </div>
                            <div>
                                <p class="text-right">{{view.itinerary.startDate | date:'MMMM dd, yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-primary" ng-show="!view.isLoadingRequiredData" ng-click="view.onAddItineraryStopClick(view.itinerary)">Add City Stop</button>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-3">
                        <div class="col-md-4 text-right">
                            <i class="material-icons md-dark md-24">person</i>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <h5 class="title-label text-right">Participants</h5>
                            </div>
                            <div>
                                <p class="text-right">{{view.itinerary.participantsCount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-2 text-right">
                            <i class="material-icons md-dark md-24">flight_takeoff</i>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <h5 class="title-label text-right">Groups Depart To</h5>
                            </div>
                            <div>
                                <div>
                                    <div class="text-right">
                                        {{view.itinerary.departureLocation.name}}
                                    </div>
                                    <div class="text-right mute">
                                        ({{view.itinerary.departureLocation.locationTypeName}}:  {{view.itinerary.departureLocation.divisionIso ? view.itinerary.departureLocation.divisionIso + ', ' : ''}}{{view.itinerary.departureLocation.countryIso ? view.itinerary.departureLocation.countryIso : view.itinerary.departureLocation.locationIso}})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-2 text-right">
                            <i class="material-icons md-dark md-24">event</i>
                        </div>
                        <div class="col-md-10">
                            <div>
                                <h5 class="title-label text-right">At This End Date</h5>
                            </div>
                            <div>
                                <p class="text-right">{{view.itinerary.endDate | date:'MMMM dd, yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-primary" ng-show="!view.isLoadingRequiredData">Manage Groups</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 right" ng-show="!view.isItineraryExpanded">
                <div style="cursor:pointer" ng-click="view.onItineraryExpandClick(view.itinerary)">
                    <div style="margin-top:45px;">
                        <i class="material-icons md-dark md-24">expand_more</i>
                    </div>
                    <div style="margin-top:-24px;">
                        <i class="material-icons md-dark md-24">expand_more</i>
                    </div>
                </div>
            </div>
            <div class="col-md-1 right" ng-show="view.isItineraryExpanded">
                <div style="cursor:pointer" ng-click="view.onItineraryCollapseClick(view.itinerary)">
                    <div style="margin-top:45px;">
                        <i class="material-icons md-dark md-24">expand_less</i>
                    </div>
                    <div style="margin-top:-24px;">
                        <i class="material-icons md-dark md-24">expand_less</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr ng-show="view.isItineraryExpanded" />
                <div class="spinner" ng-show="view.isLoadingItineraryStops">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="col-md-12" ng-show="view.isItineraryExpanded">
                    <span class="left programTypeRadio">
                        Show city stops in
                        <input type="radio"
                               ng-model="view.viewType"
                               value="{{view.listKey}}">
                        List View
                    </span>
                    <span class="left programTypeRadio">
                        <input type="radio"
                               ng-model="view.viewType"
                               value="{{view.calendarKey}}">
                        Calendar View
                    </span>
                </div>
                <hr ng-show="view.isItineraryExpanded" />
                <div ng-if="view.isItineraryExpanded && view.viewType === view.calendarKey" style="padding-top:40px;">
                    <div class="row">


                        <div class="col-md-6">
                            <div ui-calendar="view.calendarConfig.calendar" ng-model="view.eventSources"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="list2" ng-show="!view.selectedCalendarItineraryStop">
                                <p>Select a calendar event to city stop details.</p>
                            </div>
                            <div class="list2" ng-show="view.selectedCalendarItineraryStop">
                                <div class="row row3">
                                    <!--<div class="col-md-4 title-label">Name</div>-->
                                    <div class="col-md-12">
                                        <h5>
                                            {{view.selectedCalendarItineraryStop.name}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="row row3">
                                    <div class="col-md-4 title-label">
                                        <div class="pull-left" style="margin-right: 10px;">
                                            <i class="material-icons md-dark md-18">event</i>
                                        </div>
                                        Date of Arrival
                                    </div>
                                    <div class="col-md-8">{{view.selectedCalendarItineraryStop.arrivalDate | date:"MMMM dd, yyyy"}}</div>
                                </div>
                                <div class="row row3">
                                    <div class="col-md-4 title-label">
                                        <div class="pull-left" style="margin-right: 10px;">
                                            <i class="material-icons md-dark md-18">event</i>
                                        </div>
                                        Date of Departure
                                    </div>
                                    <div class="col-md-8">{{view.selectedCalendarItineraryStop.departureDate | date:"MMMM dd, yyyy"}}</div>
                                </div>
                                <div class="row row3">
                                    <div class="col-md-4 title-label">
                                        <div class="pull-left" style="margin-right: 10px;">
                                            <i class="material-icons md-dark md-18">flight_land</i>
                                        </div>
                                        Travel Stop Destination
                                    </div>
                                    <div class="col-md-8">{{view.selectedCalendarItineraryStop.destinationLocation.name}}{{view.selectedCalendarItineraryStop.destinationLocation.division ? ', ' + view.selectedCalendarItineraryStop.destinationLocation.division : ''}}{{view.selectedCalendarItineraryStop.destinationLocation.country ? ' ' + view.selectedCalendarItineraryStop.destinationLocation.country : ''}}</div>
                                </div>
                                <div class="row row3">
                                    <div class="col-md-4 title-label">
                                        <div class="pull-left" style="margin-right: 10px;">
                                            <i class="material-icons md-dark md-18">groups</i>
                                        </div>
                                        Groups
                                    </div>
                                    <div class="col-md-8">
                                        <ul>
                                            <li ng-repeat="group in view.selectedCalendarItineraryStop.groups">
                                                <strong>{{group.name}}</strong>
                                                <ul>
                                                    <li ng-repeat="participant in group.participants">
                                                        <div style="margin-left:10px;">
                                                            <a ui-sref="people.personalinformation({personId: participant.personId})">{{participant.fullName}}</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row row3">
                                    <div class="col-md-4 title-label">
                                        <div class="pull-left" style="margin-right: 10px;">
                                            <i class="material-icons md-dark md-18">person</i>
                                        </div>
                                        Participants
                                    </div>
                                    <div class="col-md-8">
                                        <ul>
                                            <li ng-repeat="participant in view.selectedCalendarItineraryStop.participants">
                                                <div>
                                                    <a ui-sref="people.personalinformation({personId: participant.personId})">{{participant.fullName}}</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itineraryStop in view.itineraryStops" ng-show="view.isItineraryExpanded && view.viewType === view.listKey">
                    <div style="padding-top:20px;">
                        <ng-include src="'app/projects/itinerary-stop.html'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="view.isInEditMode">
        <form name="form.editItineraryForm">
            <div>
                <div class="itinerary-header">
                    <div class="row">
                        <div class="col-md-8" style="margin-top:19px;">
                            <input class="form-control"
                                   name="name"
                                   maxlength="100"
                                   required
                                   ng-model="view.itinerary.name" />
                        </div>
                        <div class="col-md-4 text-right" style="margin-top:19px;">
                            <button class="btn btn-success" ng-disabled="form.editItineraryForm.$invalid" ng-click="view.onSaveClick(view.itinerary)">Save</button>
                            <button class="btn btn-default" ng-click="view.onCancelClick(view.itinerary)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row itinerary-container">
                <div class="col-md-12">
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">flight_land</i>
                                    <h5 class="title-label">Groups Arrive To (City)</h5>
                                </div>
                                <div>
                                    <ui-select ng-model="view.itinerary.arrivalLocation"
                                               id="source"
                                               name="source"
                                               on-select="view.onArrivalLocationSelect($item, $model)"
                                               search-enabled="true"
                                               reset-search-input="false"
                                               theme="select2"
                                               ng-required="false">
                                        <ui-select-match placeholder="Select an arrival location...">
                                            {{$select.selected.name}}{{$select.selected.division ? ', ' + $select.selected.division : ''}}{{$select.selected.country ? ' ' + $select.selected.country : ''}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="location in view.arrivalLocations" refresh="view.getArrivalLocations($select.search)">
                                            <div ng-bind-html="location.name | highlight: $select.search"></div>
                                            <div style="margin-left:10px;" class="small" ng-show="location.division">{{location.division}}</div>
                                            <div style="margin-left:10px;" class="small" ng-show="location.country">{{location.country}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">event</i>
                                    <h5 class="title-label">By This Start Date</h5>
                                </div>
                                <div class="form-group">
                                    <p class="input-group">
                                        <input name="startDate"
                                               type="text"
                                               class="form-control"
                                               datepicker-popup="dd-MMMM-yyyy"
                                               show-weeks="false"
                                               ng-model="view.itinerary.startDate"
                                               is-open="view.isStartDateDatePickerOpen"
                                               close-text="Close"
                                               max-date="view.itinerary.endDate"
                                               placeholder="Enter start date..."
                                               ng-required="true" />
                                        <span class="input-group-btn" style="width:0;">
                                            <button type="button" class="btn btn-default" ng-click="view.openStartDateDatePicker($event)"><i class="material-icons md-18">event</i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">flight_takeoff</i>
                                    <h5 class="title-label">Groups Depart To (Region, Country, Division, or City)</h5>
                                </div>
                                <div>
                                    <div>
                                        <ui-select ng-model="view.itinerary.departureLocation"
                                                   on-select="view.onDepartureLocationSelect($item, $model)"
                                                   id="source"
                                                   name="source"
                                                   search-enabled="true"
                                                   reset-search-input="false"
                                                   theme="select2"
                                                   ng-required="false">
                                            <ui-select-match placeholder="Select a departure location...">
                                                {{$select.selected.name}}{{$select.selected.division ? ', ' + $select.selected.division : ''}}{{$select.selected.country ? ' ' + $select.selected.country : ''}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="location in view.departureLocations" refresh="view.getDepartureLocations($select.search)">
                                                <div ng-bind-html="location.name | highlight: $select.search"></div>
                                                <div style="margin-left:10px;" class="small" ng-show="location.division">{{location.division}}</div>
                                                <div style="margin-left:10px;" class="small" ng-show="location.country">{{location.country}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div>
                                    <i style="margin-right:8px;" class="material-icons md-dark md-24 pull-left">event</i>
                                    <h5 class="title-label">At This End Date</h5>
                                </div>
                                <div class="form-group">
                                    <p class="input-group">
                                        <input name="endDate"
                                               type="text"
                                               class="form-control"
                                               datepicker-popup="dd-MMMM-yyyy"
                                               show-weeks="false"
                                               ng-model="view.itinerary.endDate"
                                               is-open="view.isEndDateDatePickerOpen"
                                               close-text="Close"
                                               placeholder="Enter end date..."
                                               min-date="view.itinerary.startDate"
                                               ng-required="true" />
                                        <span class="input-group-btn" style="width:0;">
                                            <button type="button" class="btn btn-default" ng-click="view.openEndDateDatePicker($event)"><i class="material-icons md-18">event</i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>