<div class="modal-header">
    <h3 class="modal-title">Manage Participants</h3>
</div>
<div class="modal-body">
    <div class="spinner" ng-show="view.isSavingItinerary">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div ng-show="!view.isSavingItinerary">
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin-bottom:20px;">Travel Period Participants</h3>
            </div>

            <div class="col-md-12">
                <p class="mute">Showing {{view.filteredParticipants.length}} of {{view.filteredParticipantsCount}} participants.</p>
                <p>Locked participants must first be removed from all city stops.</p>
                <ui-select ng-model="view.travelPeriodParticipants"
                           multiple
                           on-select="view.onSelectItineraryParticipant($item, $model)"
                           on-remove="view.onRemoveItineraryParticipant($item, $model)"
                           search-enabled="true"
                           reset-search-input="true"
                           theme="select2"
                           ng-required="false">
                    <ui-select-match placeholder="Select travel period participants..." ui-lock-choice="$item.isItineraryStopParticipant">
                        <div>
                            {{$item.fullName}}
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="participant in view.filteredParticipants | orderBy: 'fullName'"
                                       refresh="view.getFilteredParticipants($select.search)">
                        <div style="padding-top:10px;padding-bottom: 10px;">
                            <div ng-bind-html="participant.fullName | highlight: $select.search"></div>
                        </div>

                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <h3 style="margin-bottom:20px;">City Stop Participants</h3>
            </div>
            <div class="col-md-6">
                <label>
                    <i style="margin-right:8px;margin-top:-5px;" class="material-icons md-dark md-18 pull-left">location_on</i>
                    City Stop
                </label>
                <ui-select ng-model="view.selectedItineraryStop"
                           on-select="view.onSelectItineraryStop($item, $model)"
                           search-enabled="false"
                           theme="select2"
                           ng-required="false">
                    <ui-select-match placeholder="Select a city stop...">
                        <div>
                            {{$select.selected.name}}
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="stop in view.itineraryStops | orderBy: 'name'">
                        <div style="padding-top:10px;padding-bottom: 10px;">
                            <div>{{stop.name}}</div>
                            <div style="margin-left:20px;margin-top:5px;font-size:small;">{{stop.destinationLocation.name}}{{stop.destinationLocation.division ? ', ' + stop.destinationLocation.division : ''}}{{stop.destinationLocation.country ? ' ' + stop.destinationLocation.country : ''}}</div>
                            <div style="margin-left:20px;font-size:small;">{{stop.participants.length}} <ng-pluralize count="stop.participants.length" when="{'1':'Participant','other':'Participants'}"></ng-pluralize></div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-6">
                <label>
                    <i style="margin-right:8px;margin-top:-5px;" class="material-icons md-dark md-18 pull-left">person</i>
                    Participants
                </label>
                <ui-select ng-model="view.selectedItineraryStop.participants"
                           multiple
                           search-enabled="false"
                           on-select="view.onSelectItineraryStopParticipant($item, $model)"
                           on-remove="view.onRemoveItineraryStopParticipant($item, $model)"
                           theme="select2"
                           ng-disabled="view.selectedItineraryStop === null"
                           ng-required="false">
                    <ui-select-match placeholder="Select city stop participants...">
                        <div>
                            {{$item.fullName}}
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="participant in view.travelPeriodParticipantsCopy | orderBy: 'fullName' track by participant.participantId">
                        <div style="padding-top:10px;padding-bottom: 10px;">
                            <div>{{participant.fullName}}</div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="view.onCloseClick()">Close</button>
</div>