<div class="spinner" ng-show="view.isLoading || view.isSaving || view.isLoadingOfficeSetting">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div ng-show="!view.isLoading && !view.isSaving">
    <!--<h2 class="project-color tab-header" ng-show="!editView.isLoading && !editView.isSaving && !view.isLoadingOfficeSetting">Overview</h2>-->
    <div class="row">
        <h5>{{project.description}}</h5>
    </div>
    <div class="row tags">
        <span ng-repeat="tag in project.tags" class="tag">#{{tag}}</span>
    </div>
    <div class="row table">
        <h4 class="tab-subheader">Details</h4>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-label">Status</div>
                <div class="col-md-8">{{project.status}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Start Date</div>
                <div class="col-md-8">{{(project.startDate | date:"MMMM dd, yyyy") || 'No start date.'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">End Date</div>
                <div class="col-md-8">{{(project.endDate | date:"MMMM dd, yyyy") || 'No end date.'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Visitor Type</div>
                <div class="col-md-8">{{project.visitorTypeName}}</div>
            </div>
            <div ng-if="project.visitorTypeId === constants.visitorType.exchangeVisitor.id">
                <div class="row">
                    <div class="col-md-4 title-label">SEVIS Program Id</div>
                    <div class="col-md-8">{{project.sevisOrgId}}</div>
                </div>
            </div>
            <div ng-if="project.visitorTypeId === constants.visitorType.exchangeVisitor.id">
                <div class="row">
                    <div class="col-md-4 title-label">Sevis Funding</div>
                    <div class="col-md-8">
                        <a ng-click="showSevisFunding = !showSevisFunding">
                            <i class="material-icons md-dark md-24 pull-right" ng-show="showSevisFunding">expand_more</i>
                            <i class="material-icons md-dark md-24 pull-right ng-hide" ng-show="!showSevisFunding">expand_less</i>
                        </a>
                    </div>
                </div>
                <div ng-show="showSevisFunding">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">Sponsor</div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingSponsor}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">Personal</div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingPersonal}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">Vis. Gov't</div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingVisGovt}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">Vis. BNC</div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingVisBNC}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">
                            <a popover="{{view.sevisFunding.govtAgency1Name + (view.sevisFunding.govtAgency1OtherName.length >  0 ? (' - ' + view.sevisFunding.govtAgency1OtherName) : '')}}" popover-placement="bottom" ng-if="view.sevisFunding.govtAgency1Id">Gov't Agency 1</a>
                            <span ng-if="!view.sevisFunding.govtAgency1Id">Gov't Agency 1</span>
                        </div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingGovtAgency1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">
                            <a popover="{{view.sevisFunding.govtAgency2Name + (view.sevisFunding.govtAgency2OtherName.length >  0 ? (' - ' + view.sevisFunding.govtAgency2OtherName) : '')}}" popover-placement="bottom" ng-if="view.sevisFunding.govtAgency2Id">Gov't Agency 2</a>
                            <span ng-if="!view.sevisFunding.govtAgency2Id">Gov't Agency 2</span>
                        </div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingGovtAgency2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">
                            <a popover="{{view.sevisFunding.intlOrg1Name + (view.sevisFunding.intlOrg1OtherName.length > 0 ? (' - ' + view.sevisFunding.intlOrg1OtherName) : '')}}" popover-placement="bottom" ng-if="view.sevisFunding.intlOrg1Id">Int'l Org 1</a>
                            <span ng-if="!view.sevisFunding.intlOrg1Id">Int'l Org 1</span>
                        </div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingIntlOrg1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">
                            <a popover="{{view.sevisFunding.intlOrg2Name + (view.sevisFunding.intlOrg2OtherName.length > 0 ? (' - ' + view.sevisFunding.intlOrg2OtherName) : '')}}" popover-placement="bottom" ng-if="view.sevisFunding.intlOrg2Id">Int'l Org 2</a>
                            <span ng-if="!view.sevisFunding.intlOrg2Id">Int'l Org 2</span>
                        </div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingIntlOrg2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">
                            <a popover="{{view.sevisFunding.otherName}}" popover-placement="bottom" ng-if="view.sevisFunding.otherName.length > 0">Other Org</a>
                            <span ng-if="view.sevisFunding.otherName.length === 0">Other Org</span>
                        </div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingOther}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 title-label">Total</div>
                        <div class="col-md-4"><span class="pull-right">$</span></div>
                        <div class="col-md-3"><span class="pull-right">{{view.sevisFunding.fundingTotal}}</span></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="view.dataPointConfigurations[constants.dataPointProperty.themes.id]">
                <div class="col-md-4 title-label">Themes</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="theme in project.themes | orderBy:'value'">{{theme.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="view.dataPointConfigurations[constants.dataPointProperty.goals.id]">
                <div class="col-md-4 title-label">Strategic Goals</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="goal in project.goals | orderBy:'value'">{{goal.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="project.regions && view.dataPointConfigurations[constants.dataPointProperty.regions.id]">
                <div class="col-md-4 title-label"><ng-pluralize count="project.regions.length" when="{'1':'Region','other':'Regions'}"></ng-pluralize></div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="location in project.regions | orderBy:'name'">
                            <div>
                                {{location.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-label">Office</div>
                <div class="col-md-8"><a ui-sref="offices.overview({officeId: project.ownerId})">{{project.ownerName}}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Program</div>
                <div class="col-md-8"><a ui-sref="programs.overview({programId: project.programId})">{{project.programName}}</a></div>
            </div>
            <div class="row" ng-show="project.categories.length > 0">
                <div class="col-md-4 title-label">{{categoryLabel}}</div>
                <div class="col-md-8 grouped-list">
                    <ul>
                        <li ng-repeat="category in sortedCategories | orderBy:['focusName','name']">
                            <ng-switch on="$first || category.focusName != sortedCategories[$index - 1].focusName">
                                <div ng-switch-when="true" class="title-label"><strong>{{category.focusName}}</strong></div>
                            </ng-switch>
                            <div>{{category.name}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="project.objectives.length > 0">
                <div class="col-md-4 title-label">{{objectiveLabel}}</div>
                <div class="col-md-8 grouped-list">
                    <ul>
                        <li ng-repeat="objective in sortedObjectives | orderBy:['justificationName','name']">
                            <ng-switch on="$first || objective.justificationName != sortedObjectives[$index - 1].justificationName">
                                <div ng-switch-when="true" class="title-label"><strong>{{objective.justificationName}}</strong></div>
                            </ng-switch>
                            <div>{{objective.name}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="project.contacts">
                <div class="col-md-4 title-label"><ng-pluralize count="project.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="contact in project.contacts | orderBy:'fullName'">{{contact.fullName}} ({{contact.position}})</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="project.locations && view.dataPointConfigurations[constants.dataPointProperty.locations.id]">
                <div class="col-md-4 title-label"><ng-pluralize count="project.locations.length" when="{'1':'Location','other':'Locations'}"></ng-pluralize></div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="location in project.locations">
                            <div>
                                <div ng-show="location.longitude && location.latitude">
                                    <span>
                                        <i class="material-icons">location_on</i>
                                        <a ng-click="view.onMapMarkerLabelClick(location)">{{location.mapMarkerLabel}}</a>
                                        <span>:  </span>
                                    </span>
                                    {{location.name}}
                                    <!--A couple of things can happen here, what we are trying to show is something like name (locationTypeName:  division, country)
                                    but the division may not be known.  Another possibility is that a location is a country itself and therefore it's own iso must be shown.-->
                                    ({{location.locationTypeName}}:  {{location.divisionIso ? location.divisionIso + ', ' : ''}}{{location.countryIso ? location.countryIso : location.locationIso}})
                                    <div style="margin-left:38px;margin-bottom:15px;">
                                        <span ng-show="location.latitude">
                                            {{location.latitude}}
                                        </span>
                                        <span>, </span>
                                        <span ng-show="location.longitude">
                                            {{location.longitude}}
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!location.longitude && !location.latitude" style="margin-bottom:15px;">
                                    {{location.name}}
                                    <!--A couple of things can happen here, what we are trying to show is something like name (locationTypeName:  division, country)
                                    but the division may not be known.  Another possibility is that a location is a country itself and therefore it's own iso must be shown.-->
                                    ({{location.locationTypeName}}:  {{location.divisionIso ? location.divisionIso + ', ' : ''}}{{location.countryIso ? location.countryIso : location.locationIso}})
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="mapcanvas"
                         ng-if="!view.isLoading && view.canShowLocationMarkers"
                         ui-map="view.locationMap"
                         ui-options="view.mapOptions"
                         style="height: 275px; width: 275px;"
                         ui-event="{'map-idle' : 'view.onMapIdle()'}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <h4 class="tab-subheader">Snapshot</h4>
        <div class="col-md-4">
            <p class="stat text-center">{{project.countryIsosByLocations.length > 0 ? project.countryIsosByLocations.length : project.countryIsosByRegions.length}}</p>
            <p class="title-label text-center">Locations</p>
        </div>
        <div class="col-md-8">
            <map width="600" height="300" activecolor="5cb9dd" countries="project.countryIsosByLocations.length > 0 ? project.countryIsosByLocations : project.countryIsosByRegions"></map>
        </div>
    </div>
</div>

