<div class="breadcrumbs">
    <p><a ui-sref="offices.overview({officeId: project.ownerId})">{{project.ownerName}}</a> 
    &bull; <a ui-sref="programs.overview({programId: project.programId})">{{project.programName}}</a> 
    &bull; {{project.name}}</p>
</div>
<div class="jumbotron project">
    <div class="toolbar" sticky offset="49">
        <div class="left2">
            <button type="button"
                    ng-class="{modified: isInEditViewState}"
                    class="btn"
                    style="margin-right:10px;margin-left:5px;"
                    ng-disabled="!isProjectStatusButtonEnabled"
                    ng-click="onProjectStatusButtonClick($event)">
                {{isInEditViewState ? 'Save Changes' : 'Edit'}}
            </button>
            <button type="button" class="btn btn-cancel cancel" style="margin-right:10px;margin-left:5px;" ng-show="isProjectEditCancelButtonVisible" ng-click="onCancelButtonClick($event)">
                Cancel
            </button>
            <span class="detail">Last Updated {{(project.revisedOn | date:"MMM dd, yyyy") || 'No revised on date.'}}</span>
        </div>
        <ng-include src="'/app/toolbar/toolbar-icons.html'"></ng-include>
    </div>
    <div class="heading">
        <h5>PROJECT</h5>
        <h1>{{project.name}}</h1>
        <span class="owner-office">{{project.ownerOfficeSymbol}}</span>
    </div>
</div>
<tab-bar tabs="tabs"></tab-bar>
<div class="container" ui-view>
</div>