<div class="modal-header">
    <h3 class="modal-title">Add New Participant</h3>
</div>
<div class="modal-body">
    <h5>Fill out the required information below for each participant.</h5>
    <div class="required2">* Marks required fields</div>
    <div id="form-container" class="row" in-context-form>
        <div class="col-md-10">
            <form name="participantForm">
                <div class="row">
                    <div class="form-group">
                        <label for="">PARTICIPANT TYPE<span class="asterisk"> *</span></label>
                        <ui-select ng-model="newParticipant.participantType" theme="select2" style="min-width: 300px;" ng-required="true">
                            <ui-select-match placeholder="Select a participant type...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="participantType in participantTypes | filter: {name: $select.search} track by participantType.id">
                                <div ng-bind-html="participantType.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">FIRST / GIVEN NAME<span class="asterisk"> *</span></label>
                            <input ng-model="newParticipant.firstName" form-element guidance="First or given name of the participant." type="text" class="form-control" required ng-disabled="newParticipant.selectedDuplicate">
                        </div>
                        <div class="form-group">
                            <label for="">GENDER<span class="asterisk"> *</span></label>
                            <ui-select ng-model="newParticipant.gender" theme="select2" style="min-width: 300px;" ng-required="true" ng-disabled="newParticipant.selectedDuplicate">
                                <ui-select-match placeholder="Select a gender...">{{$select.selected.value}}</ui-select-match>
                                <ui-select-choices repeat="gender in genders | filter: {value: $select.search} track by gender.id">
                                    <div ng-bind-html="gender.value | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label for="">PLACE OF BIRTH - COUNTRY</label>
                            <ui-select ng-model="newParticipant.countryOfBirth" theme="select2" style="min-width: 300px;" on-select="countryOfBirthSelected()" ng-disabled="newParticipant.selectedDuplicate">
                                <ui-select-match placeholder="Select a country of birth...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices refresh="searchCountries($select.search)" refresh-delay="250" repeat="country in countries track by country.id">
                                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label for="">PLACE OF BIRTH - CITY</label>
                            <ui-select ng-model="newParticipant.cityOfBirth" theme="select2" style="min-width: 300px;" ng-disabled="newParticipant.selectedDuplicate">
                                <ui-select-match placeholder="Select a city of birth...">{{$select.selected.name}}{{$select.selected.division ? ', ' + $select.selected.division : ''}}</ui-select-match>
                                <ui-select-choices refresh="searchCities($select.search)" refresh-delay="250" repeat="city in cities track by city.id">
                                    <span ng-bind-html="city.name | highlight: $select.search"></span><span ng-show="city.division" ng-bind-html="', ' + city.division"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">SURNAME / PRIMARY NAME<span class="asterisk"> *</span></label>
                            <input ng-model="newParticipant.lastName" form-element guidance="Surname or primary name of the participant." type="text" class="form-control" required ng-disabled="newParticipant.selectedDuplicate">
                        </div>
                        <div class="form-group" style="min-width: 300px;">
                            <label for="dobDate">DATE OF BIRTH</label>
                            <div class="input-group">
                                <input type="text"
                                        class="form-control"
                                        datepicker-popup="{{dateFormat}}"
                                        max-date="maxDate"
                                        ng-model="newParticipant.dateOfBirth"
                                        is-open="isDobDatePickerOpen"
                                        close-text="Close"
                                        form-element guidance="Date of birth of the participant."
                                        ng-disabled="newParticipant.selectedDuplicate" placeholder="{{dateOfBirthPlaceholder}}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="openDobDatePicker($event)" ng-disabled="newParticipant.selectedDuplicate"><i class="material-icons md-18">event</i></button>
                                </span>
                                <div class="pull-right">
                                    <button class="btn btn-default" ng-click="toggleDobUnknown($event)" ng-disabled="newParticipant.selectedDuplicate" tooltip-placement="top" tooltip="Unknown date of birth">Unknown</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">COUNTRIES OF CITIZENSHIP</label>
                            <ui-select multiple ng-model="newParticipant.countriesOfCitizenship" theme="select2" style="min-width: 300px;" ng-disabled="newParticipant.selectedDuplicate">
                                <ui-select-match placeholder="Select countries of citizenship...">{{$item.name}}</ui-select-match>
                                <ui-select-choices refresh="searchCountriesCopy($select.search)" refresh-delay="250" repeat="country in countriesCopy track by country.id">
                                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" ng-show="duplicates.length > 0">
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> This person may already exist. You may continue adding the person or add an existing person to the project from the list below.`
                </div>
                <style>
                    td:first-child {
                        padding: 0;
                    }
                </style>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="sort-label col-md-3">Name</th>
                            <th class="sort-label col-md-2">Gender</th>
                            <th class="sort-label col-md-3">Date of Birth</th>
                            <th class="sort-label col-md-3">Place of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="duplicate in duplicates">
                            <td><input type="radio" name="duplicate" ng-model="newParticipant.selectedDuplicate" ng-value="duplicate"></td>
                            <td><a target="_blank" ui-sref="people.personalinformation({personId: duplicate.personId})">{{duplicate.fullName}}</a></td>
                            <td>{{duplicate.gender}}</td>
                            <td>{{duplicate.dateOfBirth | date: 'longDate'}}</td>
                            <td>{{duplicate.cityOfBirth}}, {{duplicate.countryOfBirth}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="participantForm.$invalid" ng-click="add()">Add</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>