<div class="modal-header">
    <h3 class="modal-title">Add Collaborator to Participants</h3>
    <div class="page-header">
        Collaborate with others within or outside of ECA.
        <div class="spinner" ng-show="view.isLoading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>

<div class="modal-body">
    <div st-pipe="view.loadCollaborators" st-table="view.collaborators" id="sort-list" ng-show="!view.isLoading">

        <table class="col-md-12 alt">
            <thead>
                <tr>
                    <th st-sort="'displayName'" st-sort-default="true" class="col-md-5 sort-label medium">Name</th>
                    <th st-sort="'Permissions'" class="col-md-3 sort-label medium">Inherited Permissions</th>
                    <th st-sort="'Permissions'" class="col-md-3 sort-label medium">Permissions</th>
                </tr>
                <!--<tr>
                    <th>
                        <input st-search="'displayName'" placeholder="" type="search" class="input-lg form-control" />
                    </th>
                    <th>
                        <input st-search="'permissionName'" placeholder="" type="search" class="input-lg form-control" />
                    </th>
                </tr>-->
            </thead>
            
            <tbody class="list2">

                <tr class="hover" ng-repeat="collaborator in view.collaborators">
                    <td>
                        <h5 class="list-title">{{collaborator.displayName}}</h5><p>{{collaborator.emailAddress}}</p>
                    </td>
                    <td>
                        <ul ng-repeat="permission in collaborator.rolePermissions">
                            <li>
                                <ng-switch on="$first">
                                    <div ng-switch-when="true" class="title-label"><strong>{{permission.roleName}}</strong></div>
                                </ng-switch>
                                <span ng-class="{revokedPermission: !permission.isAllowed}">&#149 {{permission.permissionName}}</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ui-select multiple 
                                   ng-model="collaborator.grantedPermissions" 
                                   theme="select2" 
                                   on-remove="view.onRemovePermission($item, collaborator)" 
                                   on-select="view.onSelectPermission($item, collaborator)" 
                                   ng-disabled="view.isSaving">
                            <ui-select-match placeholder="Permissions">
                                <div>
                                    <!--<input type="checkbox" ng-model="$item.isAllowed" ng-click="view.onPermissionCheckboxClick($event, $item, collaborator)" ng-disabled="view.isSaving" />-->
                                    {{$item.permissionName}}
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="p in collaborator.availablePermissions | filter: $select.search track by p.permissionId">
                                <div ng-bind-html="p.permissionName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>                
            </tbody>
        </table>
        <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="view.collaborators.length > 0"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="onAddClick()">Add</button>
    <button class="btn btn-warning" ng-click="onCancelClick()">Cancel</button>
</div>

