<h2 class="project-color tab-header">Impact &amp; Stories</h2>
<div class="col-md-10">
  <input type="text" ng-model="storiesFilter" placeholder="Search Impact &amp; Stories" class="search-contextual">
  <i class="glyphicon glyphicon-search contextual"></i>
</div>
<div id="list-views" class="col-md-2">
  <button class="btn btn-primary right" ng-hide="project.participants.length === 0" ng-click="modal.addStory = true">ADD</button>
</div>	
<img class="placehold" src="images/placeholders/impact.png" alt="">