<h2 class="project-color tab-header">Funding</h2>
<h4 class="tab-subheader">Funding List</h4>
<div class="row">
    <button class="btn btn-primary right" ng-show="!moneyFlowsLoading && !currentlyEditing" ng-click="createMoneyFlowForm()">ADD FUNDING ITEM</button>
</div>
<div st-pipe="getMoneyFlows" st-table="project.moneyFlows" id="sort-list">
    <table class="col-md-12">
        <thead>
            <tr>
                <th st-sort="'transactionDate'" st-sort-default="true" class="col-md-1 sort-label medium">Transaction Date</th>
                <th st-sort="'status'" class="col-md-1 sort-label medium">Status</th>
                <th st-sort="'sourceType'" class="col-md-1 sort-label medium">Source/Recipient Type</th>
                <th st-sort="'fromTo'" class="col-md-2 sort-label medium">Source / Recipient</th>
                <th st-sort="'direction'" class="col-md-1 sort-label medium">Direction</th>
                <th st-sort="'amount'" class="col-md-1 sort-label medium">Amount</th>
                <th st-sort="'fiscalYear'" class="col-md-1 sort-label medium">FY</th>
                <th st-sort="'description'" class="col-md-2 sort-label medium">Description</th>
                <th class="col-md-1">&nbsp;</th>
                <th class="{{moneyFlowEditColumnClass}}">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="list2" ng-repeat="moneyFlow in moneyFlows">
            <tr ng-show="!editingMoneyFlows[{{moneyFlow.id}}]">
                <td style="padding: 40px 0 40px 20px;">
                    <span class="draft-program4" id="changesSaved{{moneyFlow.id}}" style="display:none;">SAVED</span>
                    <span id="transactionDate{{moneyFlow.id}}">{{moneyFlow.transactionDate | date:'MM/dd/yyyy'}}</span>
                </td>
                <td>{{moneyFlow.status}}</td>
                <td>{{moneyFlow.sourceType}}</td>
                <td>{{moneyFlow.fromTo}}</td>
                <td>{{moneyFlow.type}}</td>
                <td><span class="{{moneyFlow.amount < 0 ? 'text-danger' : ''}}">{{moneyFlow.amount | currency}}</span></td>
                <td>{{moneyFlow.fiscalYear}}</td>
                <td>{{moneyFlow.description | limitTo: 20}}<span ng-show="moneyFlow.description.length > 20">....</span></td>
                <td>
                    <span ng-show="moneyFlow.description.length > 20">
                        <div style="cursor:pointer;" id="expand{{moneyFlow.id}}" ng-click="expandMoneyFlowDescription(moneyFlow.id, true)">
                            <img src="images/expand.png">
                        </div>
                        <div style="cursor:pointer; display:none;" id="contract{{moneyFlow.id}}" ng-click="expandMoneyFlowDescription(moneyFlow.id, false)">
                            <img src="images/contract.png">
                        </div>
                    </span>
                </td>
                <td>
                    <div class="right" style="display:none;" showonparentrow>
                        <div class="copyEditDeleteOptions tip" ng-click="copyMoneyFlow(moneyFlow.id)">
                            <i class="md md-content-copy md-2x copyEditDeleteOption" ng-show="!copyMoneyFlowLoading"></i>
                            <i class="fa fa-spinner fa-pulse fa-fw fa-2x" ng-show="copyMoneyFlowLoading"></i>
                            <span>Copy</span>
                        </div>
                        <div class="copyEditDeleteOptions tip" ng-click="editMoneyFlow(moneyFlow.id)">
                            <i class="md md-mode-edit md-2x copyEditDeleteOption" ng-show="!editMoneyFlowLoading"></i>
                            <span>Edit</span>
                        </div>
                        <div class="copyEditDeleteOptions tip" ng-click="deleteMoneyFlow(moneyFlow.id)">
                            <i class="md md-delete md-2x copyEditDeleteOption"></i>
                            <span>Delete</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="expandedDescription" ng-show="showFullMoneyFlowDescription[{{moneyFlow.id}}]" id="description{{moneyFlow.id}}">
                    <td colspan="8" style="padding-top:5px; padding-bottom:5px;"><div>Description: {{moneyFlow.description}}</div></td>
            </tr>
            <!-- EDITING ROW -->
            <tr ng-show="editingMoneyFlows[{{moneyFlow.id}}]" class="editingRow">
                <td style="padding-left:10px;">
                    <input class="moneyFlowEdit"
                           type="text"
                           id="transactionDate"
                           class="form-control"
                           datepicker-popup="{{editView.dateFormat}}"
                           ng-model="draftMoneyFlow.transactionDate"
                           is-open="isTransactionDatePickerOpen"
                           ng-required="true"
                           close-text="Close" />
                    <button type="button" class="btn btn-default inlineEditCalendar" ng-click="openTransactionDatePicker($event)"><i class="fa fa-calendar"></i></button>
                </td>
                <td>
                    <select class="form-control" id="status" ng-options="s.id as s.name for s in moneyFlowStati" ng-model="draftMoneyFlow.moneyFlowStatusId" />
                </td>
                <td>
                    <select class="form-control" id="sourceType"
                            ng-options="s.id as s.name for s in moneyFlowSourceTypes"
                            ng-model="draftMoneyFlow.sourceTypeId"
                            ng-change="changeSourceRecipientType()" />
                </td>
                <td>
                    <select class="form-control" id="fromTo" ng-show="showFromToSelectControl"
                            ng-options="s.id as s.name for s in moneyFlowFromTo"
                            placeholder="Enter {{fromToType}} title..."
                            ng-model="draftMoneyFlow.sourceRecipientId" />
                </td>
                <td>
                    <select class="form-control" id="direction" ng-options="s.id as s.name for s in moneyFlowTypes" ng-model="draftMoneyFlow.moneyFlowTypeId" />
                </td>
                <td>
                    <input type="number" class="currency" min="-1000000.00" max="1000000.00" step="100" value="0.00" ng-model="draftMoneyFlow.value" required />
                </td>
                <td>
                    <select class="form-control" id="modalFiscalYear" ng-options="s.year as s.name for s in fiscalYears" ng-model="draftMoneyFlow.moneyFlowFiscalYear" ng-required="true" />
                </td>
                <td>
                    <textarea name="description" class="multiLineInput" type="text" ng-model="draftMoneyFlow.description" required />
                </td>
                <td class="inlineEditControls">
                    <button ng-click="saveMoneyFlow(moneyFlow.id)" class="btn btn-success">Save</button>
                    <button ng-click="cancelMoneyFlowEdit(moneyFlow.id)" class="btn btn-cancel">Cancel</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="moneyFlowsLoading" id="spinner">
            <tr>
                <td colspan="5">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="!moneyFlowsLoading"></div>
</div>

<modal-dialog show="showCreateMoneyFlow" dialog-title="{{moneyFlowCreationType}} Funding Item">
    <div class="tip">
        <img src="images/tip.png"><span class="strong">Did you know?</span> This is a draft. Only you can see this.
        <div class="required">* Marks required fields</div>
    </div>

    <div id="modal" class="row" in-context-form>
        <div class="col-md-10">
            <form name="modalForm.moneyFlowForm">
                <div class="form-group" id="transactionType">
                    <span class="moneyFlowDirection {{incomingSelected}}" ng-click="changeMoneyFlowDirection('incoming')">Incoming</span>
                    <span class="moneyFlowDirection {{outgoingSelected}}" ng-click="changeMoneyFlowDirection('outgoing')">Outgoing</span>
                </div>
                <div class="form-group narrow"
                    <label>Transaction Date<span class="asterisk"> *</span></label>

                    <p class="input-group">
                        <input name="start" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="draftMoneyFlow.transactionDate"
                               is-open="transactionCalendarOpened" close-text="Close" placeholder="Enter transaction date..." required />
                        <span class="input-group-btn" style="width:0;">
                            <button type="button" class="btn btn-default" ng-click="transactionCalendarOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div ng-show="modalForm.moneyFlowForm.transactionDate.$dirty">
                        <div class="error" ng-show="modalForm.moneyFlowForm.transactionDate.$error.required">Please enter a transaction date.</div>
                    </div>
                </div>

                <div class="form-group narrow">
                    <label>Transaction Status<span class="asterisk"> *</span></label>
                    <select class="form-control" id="modalStatus" ng-required="true" ng-options="s.id as s.name for s in moneyFlowStati" ng-model="draftMoneyFlow.moneyFlowStatusId" />
                    <div ng-show="modalForm.moneyFlowForm.statusId.$dirty">
                        <div class="error" ng-show="modalForm.moneyFlowForm.statusId.$error.required">Please enter a transaction date.</div>
                    </div>
                </div>

                <div class="form-group">
                    <table class="col-md-12 modalTable">
                        <thead>
                            <tr>
                                <th class="col-md-2 modalLabel"><label>Amount (USD)<span class="asterisk"> *</span></label></th>
                                <th class="col-md-1">&nbsp;</th>
                                <th class="col-md-2 modalLabel"><label>Fiscal Year<span class="asterisk"> *</span></label></th>
                                <th class="col-md-4"></th>
                            </tr>
                        </thead>
                        <tr>
                            <th>
                                <input type="number" class="form-control" ng-model="draftMoneyFlow.value" ng-required="true"
                                       form-element guidance="The USD amount of the transaction." />
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                <select class="form-control" id="modalFiscalYear" ng-options="s.year as s.name for s in fiscalYears" ng-model="draftMoneyFlow.moneyFlowFiscalYear" ng-required="true" />

                            </th>
                        </tr>
                    </table>
                    <div ng-show="modalForm.moneyFlowForm.amount.$dirty">
                        <div class="error" ng-show="modalForm.moneyFlowForm.amount.$error.required">Please enter an amount and fiscal year</div>
                    </div>
                </div>

                <div class="form-group narrow">
                    <label>{{sourceRecipientLabel}} Type<span class="asterisk"> *</span></label>
                    <select class="form-control" id="modalSourceType"
                            ng-options="s.id as s.name for s in moneyFlowSourceTypes"
                            ng-model="draftMoneyFlow.sourceRecipientTypeId"
                            placeholder="Enter type of {{sourceRecipientLabel}}..."
                            ng-change="changeSourceRecipientType()"
                            ng-required="true" />
                </div>

                <div class="form-group" ng-show="showFromToSelectControl">
                    <label>{{sourceRecipientLabel}}<span class="asterisk"> *</span></label>
                    <select class="form-control" id="fromTo"
                            ng-options="s.id as s.name for s in moneyFlowFromTo"
                            placeholder="Enter {{fromToType}} title..."
                            ng-model="draftMoneyFlow.sourceRecipientId" />
                </div>

                <div class="form-group">
                    <label>Description<span class="asterisk"> *</span></label>
                    <input name="name" ng-model="draftMoneyFlow.description" form-element guidance="Enter a short description of this income or expense"
                           type="text" class="form-control" placeholder="Enter funding item description..." ng-required="true" />
                    <div ng-show="modalForm.moneyFlowForm.description.$dirty">
                        <div class="error" ng-show="modalForm.moneyFlowForm.description.$error.required">Please enter a description.</div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <guidance></guidance>
        </div>
    </div>
    <div class="modalFormButtons">
        <button class="btn btn-default" ng-click="createModalCancel()">CANCEL</button>
        <button ng-disabled="modalForm.moneyFlowForm.$invalid" class="btn btn-success right" ng-click="saveCreatedMoneyFlow()">{{moneyFlowCreationType}}</button>
    </div>
</modal-dialog>


<modal-dialog show="showConfirmClose" dialog-title="Confirm Close">
    <p class="strong">There is unsaved data.  Are you sure you want to cancel?</p>
    <button class="btn btn-default right" ng-click="confirmClose(true)">YES</button>
    &nbsp;
    <button class="btn btn-success right" ng-click="confirmClose(false)">NO</button>
</modal-dialog>

<modal-dialog show="confirmDelete" dialog-title="Please confirm">
    <p class="strong">Are you sure? DELETE this funding item? PLEASE NOTE: once deleted, the entry cannot be restored.</p>
    <button class="btn btn-default right" ng-click="confirmCancel()">Cancel</button>
    <button class="btn btn-default right" ng-click="confirmDeleteYes()">OK</button>
</modal-dialog>

<modal-dialog show="confirmSuccess" dialog-title="Success!">
    <p class="strong">The funding item was {{moneyFlowConfirmMessage}} sucessfully</p>
    <button class="btn btn-default right" ng-click="confirmCloseSuccess()">OK</button>
</modal-dialog>

<style>
    .ng-modal-close-x {
        display: none;
    }
</style>

