<h2 class="project-color tab-header">Money Flow</h2>
<h4 class="tab-subheader">Money Flow List</h4>
<div class="row">
    <button class="btn btn-primary right" ng-click="modal.addMoneyFlow = true">ADD MONEY FLOW</button>
</div>
<div st-pipe="getMoneyFlows" st-table="project.moneyFlows" id="sort-list">
    <table class="col-md-12">
        <thead>
            <tr>
                <th st-sort="'transactionDate'" st-sort-default="true" class="col-md-2 sort-label medium">Transaction Date</th>
                <th st-sort="'type'" class="col-md-1 sort-label medium">Type</th>
                <th st-sort="'fromTo'" class="col-md-3 sort-label medium">From/To</th>
                <th st-sort="'amount'" class="col-md-1 sort-label medium">Amount</th>
                <th st-sort="'description'" class="col-md-2 sort-label medium">Description</th>
                <th class="col-md-2">&nbsp;</th>
            </tr>

        </thead>
        <tbody class="list2">
            <tr ng-repeat="moneyFlow in project.moneyFlows" class="hover" ng-show="!moneyFlowsLoading">
                <td>{{moneyFlow.transactionDate | date:'MM/dd/yyyy'}}</td>
                <td>{{moneyFlow.type }}</td>
                <td>{{moneyFlow.fromTo}}</td>
                <td><span class="{{moneyFlow.amount < 0 ? 'text-danger' : ''}}">{{moneyFlow.amount | currency}}</span></td>
                <td>{{moneyFlow.description}}</td>
                <!--
                <td>{{moneyFlow.sourceType === "Project" ? moneyFlow.recipientName : moneyFlow.sourceName}}</td>
                <td><span class="{{moneyFlow.sourceType === 'Project' ? 'text-danger' : ''}}">{{moneyFlow.sourceType === "Project" ? ((0-moneyFlow.value) | currency) : (moneyFlow.value | currency)}}</span></td>
                <td>{{moneyFlow.description}}</td>
                -->
                <td>
                    <img class="icon" src="images/duplicateA.png" alt="">
                    <img class="icon" src="images/editA.png" alt="">
                    <img class="icon" src="images/trash.png" alt="">
                </td>
            </tr>
            <tr ng-show="moneyFlowsLoading">
                <td colspan="5">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="!moneyFlowsLoading"></div>
</div>

<modal-dialog show="modal.addMoneyFlow" dialog-title="Add to Money Flows" before-close="modalClose()" on-close="modalClear()">
    <h5>Add money flow for {{project.name}}</h5>
    <div class="required">* Marks required fields</div>

    <div id="modal-tab" class="tabs">
        <ul class="left">
            <li class="tab right moneyFlowDirection {{ flowInward }}" ng-click="changeFlowDirection('inward')">Income to Project</li>
            <li class="tab right moneyFlowDirection {{ flowOutward }}" ng-click="changeFlowDirection('outward')">Outflow from Project</li>
        </ul>
    </div>

    <div id="modal" class="row" in-context-form>
        <form name="modal.moneyFlowForm">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="">CURRENCY<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="currencyTypes" output-model="newMoneyFlow.currencyType" button-label="value" item-label="value" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                    <input type="text" ng-model="newMoneyFlow.currencyType" form-element guidance="What currency is the amount reflected." required style="display: none">
                </div>
                <div class="form-group">
                    <label for="">AMOUNT<span class="asterisk"> *</span></label>
                    <input ng-model="newParticipant.lastName" form-element guidance="Surname or primary name of the participant." type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">TRANSACTION TYPE<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="transactionTypes" output-model="newMoneyFlow.transactionType" button-label="name" item-label="name" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                    <input type="text" ng-model="newMoneyFlow.transactionType" required style="display: none">
                </div>
                <div class="form-group">
                    <label for="">{{sourceRecipientLabel}}<span class="asterisk"> *</span></label>
                    <input ng-model="newMoneyFlow.sourceRecipient" form-element guidance="Source or recipient of funds" type="text" class="form-control" required>

                </div>
                <div class="form-group">
                    <label for="">TRANSACTION DATE<span class="asterisk"> *</span></label>
                    <input ng-model="newParticipant.transactionDate" form-element guidance="Date of the transaction" type="date" max="2014-12-31" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">FISCAL YEAR<span class="asterisk"> *</span></label>
                    <isteven-multi-select input-model="fiscalYears" output-model="newMoneyFlow.fiscalYear" button-label="name" item-label="name" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                    <input type="text" ng-model="newMoneyFlow.fiscalYear" required style="display: none">
                </div>
                <div class="form-group">
                    <label for="">NOTES<span class="asterisk"> *</span></label>
                    <input ng-model="newParticipant.description" form-element guidance="Description or notes for this money flow." type="text" class="form-control" required>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        <guidance></guidance>
    </div>
    <button class="btn btn-default" ng-click="modal.addMoneyFlow = false">CANCEL</button>
    <button class="btn btn-success right" ng-disabled="modalForm.moneyFlowForm.$invalid" ng-click="addMoneyFlow()">ADD</button>
</modal-dialog>

<!-- dialog boxes for confirming -->
<modal-dialog show="showConfirmClose" dialog-title="Confirm Close" before-close="confirmCloseNo()">
    <p class="strong">There is unsaved data.  Are you sure you want to cancel?</p>
    <button class="btn btn-default right" ng-click="confirmCloseYes()">YES</button>
    &nbsp;
    <button class="btn btn-success right" ng-click="confirmCloseNo()">NO</button>
</modal-dialog>
<modal-dialog show="confirmSave" dialog-title="Success!" before-close="confirmSaveYes()">
    <p class="strong">The money flow was saved sucessfully</p>
    <button class="btn btn-default right" ng-click="confirmSaveYes()">OK</button>
</modal-dialog>
<modal-dialog show="confirmFail" dialog-title="Error Saving" before-close="confirmFailOk()">
    <p class="strong">There was an error saving the entry.</p>
    <p class="alert-warning">{{errorMessage}}</p>
    <div>
        <ul>
            <li class="alert-danger" ng-repeat="validation in validations">{{validation}}</li>
        </ul>
    </div>
    <button class="btn btn-default right" ng-click="confirmFailOk()">OK</button>
</modal-dialog>

<style>
    .ng-modal-close-x {
        display: none;
    }
</style>
