<h2 class="project-color tab-header">Overview</h2>
<div class="row">
    <span class="right icon span" ng-click="editDescription.$show()" ng-hide="editDescription.$visible"></span>
</div>
<div class="row">
    <h5 editable-textarea="project.description" e-form="editDescription" e-rows="5" e-cols="150" onaftersave="updateProject()">{{project.description}}</h5>
    <img class="right icon" ng-click="editDescription.$show()" ng-hide="editDescription.$visible" src="images/editA.png" alt="">
</div>
<div class="row tags">
    <span ng-repeat="tag in project.tags" class="tag">#{{tag}}</span>
</div>
<div class="row table">
    <h4 class="tab-subheader">Details</h4>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 title-label">Status</div>
            <div class="col-md-6">{{project.status}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 title-label">Themes</div>
            <div class="col-md-6"><span ng-repeat="theme in project.themes">{{theme.themeName}} </span></div>
        </div>
        <!--<div class="row">
            <div class="col-md-6 title-label">Public Diplomacy Goals</div>
            <div class="col-md-6"><span ng-repeat="goal in project.pdGoals">{{goal}} </span></div>
        </div>-->
        <div class="row">
            <div class="col-md-6 title-label">Strategic Goals</div>
            <div class="col-md-6">
                <ul>
                    <li ng-repeat="goal in project.goals">{{goal.value}}</li>
                </ul>
            </div>
            <!--<div class="col-md-6"><span ng-repeat="goal in project.goals">{{goal.goalName}} </span></div>-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 title-label">Focus</div>
            <!--<div class="col-md-6"><span ng-repeat="area in project.focusAreas">{{area}}</span></div>-->
            <div class="col-md-6">{{project.focus}}</div>
        </div>
        <div class="row">
            <div class="col-md-6 title-label">Office</div>
            <div class="col-md-6"><a ui-sref="offices.overview({officeId: program.ownerOrganizationId})">{{program.ownerName}}</a></div>
        </div>
        <div class="row">
            <div class="col-md-6 title-label">Program</div>
            <div class="col-md-6"><a ui-sref="programs.overview({programId: program.id})">{{program.name}}</a></div>
        </div>
        <div class="row" ng-show="project.contacts">
            <div class="col-md-6 title-label"><ng-pluralize count="project.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
            <div class="col-md-6">
                <ul>
                    <li ng-repeat="contact in project.contacts">{{contact.value}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="tab-subheader">Snapshot</h4>
    <div class="col-md-4">
        <p class="stat text-center">{{project.countryIsos.length}}</p>
        <p class="title-label text-center">Locations</p>
    </div>
    <div class="col-md-8">
        <map width="600" height="300" activecolor="5cb9dd" countries="project.countryIsos"></map>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-4">
        <p class="stat text-center">{{project.targets.length}}</p>
        <p class="title-label text-center">Targets</p>
    </div>
    <div class="col-md-8">
        <map width="600" height="300" activecolor="5cb9dd" countries="project.targets"></map>
    </div>
</div> -->
