<div class="spinner" ng-show="view.isLoading || view.isSaving">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div ng-show="!view.isLoading && !view.isSaving">
    <h2 class="project-color tab-header" ng-show="!editView.isLoading && !editView.isSaving">Overview</h2>
    <div class="row">
        <h5>{{project.description}}</h5>
    </div>
    <div class="row tags">
        <span ng-repeat="tag in project.tags" class="tag">#{{tag}}</span>
    </div>
    <div class="row table">
        <h4 class="tab-subheader">Details</h4>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 title-label">Status</div>
                <div class="col-md-6">{{project.status}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 title-label">Start Date</div>
                <div class="col-md-6">{{(project.startDate | date:"MMMM dd, yyyy") || 'No start date.'}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 title-label">End Date</div>
                <div class="col-md-6">{{(project.endDate | date:"MMMM dd, yyyy") || 'No end date.'}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 title-label">Themes</div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="theme in project.themes | orderBy:'value'">&#149 {{theme.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 title-label">Strategic Goals</div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="goal in project.goals | orderBy:'value'">&#149 {{goal.value}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 title-label">Office</div>
                <div class="col-md-6"><a ui-sref="offices.overview({officeId: project.ownerId})">{{project.ownerName}}</a></div>
            </div>
            <div class="row">
                <div class="col-md-6 title-label">Program</div>
                <div class="col-md-6"><a ui-sref="programs.overview({programId: project.programId})">{{project.programName}}</a></div>
            </div>
            <div class="row" ng-show="project.categories.length > 0">
                <div class="col-md-6 title-label">{{categoryLabel}}</div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="category in sortedCategories | orderBy:['focusName','name']">
                            <ng-switch on="$first || category.focusName != sortedCategories[$index - 1].focusName">
                                <div ng-switch-when="true" class="title-label"><strong>{{category.focusName}}</strong></div>
                            </ng-switch>
                            &#149 {{category.name}}
                        </li>
                    </ul>
                </div>               
            </div>
            <div class="row" ng-show="project.objectives.length > 0">
                <div class="col-md-6 title-label">{{objectiveLabel}}</div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="objective in sortedObjectives | orderBy:['justificationName','name']">
                            <ng-switch on="$first || objective.justificationName != sortedObjectives[$index - 1].justificationName">
                                <div ng-switch-when="true" class="title-label"><strong>{{objective.justificationName}}</strong></div>
                            </ng-switch>
                            &#149 {{objective.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="project.contacts">
                <div class="col-md-6 title-label"><ng-pluralize count="project.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="contact in project.contacts | orderBy:'value'">&#149 {{contact.value}}</li>
                    </ul>
                </div>                
            </div>
            <div class="row" ng-show="project.locations">
                <div class="col-md-6 title-label"><ng-pluralize count="project.locations.length" when="{'1':'Location','other':'Locations'}"></ng-pluralize></div>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="location in project.locations | orderBy:'name'">&#149 
                        {{location.name}}
                        <!--A couple of things can happen here, what we are trying to show is something like name (locationTypeName:  division, country)
                            but the division may not be known.  Another possibility is that a location is a country itself and therefore it's own iso must be shown.-->
                        ({{location.locationTypeName}}:  {{location.divisionIso ? location.divisionIso + ', ' : ''}}{{location.countryIso ? location.countryIso : location.locationIso}})</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="tab-subheader">Snapshot</h4>
        <div class="col-md-4">
            <p class="stat text-center">{{project.countryIsos.length}}</p>
            <p class="title-label text-center">Locations</p>
        </div>
        <div class="col-md-8">
            <map width="600" height="300" activecolor="5cb9dd" countries="project.countryIsos"></map>
        </div>
    </div>
</div>

