<h2 class="project-color tab-header">Participants</h2>
<div class="spinner" ng-show="view.isLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="list2" ng-show="!view.isLoading">
    <div class="row" ng-click="view.isCollaboratorExpanded = !view.isCollaboratorExpanded">
        <div class="col-md-10">
            <h4 class="tab-subheader">Required Data</h4>
            <h5 class="subheader2">Setup the required data that you'll need to track, and add collaborators.</h5>
            <p class="mute" ng-if="view.numberOfCollaborators <= 0">No collaborators yet | Last updated {{view.collaboratorsLastUpdated | date}}</p>
            <p class="mute" ng-if="view.numberOfCollaborators > 0">{{view.numberOfCollaborators}} Collaborators | Last updated {{view.collaboratorsLastUpdated | date}}</p>
        </div>
        <div class="col-sd-2">
            <span class="right"><img src="images/expand.png"></span>
            <!--<img class="right icon" src="images/yeoman.png" alt="">-->
        </div>
    </div>
    <div class="row recess" ng-show="view.isCollaboratorExpanded && permissions.isProjectOwner">
        <div class="col-md-9">Do you want to add a collaborator?</div>
        <div class="col-md-3"><button class="btn btn-primary right" ng-click="view.addCollaborator($event)">ADD COLLABORATOR</button></div>
    </div>
    <div class="row expand" ng-show="view.isCollaboratorExpanded">
        <div class="col-md-12 expand">
            <h5><span class="strong">Participant Data</span> - Currently tracking 14 data points</h5>
            <div class="tip">Missing something?<a href=""> + Add another data point</a></div>
        </div>
        <div class="col-md-12">
            <div class="tip"><img src="images/tip.png"><span class="strong">Did you know?</span> These fields are required by ECA &amp; your office</div>
        </div>
        <div class="table">
            <div class="col-md-6">
                <div class="row2"><span class="left title-label medium">SURNAME / PRIMARY NAME</span><span class="right">ECA</span></div>
                <div class="row2"><span class="left title-label medium">FIRST / GIVEN NAME</span><span class="right">ECA</span></div>
                <div class="row2"><span class="left title-label medium">GENDER</span><span class="right">ECA</span></div>
                <div class="row2"><span class="left title-label medium">COUNTRY OF RESIDENCE</span><span class="right">ECA</span></div>
                <div class="row2"><span class="left title-label medium">ORIGINATION (COUNTRY)</span><span class="right">ECA</span></div>
                <div class="row2"><span class="left title-label medium">ADDRESS</span><span class="right">ECA</span></div>
                <div class="row2">
                    <span class="left title-label medium">EMAIL</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <!-- 				<div class="row2"><span class="left title-label medium">SOCIAL MEDIA</span><span class="right"><input type="checkbox"></span></div> -->
            </div>
            <div class="col-md-6">
                <div class="row2">
                    <span class="left title-label medium">PLACE OF BIRTH</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">DATE OF BIRTH</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">COUNTRY OF CITIZENSHIP</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">DESTINATION (COUNTRY)</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">LANGUAGE PROFICIENCIES</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">PHONE NUMBER</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
                <div class="row2">
                    <span class="left title-label medium">INTERESTS</span>
                    <span class="right">{{program.owner.shortName}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-click="dataExpanded2 = !dataExpanded2">
        <div class="col-md-10">
            <h4 class="tab-subheader">Participant List</h4>
            <h5 class="subheader2">Keep track of participant data that has been added to this project.</h5>
            <p class="mute">Participants: {{project.participants.length}} | Last updated {{project.updated | date}}</p>
        </div>
        <div class="col-sd-2">
            <span class="right"><img src="images/expand.png"></span>
        </div>
    </div>
    <div class="row expand" ng-show="dataExpanded2">
        <!--
        <div class="col-md-10">
            <input type="checkbox" class="checkbox-participant">
            <input type="text" ng-model="participantFilter" placeholder="Search Participants" class="search-contextual">
            <i class="glyphicon glyphicon-search contextual"></i>
        </div>
        -->
        <div id="list-views" class="col-md-12">
            <!-- 		  <div class="left">
                        <img src="images/gridViewA.png">
                        <img src="images/listView.png">
                      </div> -->
            <button class="btn btn-primary right" ng-click="modal.addParticipant = true">ADD</button>
        </div>
        <div class="dashed col-md-12" ng-show="project.participants.length === 0">
            <h4>No participants yet.<span class="light"> Drop files here, <a>upload</a> or <a ng-click="modal.addParticipant = true">add manually</a>.</span></h4>
        </div>
        <div st-pipe="getParticipants" st-table="project.participants" id="sort-list">
            <table class="col-md-12 alt">
                <thead>
                    <tr>
                        <th st-sort="'name'" st-sort-default="true" class="col-md-5 sort-label medium">Name</th>
                        <th st-sort="'participantType'" class="col-md-3 sort-label medium">Type</th>
                        <th class="col-md-2 sort-label medium">Status</th>
                        <th class="col-md-2">&nbsp;</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="'name'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            <input st-search="'participantType'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            <input st-search="'status'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody class="list2">
                    <tr class="hover-dark" ng-repeat="participant in project.participants" ng-show="!participantsLoading">
                        <td>
                            <h5 class="list-title"><a ui-sref="participants.personalinformation({participantId: participant.participantId})">{{participant.name}}</a></h5>
                        </td>
                        <td>{{participant.participantType}}</td>
                        <td>Active</td>
                        <td>
                            <img class="icon" src="images/duplicateA.png" alt="">
                            <img class="icon" src="images/editA.png" alt="">
                            <img class="icon" src="images/trash.png" alt="">
                        </td>
                    </tr>
                    <tr ng-show="participantsLoading">
                        <td colspan="5">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="project.participants.length > 0"></div>
        </div>
        <modal-dialog show="modal.addParticipant" dialog-title="Add to Participants" before-close="modalClose()" on-close="modalClear()" main-model="newParticipant">
            <h5>Fill out the required information below for each participant.</h5>
            <div class="required2">* Marks required fields</div>
            <div id="modal-tab" class="tabs">
                <ul class="left">
                    <li class="tab right mute">Other</li>
                    <li class="tab right mute">Contact Information</li>
                    <li class="tab right active">Personal Information</li>
                </ul>
            </div>

            <div id="form-container" class="row" in-context-form>
                <div class="col-md-10">
                    <form name="participantForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">FIRST / GIVEN NAME<span class="asterisk">ss *sp</span></label>
                                    <input ng-model="newParticipant.firstName" form-element guidance="First or given name of the participant." type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">GENDER<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="genders" output-model="newParticipant.gender" button-label="value" item-label="value" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.gender" required style="display: none">
                                </div>
                                <div class="form-group">
                                    <label for="">PLACE OF BIRTH - COUNTRY<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="countries" output-model="newParticipant.countryOfBirth" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" on-item-click="birthCountrySelected(data)"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.countryOfBirth" required style="display: none">
                                </div>
                                <div class="form-group">
                                    <label for="">COUNTRIES OF CITIZENSHIP<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="countries" output-model="newParticipant.countriesOfCitizenship" button-label="name" item-label="name" tick-property="ticked"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.countriesOfCitizenship[0]" required style="display: none">
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="">ORIGINATION - COUNTRY<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="countries" output-model="newParticipant.countryOfOrigination" button-label="name" item-label="name" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.countryOfOrigination" required style="display: none">
                                </div>
                                -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">SURNAME / PRIMARY NAME<span class="asterisk"> *</span></label>
                                    <input ng-model="newParticipant.lastName" form-element guidance="Surname or primary name of the participant." type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">DATE OF BIRTH<span class="asterisk"> *</span></label>
                                    <input ng-model="newParticipant.dateOfBirth" form-element guidance="Date of birth of the participant." type="date" max="2014-12-31" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">PLACE OF BIRTH - CITY<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="cities" output-model="newParticipant.cityOfBirth" button-label="name" item-label="name" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.cityOfBirth" required style="display: none">
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="">DESTINATION - COUNTRY<span class="asterisk"> *</span></label>
                                    <isteven-multi-select input-model="countries" output-model="newParticipant.countryOfDestination" button-label="name" item-label="name" tick-property="ticked" selection-mode="single"></isteven-multi-select>
                                    <input type="text" ng-model="newParticipant.countryOfDestination" required style="display: none">
                                </div>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <guidance></guidance>
                </div>
            </div>
            <button class="btn btn-default" ng-click="modal.addParticipant = false">CANCEL</button>
            <button class="btn btn-success right" ng-disabled="participantForm.$invalid" ng-click="addParticipant()">ADD</button>
        </modal-dialog>


    </div>
    <div class="divider"></div>
</div>

<modal-dialog show="modal.addParticipantResult" dialog-title="{{result.title}}" before-close="modal.addParticipantResult = false">
    <p class="strong">{{result.subtitle}}</p>
    <p class="alert-danger" ng-show="result.error">{{result.error}}</p>
    <button class="btn btn-default right" ng-click="modal.addParticipantResult = false">OK</button>
</modal-dialog>