<h2 class="project-color tab-header">Participants</h2>
<div class="spinner" ng-show="view.isLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="list2" ng-show="!view.isLoading">
    <div class="row">
        <div class="col-md-10">
            <h4 class="tab-subheader">Participant Data</h4>
            <h5 class="subheader2">Keep track of participant data that has been added to this project.</h5>
            <p class="mute">Participants: {{view.totalParticipants}} | Last updated {{project.updated | date}}</p>
        </div>
    </div>
    <div class="row">
        <h4 class="tab-subheader">Add a Participant to this Project</h4>
        <div class="col-md-12" ng-show="view.isAddingParticipant">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="col-md-6" ng-show="!view.isAddingParticipant">
            <div style="margin-top:10px;">
                <span style="font-size:12pt;margin-right:5px;">Filter By:</span>
                <label class="radio-inline">
                    <input type="radio" value="{{view.addPersonFilterValue}}" ng-change="view.onRadioButtonChange(view.addPersonFilterValue)" ng-model="view.addParticipantFilter" />
                    Person
                </label>
                <label class="radio-inline">
                    <input type="radio" value="{{view.addOrganizationFilterValue}}" ng-change="view.onRadioButtonChange(view.addOrganizationFilterValue)" ng-model="view.addParticipantFilter" />
                    Organization
                </label>
            </div>
            <div style="margin-top:10px;">
                <div style="margin-top:10px;" style="margin-top:10px;" class="mute">
                    Showing {{view.displayedAvailableParticipantsCount}} of {{view.totalAvailableParticipants}} available participants.
                </div>
                <input type="search"
                       class="search-contextual"
                       maxlength="100"
                       typeahead-append-to-body="true"
                       typeahead-input-formatter="view.formatAddedParticipant($model)"
                       placeholder="Add an existing participant..."
                       ng-model="view.selectedExistingParticipant"
                       typeahead-wait-ms="400"
                       typeahead-loading="view.isLoadingAvailableParticipants"
                       typeahead="participant as participant.name for participant in view.getAvailableParticipants($viewValue) | limitTo : view.addParticipantsLimit"
                       typeahead-on-select="view.onAddParticipantSelect($item, $model, $label)"
                       typeahead-template-url="addParticipantTemplate.html"
                       typeahead-editable="false">
                </input>
                <i class="material-icons md-18 contextual" ng-show="!view.isLoadingAvailableParticipants">search</i>
                <i class="material-icons md-18 material-icons-spin contextual-busy" ng-show="view.isLoadingAvailableParticipants">autorenew</i>
            </div>
        </div>
        <div class="col-md-5" ng-show="!view.isAddingParticipant" style="margin-top:75px;">
            <p class="pull-right" style="font-style:italic">Search not returning a result?</p>
        </div>
        <div class="col-md-1" ng-show="!view.isAddingParticipant" style="margin-top:65px;">
            <button class="btn btn-primary" ng-click="openAddNewParticipant()">ADD NEW PARTICIPANT</button>
        </div>
    </div>
    <div class="row expand">
        <div class="dashed col-md-12" ng-show="participants.length === 0">
            <h4>No participants yet.<span class="light"> Drop files here, <a>upload</a> or <a ng-click="openAddPersonDialog()">add manually</a>.</span></h4>
        </div>
        <div st-pipe="getParticipants" st-table="participants" exposetablestate="getParticipantsTableState" id="sort-list">
            <table class="col-md-12 alt">
                <thead>
                    <tr>
                        <th st-sort="'name'" st-sort-default="true" class="col-md-5 sort-label medium">Name</th>
                        <th st-sort="'participantType'" class="col-md-3 sort-label medium">Type</th>
                        <th class="col-md-2 sort-label medium">Status</th>
                        <th class="col-md-2">&nbsp;</th>
                        <th class="col-md-2">&nbsp;</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="'name'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            <input st-search="'participantType'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            <input st-search="'status'" placeholder="" type="search" class="input-lg form-control" />
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody class="list2">
                    <tr class="hover-dark" ng-repeat-start="participant in participants" ng-show="!participantsLoading">
                        <td>
                            <h5 class="list-title"><a ng-click="onParticipantClick(participant)">{{participant.name}}</a></h5>
                        </td>
                        <td>{{participant.participantType}}</td>
                        <td>{{participant.participantStatus}}</td>
                        <td>
                            <img class="icon" src="images/duplicateA.png" alt="">
                            <img class="icon" src="images/editA.png" alt="">
                            <img class="icon" src="images/trash.png" alt="">
                        </td>
                        <td>
                            <a ng-click="toggleParticipantInfo(participant.participantId)">
                                <i class="material-icons md-dark md-36 pull-right" ng-show="participantInfo[participant.participantId] === undefined || participantInfo[participant.participantId].show === false">expand_less</i>
                                <i class="material-icons md-dark md-36 pull-right" ng-show="participantInfo[participant.participantId].show">expand_more</i>
                            </a>
                        </td>
                    </tr>
                    <tr id="participantInfo" ng-show="participantInfo[participant.participantId].show && participantInfo[participant.participantId].participantId">
                        <td colspan="5">
                            <div class="col-md-7">
                                <div class="row" ng-show="participantInfo[participant.participantId].hostInstitution">
                                    <div class="col-md-4 title-label">Host Institution</div>
                                    <div class="col-md-8">
                                        <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.name">
                                            <label class="col-md-4 title-label">Name</label>
                                            <div class="col-md-8">
                                                {{participantInfo[participant.participantId].hostInstitution.name}}
                                            </div>
                                        </div>
                                        <div ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0]">
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].street1">
                                                <label class="col-md-4 title-label">Street 1</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].street1}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].street2">
                                                <label class="col-md-4 title-label">
                                                    Street 2
                                                </label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].street2}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].street3">
                                                <label class=" col-md-4 title-label">
                                                    Street 3
                                                </label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].street3}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].country">
                                                <label class="col-md-4 title-label">Country</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].country}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].city">
                                                <label class="col-md-4 title-label">City</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].city}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].hostInstitution.addresses[0].postalCode">
                                                <label class="col-md-4 title-label">Postal Code</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].hostInstitution.addresses[0].postalCode}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="participantInfo[participant.participantId].homeInstitution">
                                    <div class="col-md-4 title-label">Home Institution</div>
                                    <div class="col-md-8">
                                        <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.name">
                                            <label class=" col-md-4 title-label">
                                                Name
                                            </label>
                                            <div class="col-md-8">
                                                {{participantInfo[participant.participantId].homeInstitution.name}}
                                            </div>
                                        </div>
                                        <div ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0]">
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].street1">
                                                <label class="col-md-4 title-label">Street 1</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].street1}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].street2">
                                                <label class="col-md-4 title-label">Street 2</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].street2}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].street3">
                                                <label class="col-md-4 title-label">Street 3</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].street3}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].country">
                                                <label class="col-md-4 title-label">Country</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].country}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].city">
                                                <label class="col-md-4 title-label">City</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].city}}
                                                </div>
                                            </div>
                                            <div class="form-group clearfix" ng-show="participantInfo[participant.participantId].homeInstitution.addresses[0].postalCode">
                                                <label class="col-md-4 title-label">Postal Code</label>
                                                <div class="col-md-8">
                                                    {{participantInfo[participant.participantId].homeInstitution.addresses[0].postalCode}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row" ng-show="participantInfo[participant.participantId].participantType">
                                    <div class="col-md-4 title-label">Participant Type</div>
                                    <div class="col-md-8">{{participantInfo[participant.participantId].participantType}}</div>
                                </div>
                                <div class="row" ng-show="participantInfo[participant.participantId].sevisId">
                                    <div class="col-md-4 title-label">Sevis Id</div>
                                    <div class="col-md-8">
                                        {{participantInfo[participant.participantId].sevisId}}
                                    </div>
                                </div>
                                <div class="row" ng-show="participantInfo[participant.participantId].participantStatus">
                                    <div class="col-md-4 title-label">Status</div>
                                    <div class="col-md-8">{{participantInfo[participant.participantId].participantStatus}}</div>
                                </div>
                                <div class="row" ng-show="participantInfo[participant.participantId].fieldOfStudy">
                                    <div class="col-md-4 title-label">Field Of Study</div>
                                    <div class="col-md-8">{{participantInfo[participant.participantId].fieldOfStudy}}</div>
                                </div>
                                <div class="row" ng-show="participantInfo[participant.participantId].position">
                                    <div class="col-md-4 title-label">Position</div>
                                    <div class="col-md-8">{{participantInfo[participant.participantId].position}}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="participantInfo" ng-repeat-end ng-show="participantInfo[participant.participantId].show && participantInfo[participant.participantId].participantId === undefined">
                        <td colspan="5">
                            <div class="col-md-12 text-center">
                                There is no additional information for this participant.
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="participantsLoading">
                        <td colspan="5">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="participants.length > 0"></div>
        </div>
    </div>
    <script type="text/ng-template" id="addParticipantTemplate.html">
        <a>
            <!--Organization search results-->
            <div ng-show="match.model.name">
                <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
            </div>
            <div ng-show="match.model.location" style="margin-left:30px;">
                <span bind-html-unsafe="match.model.location | typeaheadHighlight:query"></span>
            </div>

            <!--Person search results-->
            <div ng-show="match.model.fullName">
                <span bind-html-unsafe="match.model.fullName | typeaheadHighlight:query"></span>
            </div>
            <div ng-show="match.model.gender" style="margin-left:30px;">
                <span bind-html-unsafe="match.model.gender | typeaheadHighlight:query"></span>
            </div>
            <div ng-show="match.model.dateOfBirth" style="margin-left:30px;">
                <span>Born:  </span>
                <span bind-html-unsafe="(match.model.dateOfBirth | date:'MMM dd, yyyy')"></span>
            </div>
        </a>
    </script>

</div>