<div class="row">
    <div class="col-md-12">
        <h2 class="tab-header"><i class="material-icons md-36">star</i> Bookmarks </h2>
    </div>
</div>

<div class="row" ng-show="!loadingBookmarks">
    <div class="col-md-12" ng-show="bookmarks.length === 0">
        <p class="lead">No bookmarks have been created.</p>
    </div>
    <div class="col-md-3 bookmark" ng-repeat="bookmark in bookmarks">
        <div class="col-md-12 bookmark-header {{bookmark.type | lowercase}}">
            <p class="pull-right"><a ng-click="deleteBookmark(bookmark)"><i class="material-icons">trash</i></a></p>
            <p>{{bookmark.type}}</p>
        </div>
        <div class="col-md-12 bookmark-content">
            <h5><a href="{{getHref(bookmark) + '#top'}}">{{bookmark.name | limitTo: 75}}{{bookmark.name.length > 75 ? '...' : ''}}</a></h5>
            <p class="bookmark-title">{{bookmark.officeSymbolOrStatus}}</p>
        </div>
        <div class="col-md-12 bookmark-footer">
            <p class="pull-right">{{bookmark.addedOn | date: 'MM/dd/yyyy'}}</p>
            <p>Added:</p>
        </div>
    </div>
</div>

<div class="row" ng-show="loadingBookmarks">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

