<h2 class="tab-header"><i class="material-icons md-36">star</i> Bookmarks</h2>

<div class="row">
    <div class="col-md-3 bookmark">
        <div class="col-md-12 program">
            <p class="bookmark-type">Program</p>
        </div>
        <div class="col-md-12 bookmark-content">
            <p class="bookmark-title">ECA/PE/C</p>
            <p>International Writing Program (IWP)</p>
        </div>
        <div class="col-md-12 bookmark-footer">
            <p class="pull-right">01/01/2011</p>
            <p>Added:</p>
        </div>
    </div>
    <div class="col-md-3 bookmark">
        <div class="col-md-12 program">
            <p class="bookmark-type">Program</p>
        </div>
        <div class="col-md-12 bookmark-content">
            <p class="bookmark-title">ECA/PE/C</p>
            <p>International Writing Program (IWP)</p>
        </div>
        <div class="col-md-12 bookmark-footer">
            <p class="pull-right">01/01/2011</p>
            <p>Added:</p>
        </div>
    </div>
    <div class="col-md-3 bookmark">
        <div class="col-md-12 program">
            <p class="bookmark-type">Program</p>
        </div>
        <div class="col-md-12 bookmark-content">
            <p class="bookmark-title">ECA/PE/C</p>
            <p>International Writing Program (IWP)</p>
        </div>
        <div class="col-md-12 bookmark-footer">
            <p class="pull-right">01/01/2011</p>
            <p>Added:</p>
        </div>
    </div>
    <div class="col-md-3 bookmark">
        <div class="col-md-12 program">
            <p class="bookmark-type">Program</p>
        </div>
        <div class="col-md-12 bookmark-content">
            <p class="bookmark-title">ECA/PE/C</p>
            <p>International Writing Program (IWP)</p>
        </div>
        <div class="col-md-12 bookmark-footer">
            <p class="pull-right">01/01/2011</p>
            <p>Added:</p>
        </div>
    </div>
</div>