<div class="row" ng-show="!editMode">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-click="editMode = !editMode">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
</div>
<div ng-controller="personContactCtrl" ng-if="!editMode">
    <div ng-show="edit.contactsLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!edit.contactsLoading">
        <div class="col-md-6">
            <div class="row">
                <i class="material-icons md-dark col-md-1">email</i>
                <div class="col-md-3 title-label">Email(s)</div>
                <emailaddresses model="contactInfo" modelid="person.personId" modeltype="'person'" editmode="edit.Contact"></emailaddresses>
            </div>
            <div class="row">
                <i class="material-icons md-dark col-md-1">personal_video</i>
                <div class="col-md-3 title-label">Social Media</div>
                <socialmedias model="contactInfo" modelid="person.personId" modeltype="'person'" editmode="edit.Contact" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <i class="material-icons md-dark col-md-1">phone</i>
                <div class="col-md-4 title-label">Phone Number(s)</div>
                <phonenumbers model="contactInfo" modelid="person.personId" modeltype="'person'" editmode="edit.Contact"></phonenumbers>
            </div>
            <div class="row">
                <i class="material-icons md-dark col-md-1">phone_in_talk</i>
                <div class="col-md-3 title-label">Has Contact Agreement?</div>
                <div class="col-md-8"><input type="checkbox" ng-model="contactInfo.hasContactAgreement" disabled></div>
            </div>
            <div class="row">
                <i class="material-icons md-dark col-md-1">message</i>
                <div class="col-md-4 title-label">Contact Agreement(s)</div>
                <div class="col-md-8"></div><!-- TODO -->
            </div>
        </div>
    </div>
</div>

<div ng-controller="personContactEditCtrl" ng-if="editMode">
    <div ng-show="edit.contactsLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!edit.contactsLoading">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button ng-click="saveEditContact()" class="btn btn-success" ng-disabled="contactForm.$pristine">Save</button>
                    <button ng-click="cancelEditContact()" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </div>
        <form name="contactForm" class="form-horizontal">
            <div class="col-md-6">
                <div class="row">
                    <i class="material-icons md-dark col-md-1">email</i>
                    <div class="col-md-3 title-label">Email(s)</div>
                    <emailaddresses model="contactInfo" modelid="personid" modeltype="'person'" editmode="editMode"></emailaddresses>
                </div>
                <div class="row">
                    <i class="material-icons md-dark col-md-1">personal_video</i>
                    <div class="col-md-3 title-label">Social Media</div>
                    <socialmedias model="contactInfo" modelid="personid" modeltype="'person'" editmode="editMode" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <i class="material-icons md-dark col-md-1">phone</i>
                    <div class="col-md-4 title-label">Phone Number(s) <eca-required colorclass="preferred" tooltiptext="One Visiting phone number required for SEVIS" iconfontname="label_outline" /></div>
                    <phonenumbers model="contactInfo" modelid="personid" modeltype="'person'" editmode="editMode"></phonenumbers>
                </div>
                <div class="row">
                    <i class="material-icons md-dark col-md-1">phone_in_talk</i>
                    <div class="col-md-3 title-label">Has Contact Agreement?</div>
                    <div class="col-md-8"><input type="checkbox" ng-model="contactInfo.hasContactAgreement"></div>
                </div>
                <div class="row">
                    <i class="material-icons md-dark col-md-1">message</i>
                    <div class="col-md-4 title-label">Contact Agreement(s)</div>
                    <div class="col-md-8"></div>
                </div>
            </div>
        </form>
    </div>
</div>
