<div class="form-group">
    <div ng-if="propertyType !== 'date'">
        <input type="number"
               step="any"
               class="form-control"
               ng-model="view.lessThanValue"
               ng-change="view.onValueChange()"
               ng-model-options="{debounce: 750}"
               tooltip="Filter on values less than {{view.lessThanValue !== null ? view.lessThanValue : 'this value'}}."
               placeholder="Less Than..." />
        <input type="number"
               step="any"
               class="form-control"
               ng-model="view.greaterThanValue"
               ng-change="view.onValueChange()"
               ng-model-options="{debounce: 750}"
               tooltip="Filter on values greater than {{view.greaterThanValue !== null ? view.greaterThanValue : 'this value'}}."
               placeholder="Greater Than..." />
    </div>
    <div ng-if="propertyType === 'date'">
        <p class="input-group">
            <input type="text"
                   class="form-control"
                   datepicker-popup="dd-MMM-yyyy"
                   ng-model="view.lessThanValue"
                   is-open="view.isLessThanDatePickerOpen"
                   close-text="Close"
                   append-to-body="true"
                   show-weeks="false"
                   placeholder="Less Than..."
                   tooltip="Filter on dates less than {{view.lessThanValue !== null ? (view.lessThanValue | date:'dd-MMM-yyyy') : 'this value'}}."
                   ng-change="view.onValueChange()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="view.onLessThanDatePickerOpen($event)">
                    <i class="material-icons">event</i>
                </button>
            </span>
        </p>
        <p class="input-group">
            <input type="text"
                   class="form-control"
                   datepicker-popup="dd-MMM-yyyy"
                   ng-model="view.greaterThanValue"
                   is-open="view.isGreaterThanDatePickerOpen"
                   close-text="Close"
                   append-to-body="true"
                   show-weeks="false"
                   placeholder="Greater Than..."
                   tooltip="Filter on dates greater than {{view.greaterThanValue !== null ? (view.greaterThanValue | date:'dd-MMM-yyyy') : 'this value'}}."
                   ng-change="view.onValueChange()" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="view.onGreaterThanDatePickerOpen($event)">
                    <i class="material-icons">event</i>
                </button>
            </span>
        </p>
    </div>
</div>