<div class="modal-header">
    <h3 class="modal-title">Add Funding Item to {{view.entityName | limitTo: view.entityNameMaxLength}}<span ng-show="view.entityName.length > view.entityNameMaxLength">...</span></h3>
</div>
<div class="modal-body" in-context-form>
    <form name="form.newMoneyFlow" ng-show="!view.isSaving">
        <div class="form-group" id="transactionType">
            <span class="moneyFlowDirection"
                  ng-class="{directionSelected: !view.moneyFlow.isOutgoing}"
                  ng-disabled="view.moneyFlow.isExpense"
                  ng-click="view.toggleIncomingOutgoing(view.incomingDirectionKey)">
                Incoming
            </span>
            <span class="moneyFlowDirection"
                  ng-class="{directionSelected: view.moneyFlow.isOutgoing}"
                  ng-click="view.toggleIncomingOutgoing(view.outgoingDirectionKey)">
                Outgoing
            </span>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Status<span class="asterisk"> *</span></label>
                <div>
                    <select class="form-control"
                            id="moneyFlowStatus"
                            name="moneyFlowStatusId"
                            ng-options="t.id as t.name for t in view.moneyFlowStatii"
                            ng-model="view.moneyFlow.moneyFlowStatusId"
                            required></select>
                </div>
                <div ng-show="form.newMoneyFlow.moneyFlowStatusId.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.moneyFlowStatusId.$error.required">Please select a status.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Transaction Date<span class="asterisk"> *</span></label>
                <p class="input-group">
                    <input name="transactionDate"
                           type="text"
                           class="form-control"
                           datepicker-popup="dd-MMMM-yyyy"
                           show-weeks="false"
                           ng-model="view.moneyFlow.transactionDate"
                           is-open="view.isTransactionDatePickerOpen"
                           close-text="Close"
                           placeholder="Enter transaction date..."
                           ng-required="true" />
                    <span class="input-group-btn" style="width:0;">
                        <button type="button" class="btn btn-default" ng-click="view.openTransactionDatePicker($event)"><i class="material-icons md-18">event</i></button>
                    </span>
                </p>
                <div ng-show="form.newMoneyFlow.transactionDate.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.transactionDate.$error.required">Please select a transaction date.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Reference Fiscal Year<span class="asterisk"> *</span></label>
                <year-dropdown name="fiscalYear" id="fiscalYear" model="view.moneyFlow.fiscalYear"
                               offset="-10" range="2" class="yearDropdown" required></year-dropdown>
                <div ng-show="form.newMoneyFlow.fiscalYear.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.fiscalYear.$error.required">Please enter a fiscal year.</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-6">
                <label ng-show="!view.moneyFlow.isOutgoing">Source Type<span class="asterisk"> *</span></label>
                <label ng-show="view.moneyFlow.isOutgoing">Recipient Type <span class="asterisk"> *</span></label>
                <div>
                    <select class="form-control"
                            id="peerEntityTypeId"
                            name="peerEntityTypeId"
                            ng-options="t.id as t.name for t in view.getAllowedMoneyFlowSourceRecipientTypes(view.moneyFlow)"
                            ng-model="view.moneyFlow.peerEntityTypeId"
                            ng-change="view.onSelectSourceType()"
                            required></select>
                </div>
                <div ng-show="form.newMoneyFlow.peerEntityTypeId.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.peerEntityTypeId.$error.required && !view.moneyFlow.isOutgoing">Please select a source type.</div>
                    <div class="error" ng-show="form.newMoneyFlow.peerEntityTypeId.$error.required && view.moneyFlow.isOutgoing">Please select a recipient type.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>{{view.moneyFlow.isOutgoing ? 'Recipient' : 'Source'}}<span ng-show="view.isSourceRecipientFieldRequired" class="asterisk"> *</span></label>
                <div>
                    <input type="search"
                           id="source"
                           name="source"
                           class="search-contextual"
                           maxlength="100"
                           typeahead-append-to-body="false"
                           ng-disabled="!view.isSourceRecipientFieldEnabled"
                           placeholder="{{view.moneyFlow.isOutgoing ? 'Select recipient...' : 'Select source...'}}"
                           ng-model="view.moneyFlow.peerEntity"
                           typeahead-wait-ms="400"
                           typeahead-loading="view.isLoadingSources"
                           typeahead="peer as peer.primaryText for peer in view.getPeers($viewValue) | limitTo : view.searchLimit"
                           typeahead-on-select="view.onSelectPeer($item, $model, $label)"
                           typeahead-template-url="selectSourceTemplate.html"
                           typeahead-editable="false"
                           typeahead-input-formatter="view.formatPeerEntity($item, $model, $label)"
                           ng-required="view.isSourceRecipientFieldRequired" />
                    <i class="material-icons md-18 contextual" ng-show="!view.isLoadingSources">search</i>
                    <i class="material-icons md-18 material-icons-spin contextual-busy" ng-show="view.isLoadingSources">autorenew</i>
                </div>
                <div ng-show="form.newMoneyFlow.source.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.source.$error.required ">Please select a {{view.moneyFlow.isOutgoing ? 'recipient' : 'source'}}.</div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 form-group">
                <div>
                    <label>
                        Select a Funding Item that will be the Source for the new Funding Item
                    </label>
                </div>
                <div>
                    <label class="col-md-4">Source Name</label>
                    <label class="col-md-4 text-right">Total Funding Amount</label>
                    <label class="col-md-4 text-right">Currently Unassigned</label>
                </div>
                <div>
                    <ui-select theme="select2"
                               ng-model="view.moneyFlow.parentMoneyFlowId"
                               on-select="view.onSelectSourceMoneyFlow($item, $model)">
                        <ui-select-match placeholder="Select a source funding item..." allow-clear="true">
                            <div ng-show="source.id !== 0">
                                <div class="col-md-4">{{view.selectedSourceMoneyFlow.sourceName}}</div>
                                <div class="col-md-4 text-right">{{view.selectedSourceMoneyFlow.amount | currency}}</div>
                                <div class="col-md-4 text-right">{{view.selectedSourceMoneyFlow.remainingAmount | currency}}</div>
                            </div>
                        </ui-select-match>
                        <ui-select-choices repeat="source.id as source in view.sourceMoneyFlows | propsFilter: {sourceName: $select.search} track by source.id ">
                            <div ng-show="source.id === 0">
                                <i class="material-icons md-12 material-icons-spin" style="margin-top:10px;">autorenew</i>
                                Loading...
                            </div>
                            <div class="row" ng-show="source.id !== 0">
                                <div class="col-md-4" ng-bind-html="source.sourceName | highlight: $select.search"></div>
                                <div class="col-md-4 text-right" ng-bind-html="source.amount | currency"></div>
                                <div class="col-md-4 text-right" ng-bind-html="source.remainingAmount | currency"></div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <label>Remaining Unassigned Funds From Source</label>
                <p ng-show="view.selectedSourceMoneyFlow !== null" ng-class="{error: form.newMoneyFlow.amount.$error.exceedsSourceAmount}">{{view.selectedSourceMoneyFlow.remainingAmount - view.moneyFlow.value | currency}}</p>
                <p ng-show="view.selectedSourceMoneyFlow === null">No Source Funding Item Selected</p>
            </div>
            <div class="form-group col-md-6">
                <label>Amount<span class="asterisk"> *</span></label>
                <input type="number"
                       step="any"
                       id="amount"
                       name="amount"
                       max="{{view.maxAmount}}"
                       ui-validate="{exceedsSourceAmount: 'view.validateSourceRemainingAmount($value)'}"
                       min="0"
                       class="form-control"
                       ng-model="view.moneyFlow.value"
                       placeholder="Enter amount."
                       ng-required="true"
                       form-element guidance="The USD amount of the transaction." />
                <div ng-show="form.newMoneyFlow.amount.$dirty">
                    <div class="error" ng-show="form.newMoneyFlow.amount.$error.required">Please enter a transaction amount.</div>
                    <div class="error" ng-show="form.newMoneyFlow.amount.$error.exceedsSourceAmount">The amount exceeds the remaining source funding.</div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-12">
                <label>Description<span class="asterisk"> *</span></label>
                <div>
                    <textarea name="description"
                              maxlength="{{view.maxDescriptionLength}}"
                              class="largerArea"
                              ng-model="view.moneyFlow.description"
                              form-element guidance="This is the description of the funding."
                              id="description"
                              required
                              placeholder="Enter description..."></textarea>
                    <div ng-show="form.newMoneyFlow.description.$dirty">
                        <div class="error" ng-show="form.newMoneyFlow.description.$error.required ">Please enter a description.</div>
                    </div>
                    <p class="mute" style="margin-top:5px;">{{view.moneyFlow.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>
                </div>
            </div>
        </div>
    </form>
    <div class="row" ng-show="view.isLoadingRequiredData || view.isSaving">
        <div class="spinner col-md-12">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="form.newMoneyFlow.$invalid  || view.isSaving" class="btn btn-primary" ng-click="view.save()">Save</button>
    <button ng-disabled="view.isSaving" class="btn btn-cancel" ng-click="view.cancel()">Cancel</button>
</div>
<script type="text/ng-template" id="selectSourceTemplate.html">
    <a>
        <div ng-show="match.model.primaryText">
            <span ng-bind-html="match.model.primaryText | typeaheadHighlight:query"></span>
        </div>
        <div ng-show="match.model.secondaryText" style="margin-left: 30px;">
            <span ng-bind-html="match.model.secondaryText | typeaheadHighlight:query"></span>
        </div>
    </a>
</script>