<div ng-controller="MoneyFlowsCtrl">
    <tabset>
        <tab heading="Funding Items" class="tab" active="isFundingItems">
            <div style="margin-top:20px;">
                <div class="col-md-8">
                    <p class="mute" ng-show="view.total > 0">Showing {{view.start}} - {{view.end}} of {{view.total}} funding items.</p>
                </div>
                <div class="col-md-4 text-right">
                    <!--Wait for entityName to be defined here also because the directive requires it to show the name of the entity you are adding funding too.-->
                    <button class="btn btn-primary" ng-show="!view.isLoadingRequiredData && !view.isLoadingMoneyFlows && view.canEditMoneyFlows && entityName" ng-click="view.onAddFundingItemClick()">ADD FUNDING ITEM</button>
                </div>
            </div>
            <div st-pipe="view.getMoneyFlows"
                 st-table="view.moneyFlows"
                 exposetablestate="getMoneyFlowsTableState"
                 exposetablestateto="view.getScope()"
                 id="sort-list">
                <table class="col-md-12" style="margin-top:30px;">
                    <thead>
                        <tr class="row">
                            <th style="padding-left:10px;padding-right:10px;" st-sort="'transactionDate'" st-sort-default="reverse" class="col-md-1 sort-label medium">Transaction Date</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'moneyFlowStatus'" class="col-md-1 sort-label medium">Status</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'sourceRecipientTypeName'" class="col-md-1 sort-label medium">Type</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'sourceRecipientName'" class="col-md-2 sort-label medium">From/To</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'grantNumber'" class="col-md-1 sort-label medium">Grant Number</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'amount'" class="col-md-1 sort-label medium text-right" ">Amount</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'fiscalYear'" class="col-md-1 sort-label medium text-right">FY</th>
                            <th style="padding-left:15px;padding-right:15px;" st-sort="'description'" class="col-md-1 sort-label medium">Description</th>
                            <th style="padding-left:15px;padding-right:15px;" class="col-md-1">&nbsp;</th>
                            <th style="padding-left:15px;padding-right:15px;" class="col-md-1 text-right">
                                <div ng-show="!view.showFilters">
                                    <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.showFilters = !view.showFilters" tooltip="Show filters.">expand_less</i>
                                </div>
                                <div ng-show="view.showFilters">
                                    <i class="material-icons md-24" style="cursor:pointer;" ng-click="view.showFilters = !view.showFilters" tooltip="Hide filters.">expand_more</i>
                                </div>
                            </th>
                        </tr>
                        <tr class="row" ng-show="view.showFilters">
                            <th>
                                <div equality-filter property="'transactionDate'" propertytype="'date'"></div>
                            </th>
                            <th>
                                <ui-select multiple
                                           ui-select-st-search
                                           ui-select-st-search-model-id="id"
                                           ui-select-st-search-property="moneyFlowStatusId"
                                           ui-select-st-search-comparison-type="in"
                                           close-on-select="true"
                                           ng-model="view.selectedFilterMoneyFlowStatii"
                                           theme="select2"
                                           append-to-body="true"
                                           title="Choose money flow statii to filter.">
                                    <ui-select-match placeholder="Filter statuses...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="status in view.moneyFlowStatii | filter: select.search track by status.id">
                                        <div ng-bind-html="status.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </th>
                            <th>
                                <ui-select multiple
                                           ui-select-st-search
                                           ui-select-st-search-model-id="id"
                                           ui-select-st-search-property="sourceRecipientEntityTypeId"
                                           ui-select-st-search-comparison-type="in"
                                           close-on-select="true"
                                           ng-model="view.selectedFilterSourceRecipientTypes"
                                           theme="select2"
                                           append-to-body="true">
                                    <ui-select-match placeholder="Filter types...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="t in view.moneyFlowSourceRecipientTypes | filter: select.search track by t.id">
                                        <div ng-bind-html="t.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </th>
                            <th>
                                <input st-search="'sourceRecipientName'" placeholder="" type="search" class="form-control" />
                            </th>
                            <th>
                                <input st-search="'grantNumber'" maxlength="25" placeholder="" type="search" class="form-control" />
                            </th>
                            <th>
                                <div equality-filter property="'amount'" propertytype="'float'"></div>
                            </th>
                            <th>
                                <div equality-filter property="'fiscalYear'" propertytype="'int'"></div>
                            </th>
                            <th>
                                <input st-search="'description'" maxlength="100" placeholder="" type="search" class="form-control" />
                            </th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="list2" ng-show="!view.isLoadingRequiredData && !view.isLoadingMoneyFlows">
                        <tr class="row hover" ng-repeat-start="moneyFlow in view.moneyFlows" ng-class="{'expandedDescription': moneyFlow.currentlyEditing, 'hover': !moneyFlow.currentlyEditing }">
                            <td class="col-md-1">
                                <span class="text-left">{{moneyFlow.transactionDate | date:'MM/dd/yyyy'}}</span>
                            </td>
                            <td class="col-md-1">
                                {{moneyFlow.moneyFlowStatus}}
                            </td>
                            <td class="col-md-1">
                                {{moneyFlow.sourceRecipientTypeName}}
                            </td>
                            <td class="col-md-2">
                                <a ng-show="!moneyFlow.loadingEntityState" href="{{moneyFlow.href}}">{{moneyFlow.sourceRecipientName}}</a>
                                <i class="material-icons material-icons-spin md-24" ng-show="moneyFlow.loadingEntityState">autorenew</i>
                            </td>
                            <td class="col-md-1">
                                <div>
                                    {{moneyFlow.grantNumber}}
                                </div>
                            </td>
                            <td class="text-right col-md-1">
                                <div>
                                    <span class="{{moneyFlow.amount < 0 ? 'outgoingMoneyFlow' : 'incomingMoneyFlow'}}">{{moneyFlow.amount | currency}}</span>
                                </div>
                            </td>
                            <td class="text-right col-md-1">
                                <div>
                                    {{moneyFlow.fiscalYear}}
                                </div>
                            </td>
                            <td class="col-md-1">
                                <span>{{moneyFlow.description | limitTo: 20}}</span><span ng-show="moneyFlow.description.length > 20">....</span>
                            </td>
                            <td class="col-md-2" ng-show="!view.moneyFlowsLoading && !moneyFlow.currentlyEditing && view.canEditMoneyFlows">
                                <div class="right" style="display:none;" showonparentrow>
                                    <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy" ng-click="view.onCopyClick(moneyFlow)">
                                        <i class="material-icons md-24 copyEditDeleteOption" ng-show="!moneyFlow.isCopyingMoneyFlow">content_copy</i>
                                        <i class="material-icons md-24 material-icons-spin copyEditDeleteOption" ng-show="moneyFlow.isCopyingMoneyFlow">autorenew</i>
                                    </div>
                                    <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit" ng-click="view.onEditClick(moneyFlow)">
                                        <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                                    </div>
                                    <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete" ng-click="view.onDeleteClick(moneyFlow)">
                                        <i class="material-icons md-24 copyEditDeleteOption" ng-show="!moneyFlow.isDeleting">delete</i>
                                        <i class="material-icons md-24 material-icons-spin copyEditDeleteOption" ng-show="moneyFlow.isDeleting">autorenew</i>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1">
                                <a ng-click="view.onToggleExpandClick(moneyFlow)" ng-show="moneyFlow.description.length > 20">
                                    <i class="material-icons md-dark md-24" tooltip="Hide full description." ng-show="moneyFlow.showDescription">expand_more</i>
                                    <i class="material-icons md-dark md-24" tooltip="Show full description." ng-show="!moneyFlow.showDescription">expand_less</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="moneyFlow.isDeleting">
                            <td colspan="18">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="expandedDescription" ng-show="moneyFlow.showDescription">
                            <td colspan="18" style="padding:5px;">
                                <div>
                                    Description: {{moneyFlow.description}}
                                </div>
                            </td>
                        </tr>
                        <tr class="expandedDescription" ng-show="moneyFlow.currentlyEditing" ng-repeat-end>
                            <td colspan="18">
                                <div id="{{view.getMoneyFlowDivId(moneyFlow)}}">
                                    <div class="spinner" ng-show="moneyFlow.isSavingUpdate">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                    <form name="form.moneyFlowForm" ng-show="!moneyFlow.isSavingUpdate">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="transactionDate{{moneyFlow.id}}">Transaction Date<span class="asterisk"> *</span></label>
                                                <p class="input-group">
                                                    <input name="transactionDate"
                                                           id="transactionDate{{moneyFlow.id}}"
                                                           type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd-MMMM-yyyy"
                                                           ng-model="moneyFlow.transactionDate"
                                                           is-open="moneyFlow.isTransactionDatePickerOpen"
                                                           close-text="Close"
                                                           show-weeks="false"
                                                           ng-required="true" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="view.openTransactionDatePicker($event, moneyFlow, form.moneyFlowForm)">
                                                            <i class="material-icons md-18">event</i>
                                                        </button>
                                                    </span>
                                                </p>
                                                <div ng-show="form.moneyFlowForm.transactionDate.$dirty || form.moneyFlowForm.transactionDate.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.transactionDate.$error.required">Please select a transaction date.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="moneyFlowStatus{{moneyFlow.id}}">Status<span class="asterisk"> *</span></label>
                                                <select class="form-control"
                                                        id="moneyFlowStatus{{moneyFlow.id}}"
                                                        name="moneyFlowStatusId"
                                                        ng-options="t.id as t.name for t in view.moneyFlowStatii"
                                                        ng-model="moneyFlow.moneyFlowStatusId"
                                                        required></select>
                                                <div ng-show="form.moneyFlowForm.moneyFlowStatusId.$dirty || form.addressForm.moneyFlowStatusId.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.moneyFlowStatusId.$error.required">Please select a funding status.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="moneyFlowGrantNumber{{moneyFlow.id}}">Grant Number</label>
                                                <input class="form-control"
                                                       type="text"
                                                       maxlength="25"
                                                       id="moneyFlowGrantNumber{{moneyFlow.id}}"
                                                       name="moneyFlowGrantNumber"
                                                       ng-model="moneyFlow.grantNumber" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label>Source</label>
                                                <div ng-show="!moneyFlow.parentMoneyFlowId">
                                                    No source funding item.
                                                </div>
                                                <div>
                                                    <div ng-show="moneyFlow.isLoadingSource">
                                                        <i class="material-icons material-icons-spin md-24">autorenew</i>
                                                    </div>
                                                    <div ng-show="moneyFlow.parentMoneyFlow && !moneyFlow.isLoadingSource">
                                                        <span ng-show="moneyFlow.parentMoneyFlow.isLoadingEntityState">{{moneyFlow.parentMoneyFlow.sourceName}}</span>
                                                        <a ng-show="!moneyFlow.parentMoneyFlow.isLoadingEntityState" href="{{moneyFlow.parentMoneyFlow.href}}">{{moneyFlow.parentMoneyFlow.sourceName}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Remaining Unassigned</label>
                                                <div ng-show="!moneyFlow.parentMoneyFlowId">
                                                    N/A
                                                </div>
                                                <div ng-show="moneyFlow.parentMoneyFlow && !moneyFlow.isLoadingSource">
                                                    <span ng-class="{dirtyMoneyFlowAmount: form.moneyFlowForm.amount.$dirty}">
                                                        {{moneyFlow.parentMoneyFlow.moneyFlowLineItemMaximumAmount - (moneyFlow.editableAmount ? moneyFlow.editableAmount : 0) | currency}}
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="fiscalYear">Reference Fiscal Year<span class="asterisk"> *</span></label>
                                                <select class="form-control"
                                                        id="fiscalYear{{moneyFlow.id}}"
                                                        name="fiscalYear"
                                                        ng-disabled="moneyFlow.parentMoneyFlowId"
                                                        ng-options="fiscalYear as fiscalYear for fiscalYear in view.getFiscalYears(moneyFlow)"
                                                        ng-model="moneyFlow.fiscalYear"
                                                        required></select>
                                                <div ng-show="form.moneyFlowForm.fiscalYear.$dirty || form.moneyFlowForm.fiscalYear.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.fiscalYear.$error.required">Please enter a fiscal year.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="amount{{moneyFlow.id}}">Amount<span class="asterisk"> *</span></label>
                                                <input name="amount"
                                                       ng-model="moneyFlow.editableAmount"
                                                       max="{{moneyFlow.parentMoneyFlow ? moneyFlow.parentMoneyFlow.moneyFlowLineItemMaximumAmount : view.maxAmount}}"
                                                       type="text"
                                                       ng-blur="view.onEditableAmountChange($event, moneyFlow)"
                                                       step="any"
                                                       min="0"
                                                       ui-money-mask="2"
                                                       class="form-control"
                                                       ui-validate="{exceedsSourceAmount: 'view.validateSourceRemainingAmount($value, moneyFlow)'}"
                                                       placeholder="Enter amount."
                                                       id="amount{{moneyFlow.id}}"
                                                       ng-required="true" />

                                                <div ng-show="form.moneyFlowForm.amount.$dirty">
                                                    <div class="error" ng-show="form.moneyFlowForm.amount.$error.required">Please enter a transaction amount.</div>
                                                    <div class="error" ng-show="form.moneyFlowForm.amount.$error.exceedsSourceAmount">The amount exceeds the remaining source funding.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Direct/In-Kind</label>
                                                <div ng-show="moneyFlow.hasChildren" style="padding-top:10px;">
                                                    <div>
                                                        <span tooltip="This funding line item is a source for other funding line items and therefore must be direct.">Direct</span>
                                                    </div>
                                                </div>
                                                <div ng-show="moneyFlow.parentMoneyFlowId" style="padding-top:10px;">
                                                    <div>
                                                        <span tooltip="This funding line item has a source and therefore must be direct.">Direct</span>
                                                    </div>
                                                </div>
                                                <div ng-show="!moneyFlow.hasChildren && !moneyFlow.parentMoneyFlowId">
                                                    <div style="padding-top:10px;">
                                                        <label class="radio-inline">
                                                            <input type="radio"
                                                                   ng-disabled="moneyFlow.hasChildren"
                                                                   ng-value="true"
                                                                   ng-model="moneyFlow.isDirect" />Direct
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio"
                                                                   ng-disabled="moneyFlow.hasChildren"
                                                                   ng-value="false"
                                                                   ng-model="moneyFlow.isDirect" />In-Kind
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="description{{moneyFlow.id}}">Description<span class="asterisk"> *</span></label>
                                                <textarea name="description"
                                                          maxlength="{{view.maxDescriptionLength}}"
                                                          class="largerArea"
                                                          ng-model="moneyFlow.description"
                                                          id="description{{moneyFlow.id}}"
                                                          required
                                                          placeholder="Enter description..."></textarea>
                                                <div ng-show="form.moneyFlowForm.description.$dirty || form.moneyFlowForm.description.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.description.$error.required">Please enter a description.</div>
                                                </div>
                                                <p class="mute">{{moneyFlow.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>
                                            </div>
                                            <div class="pull-right" ng-show="!moneyFlow.isSavingUpdate">
                                                <button ng-click="view.saveMoneyFlowChanges(moneyFlow)" class="btn btn-success" ng-disabled="form.moneyFlowForm.$invalid">Save</button>
                                                <button ng-click="view.cancelMoneyFlowChanges(moneyFlow)" class="btn btn-cancel">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="view.isLoadingRequiredData || view.isLoadingMoneyFlows" id="spinner">
                        <tr>
                            <td colspan="18">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div st-template="app/partials/pagination.html" st-pagination="" st-items-by-page="view.limit" st-displayed-pages="10" ng-show="!view.isLoadingMoneyFlows"></div>
            </div>
        </tab>
        <tab class="tab" active="isSummary">
            <tab-heading>
                Summary<i class="material-icons material-icons-spin" ng-show="view.isLoadingFiscalYearSummaries">autorenew</i>
            </tab-heading>
            <div style="margin-top:20px;">
                <div class="col-md-4">
                    <label>
                        <input type="checkbox" ng-model="view.showEmptyFiscalYearSummaries" ng-change="view.onShowEmptyFiscalYearSummaries()" />
                        Show zero amount summaries
                    </label>
                </div>
                <div class="col-md-5">
                    &nbsp;
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-primary" ng-disabled="view.isLoadingFiscalYearSummaries" ng-click="view.onReloadFiscalYearSummariesClick()">Reload</button>
                </div>
            </div>
            <div st-pipe="view.getFiscalYearSummaries"
                 st-table="view.fiscalYearSummaries"
                 exposetablestate="getFiscalYearSummariesTableState"
                 exposetablestateto="view.getScope()">
                <table class="col-md-12" style="margin-top:30px;">
                    <thead>
                        <tr class="row">
                            <th class="col-md-3 medium">Fiscal Year</th>
                            <th class="col-md-3 medium">Status</th>
                            <th class="col-md-2 medium text-right">Incoming</th>
                            <th class="col-md-2 medium text-right">Outgoing</th>
                            <th class="col-md-2 medium text-right">Total Remaining</th>
                        </tr>
                    </thead>
                    <tbody class="list2">
                        <tr ng-show="view.isLoadingFiscalYearSummaries">
                            <td colspan="5">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row hover" ng-repeat="value in view.fiscalYearSummaries | filter: view.filterFiscalYearSummaries | groupBy: 'fiscalYear' | toArray: true | orderBy: '-$key'" ng-show="!view.isLoadingFiscalYearSummaries">
                            <td class="col-md-3">
                                {{value.$key}}
                            </td>
                            <td class="col-md-3">
                                <ul>
                                    <li ng-repeat="summary in value">
                                        {{summary.status}}
                                    </li>
                                </ul>
                            </td>
                            <td class="col-md-2">
                                <ul>
                                    <li ng-repeat="summary in value" class="text-right">
                                        {{summary.incomingAmount | currency}}
                                    </li>
                                </ul>
                            </td>
                            <td class="col-md-2">
                                <ul>
                                    <li ng-repeat="summary in value" class="text-right">
                                        {{summary.outgoingAmount | currency}}
                                    </li>
                                </ul>
                            </td>
                            <td class="col-md-2">
                                <ul>
                                    <li ng-repeat="summary in value" class="text-right">
                                        <span class="{{summary.remainingAmount < 0 ? 'outgoingMoneyFlow' : summary.remainingAmount > 0 ? 'incomingMoneyFlow' : ''}}">{{summary.remainingAmount | currency}}</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>