<div class="row row2">
    <div class="col-md-9">
        <div ng-show="validationResults.length > 0">
            <div class="col-md-4">
                {{validationResults.length}} fields remaining
            </div>
            <div class="col-md-8">
                <ul>
                    <li ng-repeat="error in validationResults track by $index">{{error}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button ng-click="validateSevisInfo()" class="btn btn-success">TEST VALIDATION</button>
    </div>
</div>
<div class="row row2">
    <div class="col-md-2">
        <h5>DHS Status</h5>
    </div>
    <div class="col-md-5">
        <span class="title-label"> Last Batch Date: </span>{{sevisinfo.lastBatchDate | date:'short'}}
    </div>
    <div class="col-md-5">
        <a ng-click="view.DHSStatus=!view.DHSStatus">
            <i class="material-icons md-dark md-36 pull-right" ng-show="view.DHSStatus">expand_more</i>
            <i class="material-icons md-dark md-36 pull-right" ng-show="!view.DHSStatus">expand_less</i>
        </a>
    </div>
</div>
<div class="row row2" ng-show="view.DHSStatus">
    <div class="row4">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-3 title-label">Sevis Id</div>
        <div class="col-md-6">
            {{sevisinfo.sevisId}}
        </div>
    </div>
    <div class="row4" ng-repeat="status in sevisinfo.sevisCommStatuses">
        <div class="col-md-3">
            <i class="material-icons md-dark md-24 pull-right" style="color: green" ng-show="view.DHSStatus">check</i>
        </div>
        <div class="col-md-3">{{status.sevisCommStatusName}}</div>
        <div class="col-md-6">On: {{ status.addedOn | date:'short' }}</div>
    </div>
</div>
<div class="row row2">
    <div class="col-md-5"><h5>DoS Status</h5></div>
    <div class="col-md-7">
        <a ng-click="view.DoSStatus=!view.DoSStatus">
            <i class="material-icons md-dark md-36 pull-right" ng-show="view.DoSStatus">expand_more</i>
            <i class="material-icons md-dark md-36 pull-right" ng-show="!view.DoSStatus">expand_less</i>
        </a>
    </div>
</div>
<div class="row row2" ng-show="view.DoSStatus">
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isSentToSevisViaRTI" ng-change="update({participantId: participantid})"/> Sent to DHS via RTI
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isCancelled" ng-change="update({participantId: participantid})"/> Cancelled
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isValidatedViaRTI" ng-change="update({participantId: participantid})" /> Validated via RTI
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isNeedsUpdate" ng-change="update({participantId: participantid})"/> Needs Update
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isdS2019Printed" ng-change="update({participantId: participantid})"/> DS 2019 Printed
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isdS2019SentToTraveler" ng-change="update({participantId: participantid})"/> DS 2019 Sent to Traveler
    </div>
</div>
<div class="form-group row row2">
    <h5 class="col-md-2">Start Date</h5>
    <div class="col-md-3">
        <p class="input-group">
            <input type="text"
                   id="startDate"
                   class="form-control"
                   datepicker-popup="MM-dd-yyyy"
                   ng-model="sevisinfo.startDate"
                   is-open="edit.isStartDatePickerOpen"
                   ng-required="true"
                   close-text="Close"
                   ng-change="update({participantId: participantid})" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn"
                        style="height: 42px;"
                        ng-click="edit.openStartDatePicker($event)">
                    <i class="material-icons md-18">event</i>
                </button>
            </span>
        </p>
    </div>
    <h5 class="col-md-2">End Date</h5>
    <div class="col-md-3 ">
        <p class="input-group">
            <input type="text"
                   id="endDate"
                   class="form-control"
                   datepicker-popup="MM-dd-yyyy"
                   ng-model="sevisinfo.endDate"
                   is-open="edit.isEndDatePickerOpen"
                   ng-required="true"
                   close-text="Close" 
                   ng-change="update({participantId: participantid})" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn"
                        style="height: 42px;"
                        ng-click="edit.openEndDatePicker($event)">
                    <i class="material-icons md-18">event</i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-md-2">
        <i class="material-icons md-dark md-36 pull-right">group</i>
        <i class="material-icons md-dark md-36 pull-right">add</i>
    </div>
</div>
<div class="row row2">
    <div class="col-md-5"><h5>Position and Field</h5></div>
    <div class="col-md-7">
        <a ng-click="view.PositionAndField=!view.PositionAndField">
            <i class="material-icons md-dark md-36 pull-right" ng-show="view.PositionAndField">expand_more</i>
            <i class="material-icons md-dark md-36 pull-right" ng-show="!view.PositionAndField">expand_less</i>
         </a>
        <a ng-click="edit.onPositionAndFieldEditChange()">
            <i class="material-icons md-dark md-24 pull-right" ng-show="view.PositionAndField && !view.PositionAndFieldEdit">edit</i>
        </a>
    </div>
</div>
<div ng-if="!view.PositionAndFieldEdit">
    <div class="row row2" ng-show="view.PositionAndField">
        <div class="row4">
            <div class="col-md-3">
                <label class="title-label">Position</label>
            </div>
            <div class="col-md-6">
                {{sevisinfo.position}}
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
        <div class="row4">
            <div class="col-md-3">
                <label class="title-label">Program Category</label>
            </div>
            <div class="col-md-6">
                {{sevisinfo.programCategory}}
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
        <div class="row4">
            <div class="col-md-3">
                <label class="title-label">Field Of Study</label>
            </div>
            <div class="col-md-6">
                {{sevisinfo.fieldOfStudy}}
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
    </div>
</div>
<div ng-if="view.PositionAndFieldEdit">
    <div class="row row4">
        <div class="pull-right">
            <button ng-click="savePositionAndField()" class="btn btn-success" ng-disabled="formPositionAndFieldForm.$invalid || formPositionAndFieldForm.$pristine">Save</button>
            <button ng-click="view.PositionAndFieldEdit=false" class="btn btn-cancel">Cancel</button>
        </div>
    </div>
    <form name="formPositionAndFieldForm" ng-show="view.PositionAndField">
        <div class="row row4">
            <div class="col-md-3">
                <label class="title-label">Position<span class="asterisk"> *</span></label>
            </div>
            <div class="col-md-6">
                <ui-select ng-model="sevisinfo.positionId" theme="select2" tabindex="1" ng-required="true">
                    <ui-select-match placeholder="Select a position...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices repeat="position.id as position in edit.positions | filter: {description: $select.search} track by position.id">
                        <div ng-bind-html="position.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-3">
                <label class="title-label">Program Category<span class="asterisk"> *</span></label>
            </div>
            <div class="col-md-6">
                <ui-select ng-model="sevisinfo.programCategoryId" theme="select2" tabindex="1" ng-required="true">
                    <ui-select-match placeholder="Select a program category...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices repeat="programCategory.id as programCategory in edit.programCategories | filter: {description: $select.search} track by programCategory.id">
                        <div ng-bind-html="programCategory.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-3">
                <label class="title-label">Field Of Study<span class="asterisk"> *</span></label>
            </div>
            <div class="col-md-6">
                <ui-select ng-model="sevisinfo.fieldOfStudyId" theme="select2" tabindex="1" ng-required="true">
                    <ui-select-match placeholder="Select a field of study...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices refresh="edit.searchFieldOfStudies($select.search)" refresh-delay="250" repeat="fieldOfStudy.id as fieldOfStudy in edit.fieldOfStudies | filter: {description: $select.search} track by fieldOfStudy.id">
                        <div ng-bind-html="fieldOfStudy.description | highlight: $select.search"></div>
                    </ui-select-choices> <!--required-->
                </ui-select>
            </div>
            <div class="col-md-3">
                <i class="material-icons md-dark md-36 pull-right">group</i>
                <i class="material-icons md-dark md-36 pull-right">add</i>
            </div>
        </div>
    </form>
</div>
    <div class="row row2">
        <div class="col-md-5"><h5>Funding</h5></div>
        <div class="col-md-7">
            <a ng-click="view.Funding=!view.Funding">
                <i class="material-icons md-dark md-36 pull-right" ng-show="view.Funding">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!view.Funding">expand_less</i>
            </a>
            <a ng-click="edit.onFundingEditChange()">
                <i class="material-icons md-dark md-24 pull-right" ng-show="view.Funding && !view.FundingEdit">edit</i>
            </a>
        </div>
    </div>
    <div ng-if="!view.FundingEdit">
        <div ng-show="view.Funding" class="rowalt">
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Sponsor</label>
                </div>
                <div class="col-md-6 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingSponsor | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Personal</label>
                </div>
                <div class="col-md-6 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingPersonal | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Vis. Gov't</label>
                </div>
                <div class="col-md-6 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingVisGovt | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Vis.BNC</label>
                </div>
                <div class="col-md-6 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingVisBNC | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-3">
                     <span class="title-label">Name</span>
                </div>
                <div class="col-md-3">
                    <span class="title-label">Other Name</span>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Gov't Agency 1</label>
                </div>
                <div class="col-md-3">
                    {{sevisinfo.govtAgency1Name}}
                </div>
                <div class="col-md-2">
                    {{sevisinfo.govtAgency1OtherName}}
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingGovtAgency1 | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Gov't Agency 2</label>
                </div>
                <div class="col-md-3">
                    {{sevisinfo.govtAgency2Name}}
                </div>
                <div class="col-md-2">
                    {{sevisinfo.govtAgency2OtherName}}
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingGovtAgency2 | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Int'l Org 1</label>
                </div>
                <div class="col-md-3">
                    {{sevisinfo.intlOrg1Name}}
                </div>
                <div class="col-md-2">
                    {{sevisinfo.intlOrg1OtherName}}
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingIntlOrg1 | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Int'l Org 2</label>
                </div>
                <div class="col-md-3">
                    {{sevisinfo.intlOrg2Name}}
                </div>
                <div class="col-md-2">
                    {{sevisinfo.intlOrg2OtherName}}
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingIntlOrg2 | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Other Org.</label>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-2">
                    {{sevisinfo.otherName}}
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingOther | number:0}}
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-3">
                    <label class="title-label">Total</label>
                </div>
                <div class="col-md-6 text-right">
                    $
                </div>
                <div class="col-md-1 text-right">
                    {{sevisinfo.fundingSponsor + sevisinfo.fundingPersonal + sevisinfo.fundingVisGovt + sevisinfo.fundingVisBNC + sevisinfo.fundingGovtAgency1 + sevisinfo.fundingGovtAgency2 + sevisinfo.fundingIntlOrg1 + sevisinfo.fundingIntlOrg2 + sevisinfo.fundingOther  | number:0}}
                </div>
            </div>
        </div>
    </div>
    <div ng-if="view.FundingEdit">
        <form name="fundingEditForm" class="rowalt" ng-show="view.Funding">
        <div class="row row4">
                <div class="pull-right" style="padding-right:10px">
                <button ng-click="saveFunding()" class="btn btn-success" ng-disabled="fundingEditForm.$invalid || fundingEditForm.$pristine">Save</button>
                <button ng-click="view.FundingEdit=false" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Sponsor</label>
                </div>
                <div class="col-md-7 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingSponsor" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Personal</label>
                </div>
                <div class="col-md-7 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingPersonal" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Vis. Gov't</label>
                </div>
                <div class="col-md-7 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingVisGovt" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Vis.BNC</label>
                </div>
                <div class="col-md-7 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingVisBNC" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Gov't Agency 1</label>
                </div>
                <div class="col-md-3">
                    <ui-select ng-model="sevisinfo.govtAgency1Id" theme="select2" tabindex="1" ng-required="true" on-select="onGovtAgency1Select($item)">
                        <ui-select-match placeholder="Select a US Government Agency...">{{$select.selected.description}}</ui-select-match>
                        <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in edit.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                            <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <input type="text" maxlength="60" ng-model="sevisinfo.govtAgency1OtherName" ng-show="view.GovtAgency1Other"/>
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingGovtAgency1" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Gov't Agency 2</label>
                </div>
                <div class="col-md-3">
                    <ui-select ng-model="sevisinfo.govtAgency2Id" theme="select2" tabindex="1" ng-required="true" on-select="onGovtAgency2Select($item)">
                        <ui-select-match placeholder="Select a US Government Agency...">{{$select.selected.description}}</ui-select-match>
                        <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in edit.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                            <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <input type="text" maxlength="60" ng-model="sevisinfo.govtAgency2OtherName" ng-show="view.GovtAgency2Other"/>
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingGovtAgency2" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Int'l Org 1</label>
                </div>
                <div class="col-md-3">
                    <ui-select ng-model="sevisinfo.intlOrg1Id" theme="select2" tabindex="1" ng-required="true" on-select="onIntlOrg1Select($item)">
                        <ui-select-match placeholder="Select an International Organization...">{{$select.selected.description}}</ui-select-match>
                        <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in edit.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                            <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <input type="text" maxlength="60" ng-model="sevisinfo.intlOrg1OtherName" ng-show="view.IntlOrg1Other" />
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingIntlOrg1" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Int'l Org 2</label>
                </div>
                <div class="col-md-3">
                    <ui-select ng-model="sevisinfo.intlOrg2Id" theme="select2" tabindex="1" ng-required="true" on-select="onIntlOrg2Select($item)">
                        <ui-select-match placeholder="Select an International Organization...">{{$select.selected.description}}</ui-select-match>
                        <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in edit.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                            <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <input type="text" maxlength="60" ng-model="sevisinfo.intlOrg2OtherName" ng-show="view.IntlOrg2Other" />
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingIntlOrg2" />
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Other Org.</label>
                </div>
                <div class="col-md-3">
                    <input type="text" maxlength="60" ng-model="sevisinfo.otherName" style="width:230px" /> <!--required-->
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-1 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    <input type="number" min="0" ng-model="sevisinfo.fundingOther" /> <!--required-->
                </div>
            </div>
            <div class="row row4">
                <div class="col-md-2">
                    <label class="title-label">Total</label>
                </div>
                <div class="col-md-7 text-right">
                    $
                </div>
                <div class="col-md-2 text-right">
                    {{sevisinfo.fundingSponsor + sevisinfo.fundingPersonal + sevisinfo.fundingVisGovt + sevisinfo.fundingVisBNC + sevisinfo.fundingGovtAgency1 + sevisinfo.fundingGovtAgency2 + sevisinfo.fundingIntlOrg1 + sevisinfo.fundingIntlOrg2 + sevisinfo.fundingOther  | number:0}}
                </div>
            </div>
        </form>
    </div>
