<div ng-controller="ProjectParticipantInfoCtrl">
    <div class="row row2" ng-show="view.isLoadingEditParticipantInfoRequiredData || view.isSavingUpdate || view.isLoadingInfo">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-if="view.isInfoTabInEditMode && !view.isSavingUpdate && !view.isLoadingInfo">
        <div class="row row2" ng-show="!view.isLoadingEditParticipantInfoRequiredData">
            <div class="col-md-8">
                <h5>General</h5>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" 
                        ng-click="view.onSaveButtonClick()" 
                        ng-disabled="view.participantPerson.isSavingUpdate || form.participantInfoForm.$invalid">
                    Save
                </button>
                <button class="btn btn-cancel" ng-click="view.onCancelButtonClick()" ng-disabled="view.participantPerson.isSavingUpdate">
                    Cancel
                </button>
            </div>
        </div>
        <form name="form.participantInfoForm" ng-show="!view.isLoadingEditParticipantInfoRequiredData">
            <div class="row row4 form-group">
                <div class="col-md-6">
                    <div class="col-md-4 title-label">Status</div>
                    <div class="col-md-8">
                        <select class="form-control"
                                ng-options="participantStatus.id as participantStatus.name for participantStatus in view.participantStatii"
                                ng-model="view.participantPerson.participantStatusId" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 title-label">Participant Type<span class="asterisk"> *</span></div>
                    <div class="col-md-8">
                        <select class="form-control"
                                id="participantType{{view.participantPerson.participantId}}"
                                name="participantType"
                                ng-required="true"
                                ng-options="participantType.id as participantType.name for participantType in view.participantTypes"
                                ng-model="view.participantPerson.participantTypeId" />
                    </div>
                    <div ng-show="form.participantInfoForm.participantType.$dirty">
                        <div class="error" ng-show="form.participantInfoForm.participantType.$error.required">Please select a participant type.</div>
                    </div>
                </div>
            </div>
            <div class="row row4 form-group">
                <div class="col-md-6">
                    <div class="col-md-4 title-label">Home Institution</div>
                    <div class="col-md-8">
                        <ui-select ng-model="view.participantPerson.homeInstitutionId"
                                   on-select="view.onSelectHomeInstitution($item, $model)"
                                   theme="select2">
                            <ui-select-match placeholder="Select a home institution..." allow-clear="true">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="org.organizationId as org in view.homeInstitutions track by org.organizationId"
                                               refresh="view.loadHomeInstitutions($select.search)">
                                <div ng-bind-html="org.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <ui-select multiple
                                   ng-model="view.selectedHomeInstitutionAddresses"
                                   on-select="view.onSelectHomeInstitutionAddress($item, $model)"
                                   on-remove="view.onRemoveHomeInstitutionAddress($item, $model)"
                                   style="margin-top:20px;"
                                   theme="select2">
                            <ui-select-match placeholder="Select 1 home institution address...">
                                <div>
                                    <div>
                                        {{$item.addressType}}<span ng-show="$item.isPrimary" style="margin-left:10px;">(Primary)</span>
                                    </div>
                                    <div ng-show="$item.street1">
                                        {{$item.street1}}
                                    </div>
                                    <div ng-show="$item.street2">
                                        {{$item.street2}}
                                    </div>
                                    <div ng-show="$item.street3">
                                        {{$item.street3}}
                                    </div>
                                    <div>
                                        <span ng-show="$item.city">{{$item.city}}</span>
                                        <span ng-show="$item.city && $item.division">, </span>
                                        <span ng-show="$item.division">{{$item.division}}</span>
                                        <span ng-show="$item.postalCode">{{$item.postalCode}}</span>
                                    </div>
                                    <div>
                                        <span ng-show="$item.country">{{$item.country}}</span>
                                    </div>
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="address.addressId as address in view.homeInstitutionAddresses">
                                <div>
                                    {{address.addressType}}<span ng-show="address.isPrimary" style="margin-left:10px;">(Primary)</span>
                                </div>
                                <div ng-show="address.street1">
                                    {{address.street1}}
                                </div>
                                <div ng-show="address.street2">
                                    {{address.street2}}
                                </div>
                                <div ng-show="address.street3">
                                    {{address.street3}}
                                </div>
                                <div>
                                    <span ng-show="address.city">{{address.city}}</span>
                                    <span ng-show="address.city && address.division">, </span>
                                    <span ng-show="address.division">{{address.division}}</span>
                                    <span ng-show="address.postalCode">{{address.postalCode}}</span>
                                </div>
                                <div>
                                    <span ng-show="address.country">{{address.country}}</span>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 title-label">Host Institution</div>
                    <div class="col-md-8">
                        <ui-select ng-model="view.participantPerson.hostInstitutionId"
                                   on-select="view.onSelectHostInstitution($item, $model)"
                                   theme="select2">
                            <ui-select-match placeholder="Select a host institution..." allow-clear="true">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="org.organizationId as org in view.hostInstitutions track by org.organizationId"
                                               refresh="view.loadHostInstitutions($select.search)">
                                <div ng-bind-html="org.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select multiple
                                   ng-model="view.selectedHostInstitutionAddresses"
                                   on-select="view.onSelectHostInstitutionAddress($item, $model)"
                                   on-remove="view.onRemoveHostInstitutionAddress($item, $model)"
                                   style="margin-top:20px;"
                                   theme="select2">
                            <ui-select-match placeholder="Select 1 host institution address...">
                                <div>
                                    <div>
                                        {{$item.addressType}}<span ng-show="$item.isPrimary" style="margin-left:10px;">(Primary)</span>
                                    </div>
                                    <div ng-show="$item.street1">
                                        {{$item.street1}}
                                    </div>
                                    <div ng-show="$item.street2">
                                        {{$item.street2}}
                                    </div>
                                    <div ng-show="$item.street3">
                                        {{$item.street3}}
                                    </div>
                                    <div>
                                        <span ng-show="$item.city">{{$item.city}}</span>
                                        <span ng-show="$item.city && $item.division">, </span>
                                        <span ng-show="$item.division">{{$item.division}}</span>
                                        <span ng-show="$item.postalCode">{{$item.postalCode}}</span>
                                    </div>
                                    <div>
                                        <span ng-show="$item.country">{{$item.country}}</span>
                                    </div>
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="address.addressId as address in view.hostInstitutionAddresses">
                                <div>
                                    {{address.addressType}}<span ng-show="address.isPrimary" style="margin-left:10px;">(Primary)</span>
                                </div>
                                <div ng-show="address.street1">
                                    {{address.street1}}
                                </div>
                                <div ng-show="address.street2">
                                    {{address.street2}}
                                </div>
                                <div ng-show="address.street3">
                                    {{address.street3}}
                                </div>
                                <div>
                                    <span ng-show="address.city">{{address.city}}</span>
                                    <span ng-show="address.city && address.division">, </span>
                                    <span ng-show="address.division">{{address.division}}</span>
                                    <span ng-show="address.postalCode">{{address.postalCode}}</span>
                                </div>
                                <div>
                                    <span ng-show="address.country">{{address.country}}</span>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="!view.isInfoTabInEditMode && !view.isLoadingInfo">
        <div class="row row2">
            <div class="col-md-8">
                <h5>General</h5>
            </div>
            <div class="col-md-4 text-right">
                <a ng-click="view.isInfoTabInEditMode = !view.isInfoTabInEditMode">
                    <i class="material-icons md-dark md-24">edit</i>
                </a>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-6">
                <div class="col-md-4 title-label">Status</div>
                <div class="col-md-8" ng-show="view.participantPerson.participantStatus">{{view.participantPerson.participantStatus}}</div>
                <div class="col-md-8" ng-show="!view.participantPerson.participantStatus">Unknown</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 title-label">Participant Type</div>
                <div class="col-md-8" ng-show="view.participantPerson.participantType">{{view.participantPerson.participantType}}</div>
                <div class="col-md-8" ng-show="!view.participantPerson.participantType">Unknown</div>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-6">
                <div class="col-md-4 title-label">Home Institution</div>
                <div class="col-md-8" ng-show="!view.participantPerson.homeInstitution">
                    None
                </div>
                <div class="col-md-8" ng-show="view.participantPerson.homeInstitution">
                    <a ng-show="view.participantPerson.homeInstitution.href" href="{{view.participantPerson.homeInstitution.href}}">{{view.participantPerson.homeInstitution.name}}</a>
                    <div style="margin-top:10px;">
                        <div ng-show="view.participantPerson.homeInstitutionAddress.addressType">
                            {{view.participantPerson.homeInstitutionAddress.addressType}}<span ng-show="view.participantPerson.homeInstitutionAddress.isPrimary" style="margin-left:10px;">(Primary)</span>
                        </div>
                        <div ng-show="view.participantPerson.homeInstitutionAddress.street1">
                            {{view.participantPerson.homeInstitutionAddress.street1}}
                        </div>
                        <div ng-show="view.participantPerson.homeInstitutionAddress.street2">
                            {{view.participantPerson.homeInstitutionAddress.street2}}
                        </div>
                        <div ng-show="view.participantPerson.homeInstitutionAddress.street3">
                            {{view.participantPerson.homeInstitutionAddress.street3}}
                        </div>
                        <div>
                            <span ng-show="view.participantPerson.homeInstitutionAddress.city">{{view.participantPerson.homeInstitutionAddress.city}}</span>
                            <span ng-show="view.participantPerson.homeInstitutionAddress.city && view.participantPerson.homeInstitutionAddress.division">, </span>
                            <span ng-show="view.participantPerson.homeInstitutionAddress.division">{{view.participantPerson.homeInstitutionAddress.division}}</span>
                            <span ng-show="view.participantPerson.homeInstitutionAddress.postalCode">{{view.participantPerson.homeInstitutionAddress.postalCode}}</span>
                        </div>
                        <div>
                            <span ng-show="view.participantPerson.homeInstitutionAddress.country">{{view.participantPerson.homeInstitutionAddress.country}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 title-label">Host Institution</div>
                <div class="col-md-8" ng-show="!view.participantPerson.hostInstitution">
                    None
                </div>
                <div class="col-md-8" ng-show="view.participantPerson.hostInstitution">
                    <a ng-show="view.participantPerson.hostInstitution.href" href="{{view.participantPerson.hostInstitution.href}}">{{view.participantPerson.hostInstitution.name}}</a>
                    <div style="margin-top:20px;">
                        <div ng-show="view.participantPerson.hostInstitutionAddress.addressType">
                            {{view.participantPerson.hostInstitutionAddress.addressType}}<span ng-show="view.participantPerson.hostInstitutionAddress.isPrimary" style="margin-left:10px;">  (Primary)</span>
                        </div>
                        <div ng-show="view.participantPerson.hostInstitutionAddress.street1">
                            {{view.participantPerson.hostInstitutionAddress.street1}}
                        </div>
                        <div ng-show="view.participantPerson.hostInstitutionAddress.street2">
                            {{view.participantPerson.hostInstitutionAddress.street2}}
                        </div>
                        <div ng-show="view.participantPerson.hostInstitutionAddress.street3">
                            {{view.participantPerson.hostInstitutionAddress.street3}}
                        </div>
                        <div>
                            <span ng-show="view.participantPerson.hostInstitutionAddress.city">{{view.participantPerson.hostInstitutionAddress.city}}</span>
                            <span ng-show="view.participantPerson.hostInstitutionAddress.city && view.participantPerson.hostInstitutionAddress.division">, </span>
                            <span ng-show="view.participantPerson.hostInstitutionAddress.division">{{view.participantPerson.hostInstitutionAddress.division}}</span>
                            <span ng-show="view.participantPerson.hostInstitutionAddress.postalCode">{{view.participantPerson.hostInstitutionAddress.postalCode}}</span>
                        </div>
                        <div>
                            <span ng-show="view.participantPerson.hostInstitutionAddress.country">{{view.participantPerson.hostInstitutionAddress.country}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>