<div class="row row2">
    <div class="col-md-12">
        <div ng-show="edit.isValidationLoading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div ng-show="sevisinfo.sevisValidationResult && !sevisinfo.sevisValidationResult.isValid && !edit.isValidationLoading">
            <div class="col-md-4">
                <p class="title-label" style="color:red; display:inline-flex;">
                    <i class="icon material-icons md-24">warning</i> verification failed
                </p>
            </div>
            <div class="col-md-8">
                <fieldset style="border:1px solid red; border-radius:3px; padding:10px">
                    <ul style="line-height:1.5em">
                        <li ng-repeat="error in sevisinfo.sevisValidationResult.errors track by $index">
                            <a ng-href="{{getErrorSectionHref(error)}}">{{error.errorMessage}}</a>
                        </li>
                    </ul>
                </fieldset>                
            </div>
        </div>
        <div ng-show="sevisinfo.sevisValidationResult.isValid == false && !edit.isValidationLoading && sevisinfo.sevisBatchResult.length > 0">
            <div class="col-md-8 col-md-offset-4" style="margin-top:6px">
                <fieldset style="border:1px solid gray; border-radius:3px; padding:10px">
                    <ul style="line-height:1.5em">
                        <li ng-repeat="result in sevisinfo.sevisBatchResult.Root.Process.Record.Result track by $index">
                            {{result.ErrorCode}}: {{result.ErrorMessage}}
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <div ng-show="sevisinfo.sevisValidationResult.isValid == true && !edit.isValidationLoading">
            <div class="col-md-3 col-md-offset-9">
                <p class="title-label" style="color:green; display:inline-flex;">
                    <i class="material-icons md-dark md-24 pull-right" style="color: green; margin-top: -5px; margin-right: 3px;">check</i> Validation passed
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row row2">
    <div class="col-md-2">
        <h5>DHS Status</h5>
    </div>
    <div class="col-md-5">
        <span class="title-label"> Last Batch Date: </span>{{sevisinfo.lastBatchDate | date:'short'}}
    </div>
    <div class="col-md-5">
        <a ng-click="view.DHSStatus=!view.DHSStatus">
            <i class="material-icons md-dark md-36 pull-right" ng-show="view.DHSStatus">expand_more</i>
            <i class="material-icons md-dark md-36 pull-right" ng-show="!view.DHSStatus">expand_less</i>
        </a>
    </div>
</div>
<div class="row row2" ng-show="view.DHSStatus">
    <div class="row4">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-3 title-label">Sevis Id</div>
        <div class="col-md-6">
            {{sevisinfo.sevisId}}
        </div>
    </div>
    <div class="row4" ng-repeat="status in sevisinfo.sevisCommStatuses">
        <div class="col-md-3">
            <i class="material-icons md-dark md-24 pull-right" style="color: green" ng-show="view.DHSStatus">check</i>
        </div>
        <div class="col-md-3">{{status.sevisCommStatusName}}</div>
        <div class="col-md-6">On: {{ status.addedOn | date:'short' }}</div>
    </div>
</div>
<div class="row row2">
    <div class="col-md-5"><h5>DoS Status</h5></div>
    <div class="col-md-7">
        <a ng-click="view.DoSStatus=!view.DoSStatus">
            <i class="material-icons md-dark md-36 pull-right" ng-show="view.DoSStatus">expand_more</i>
            <i class="material-icons md-dark md-36 pull-right" ng-show="!view.DoSStatus">expand_less</i>
        </a>
    </div>
</div>
<div class="row row2" ng-show="view.DoSStatus">
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isSentToSevisViaRTI" ng-change="update({participantId: participantid})"/> Sent to DHS via RTI
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isCancelled" ng-change="update({participantId: participantid})"/> Cancelled
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isValidatedViaRTI" ng-change="update({participantId: participantid})" /> Validated via RTI
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isNeedsUpdate" ng-change="update({participantId: participantid})"/> Needs Update
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="form-group col-md-3">
        <input type="checkbox" ng-model="sevisinfo.isdS2019Printed" ng-change="update({participantId: participantid})"/> DS 2019 Printed
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" ng-model="sevisinfo.isdS2019SentToTraveler" ng-change="update({participantId: participantid})"/> DS 2019 Sent to Traveler
    </div>
</div>
<div class="form-group row row2">
    <h5 class="col-md-2">Start Date</h5>
    <div class="col-md-3">
        <p class="input-group">
            <input type="text"
                   id="startDate"
                   class="form-control"
                   datepicker-popup="MM-dd-yyyy"
                   ng-model="sevisinfo.startDate"
                   is-open="edit.isStartDatePickerOpen"
                   ng-required="true"
                   close-text="Close"
                   ng-change="update({participantId: participantid})" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn"
                        style="height: 42px;"
                        ng-click="edit.openStartDatePicker($event)">
                    <i class="material-icons md-18">event</i>
                </button>
            </span>
        </p>
    </div>
    <h5 class="col-md-2">End Date</h5>
    <div class="col-md-3 ">
        <p class="input-group">
            <input type="text"
                   id="endDate"
                   class="form-control"
                   datepicker-popup="MM-dd-yyyy"
                   ng-model="sevisinfo.endDate"
                   is-open="edit.isEndDatePickerOpen"
                   ng-required="true"
                   close-text="Close" 
                   ng-change="update({participantId: participantid})" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn"
                        style="height: 42px;"
                        ng-click="edit.openEndDatePicker($event)">
                    <i class="material-icons md-18">event</i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-md-2">
        <i class="material-icons md-dark md-36 pull-right">group</i>
        <i class="material-icons md-dark md-36 pull-right">add</i>
    </div>
</div>
