<div ng-if="personinfo.isInfoTabInEditMode" ng-controller="ProjectParticipantEditInfoCtrl">
    <div class="row row2" ng-show="view.isLoadingEditParticipantInfoRequiredData">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="row row2" ng-show="!view.isLoadingEditParticipantInfoRequiredData">
        <div class="col-md-8">
            <h5>General</h5>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-success">
                Save
            </button>
            <button class="btn btn-cancel">
                Cancel
            </button>
        </div>
    </div>
    <form name="view.participantInfoForm">
        <div class="row row2">
            <div class="col-md-6">
                <div class="col-md-4 title-label">Status</div>
                <div class="col-md-8" ng-show="personinfo.participantStatus">
                    <select ng-options="participantStatus.id as participantStatus.name for participantStatus in view.participantStatii"
                            ng-model="personinfo.participantStatusId" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 title-label">Participant Type</div>
                <div class="col-md-8" ng-show="personinfo.participantType">
                    <select ng-options="participantType.id as participantType.name for participantType in view.participantTypes"
                            ng-model="personinfo.participantTypeId" />
                </div>
            </div>
        </div>
        <div class="row row2">
            <div class="col-md-6">
                <div class="col-md-4 title-label">Home Institution</div>
                <div class="col-md-8">
                    <ui-select ng-model="personinfo.homeInstitutionId"
                               on-select="view.onHomeInstitutionSelect($item, $model)"
                               theme="select2">
                        <ui-select-match placeholder="Select a home institution..." allow-clear="true">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="org.organizationId as org in view.homeInstitutions track by org.organizationId"
                                           refresh="view.loadHomeInstitutions($select.search)">
                            <div ng-bind-html="org.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <ui-select ng-model="personinfo.homeInstitutionAddressId"
                               style="height:200px;"
                               theme="select2">
                        <ui-select-match placeholder="Select a home institution address..." allow-clear="true">

                            <div class="mute">
                                hello
                            </div>
                            <div class="mute">
                                world
                            </div>

                            <!--<div>
                                <div ng-show="$select.selected.street1">
                                    {{$select.selected.street1}}
                                </div>
                                <div ng-show="$select.selected.street2" >
                                    {{$select.selected.street2}}
                                </div>
                                <div ng-show="$select.selected.street3">
                                    {{$select.selected.street3}}
                                </div>
                                <div>
                                    <span ng-show="$select.selected.city">{{$select.selected.city}}</span>
                                    <span ng-show="$select.selected.city && $select.selected.division">, </span>
                                    <span ng-show="$select.selected.division">{{$select.selected.division}}</span>
                                    <span ng-show="$select.selected.postalCode">{{$select.selected.postalCode}}</span>
                                </div>
                                <div>
                                    <span ng-show="$select.selected.country">{{$select.selected.country}}</span>
                                </div>
                            </div>-->


                            <!--<div>
                                <div ng-show="$item.street1">
                                    {{$item.street1}}
                                </div>
                                <div ng-show="$item.street2">
                                    {{$item.street2}}
                                </div>
                                <div ng-show="$item.street3">
                                    {{$item.street3}}
                                </div>
                                <div>
                                    <span ng-show="$item.city">{{$item.city}}</span>
                                    <span ng-show="$item.city && $item.division">, </span>
                                    <span ng-show="$item.division">{{$item.division}}</span>
                                    <span ng-show="$item.postalCode">{{$item.postalCode}}</span>
                                </div>
                                <div>
                                    <span ng-show="$item.country">{{$item.country}}</span>
                                </div>
                            </div>-->




                        </ui-select-match>
                        <ui-select-choices repeat="address.addressId as address in view.homeInstitutionAddresses track by address.addressId" refresh="view.getInstitutionAddresses(personinfo.homeInstitutionId)">

                            <div ng-show="address.street1">
                                {{address.street1}}
                            </div>
                            <div ng-show="address.street2">
                                {{address.street2}}
                            </div>
                            <div ng-show="address.street3">
                                {{address.street3}}
                            </div>
                            <div>
                                <span ng-show="address.city">{{address.city}}</span>
                                <span ng-show="address.city && address.division">, </span>
                                <span ng-show="address.division">{{address.division}}</span>
                                <span ng-show="address.postalCode">{{address.postalCode}}</span>
                            </div>
                            <div>
                                <span ng-show="address.country">{{address.country}}</span>
                            </div>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 title-label">Host Institution</div>
                <div class="col-md-8" ng-show="!personinfo.hostInstitution">
                    None
                </div>
                <div class="col-md-8" ng-show="personinfo.hostInstitution">
                    <a ng-show="personinfo.hostInstitution.href" href="{{personinfo.hostInstitution.href}}">{{personinfo.hostInstitution.name}}</a>
                    <div style="margin-top:10px;">
                        <div ng-show="personinfo.hostInstitutionAddress.street1">
                            {{personinfo.hostInstitutionAddress.street1}}
                        </div>
                        <div ng-show="personinfo.hostInstitutionAddress.street2">
                            {{personinfo.hostInstitutionAddress.street2}}
                        </div>
                        <div ng-show="personinfo.hostInstitutionAddress.street3">
                            {{personinfo.hostInstitutionAddress.street3}}
                        </div>
                        <div>
                            <span ng-show="personinfo.hostInstitutionAddress.city">{{personinfo.hostInstitutionAddress.city}}</span>
                            <span ng-show="personinfo.hostInstitutionAddress.city && personinfo.hostInstitutionAddress.division">, </span>
                            <span ng-show="personinfo.hostInstitutionAddress.division">{{personinfo.hostInstitutionAddress.division}}</span>
                            <span ng-show="personinfo.hostInstitutionAddress.postalCode">{{personinfo.hostInstitutionAddress.postalCode}}</span>
                        </div>
                        <div>
                            <span ng-show="personinfo.hostInstitutionAddress.country">{{personinfo.hostInstitutionAddress.country}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div ng-show="!personinfo.isInfoTabInEditMode">
    <div class="row row2">
        <div class="col-md-8">
            <h5>General</h5>
        </div>
        <div class="col-md-4 text-right">
            <!--<a ng-click="personinfo.isInfoTabInEditMode = !personinfo.isInfoTabInEditMode">
                <i class="material-icons md-dark md-24">edit</i>
            </a>-->
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-6">
            <div class="col-md-4 title-label">Status</div>
            <div class="col-md-8" ng-show="personinfo.participantStatus">{{personinfo.participantStatus}}</div>
            <div class="col-md-8" ng-show="!personinfo.participantStatus">Unknown</div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 title-label">Participant Type</div>
            <div class="col-md-8" ng-show="personinfo.participantType">{{personinfo.participantType}}</div>
            <div class="col-md-8" ng-show="!personinfo.participantType">Unknown</div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-6">
            <div class="col-md-4 title-label">Home Institution</div>
            <div class="col-md-8" ng-show="!personinfo.homeInstitution">
                None
            </div>
            <div class="col-md-8" ng-show="personinfo.homeInstitution">
                <a ng-show="personinfo.homeInstitution.href" href="{{personinfo.homeInstitution.href}}">{{personinfo.homeInstitution.name}}</a>
                <div style="margin-top:10px;">
                    <div ng-show="personinfo.homeInstitutionAddress.street1">
                        {{personinfo.homeInstitutionAddress.street1}}
                    </div>
                    <div ng-show="personinfo.homeInstitutionAddress.street2">
                        {{personinfo.homeInstitutionAddress.street2}}
                    </div>
                    <div ng-show="personinfo.homeInstitutionAddress.street3">
                        {{personinfo.homeInstitutionAddress.street3}}
                    </div>
                    <div>
                        <span ng-show="personinfo.homeInstitutionAddress.city">{{personinfo.homeInstitutionAddress.city}}</span>
                        <span ng-show="personinfo.homeInstitutionAddress.city && personinfo.homeInstitutionAddress.division">, </span>
                        <span ng-show="personinfo.homeInstitutionAddress.division">{{personinfo.homeInstitutionAddress.division}}</span>
                        <span ng-show="personinfo.homeInstitutionAddress.postalCode">{{personinfo.homeInstitutionAddress.postalCode}}</span>
                    </div>
                    <div>
                        <span ng-show="personinfo.homeInstitutionAddress.country">{{personinfo.homeInstitutionAddress.country}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 title-label">Host Institution</div>
            <div class="col-md-8" ng-show="!personinfo.hostInstitution">
                None
            </div>
            <div class="col-md-8" ng-show="personinfo.hostInstitution">
                <a ng-show="personinfo.hostInstitution.href" href="{{personinfo.hostInstitution.href}}">{{personinfo.hostInstitution.name}}</a>
                <div style="margin-top:10px;">
                    <div ng-show="personinfo.hostInstitutionAddress.street1">
                        {{personinfo.hostInstitutionAddress.street1}}
                    </div>
                    <div ng-show="personinfo.hostInstitutionAddress.street2">
                        {{personinfo.hostInstitutionAddress.street2}}
                    </div>
                    <div ng-show="personinfo.hostInstitutionAddress.street3">
                        {{personinfo.hostInstitutionAddress.street3}}
                    </div>
                    <div>
                        <span ng-show="personinfo.hostInstitutionAddress.city">{{personinfo.hostInstitutionAddress.city}}</span>
                        <span ng-show="personinfo.hostInstitutionAddress.city && personinfo.hostInstitutionAddress.division">, </span>
                        <span ng-show="personinfo.hostInstitutionAddress.division">{{personinfo.hostInstitutionAddress.division}}</span>
                        <span ng-show="personinfo.hostInstitutionAddress.postalCode">{{personinfo.hostInstitutionAddress.postalCode}}</span>
                    </div>
                    <div>
                        <span ng-show="personinfo.hostInstitutionAddress.country">{{personinfo.hostInstitutionAddress.country}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
