<div class="row" ng-show="!editMode">
    <div class="col-md-12">
        <div class="pull-right">
            <sevis-edit ng-disabled="editLocked" ng-click="editPii()"></sevis-edit>
        </div>
    </div>
</div>
<div ng-controller="personPiiViewCtrl" ng-if="!editMode">
    <div ng-show="edit.piiLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!edit.piiLoading">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-label">Names & Alternatives</div>
                <div class="col-md-8">
                    <div class="row" style="border:none">
                        <div class="form-group row" ng-show="pii.firstName">
                            <label class="col-md-5 title-label">First name</label>
                            <div class="col-md-7">
                                {{pii.firstName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.lastName">
                            <label class="col-md-5 title-label">{{pii_FormLastName}}</label>                            
                            <div class="col-md-7">
                                {{pii.lastName}}                                
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.namePrefix">
                            <label class="col-md-5 title-label">Name prefix</label>
                            <div class="col-md-7">
                                {{pii.namePrefix}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.nameSuffix">
                            <label class="col-md-5 title-label">Name suffix</label>
                            <div class="col-md-7">
                                {{pii.nameSuffix}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.givenName">
                            <label class="col-md-5 title-label">Given name</label>
                            <div class="col-md-7">
                                {{pii.givenName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.familyName">
                            <label class="col-md-5 title-label">Family name</label>
                            <div class="col-md-7">
                                {{pii.familyName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.middleName">
                            <label class="col-md-5 title-label">Middle name</label>
                            <div class="col-md-7">
                                {{pii.middleName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.passportName">
                            <label class="col-md-5 title-label">Passport name</label>
                            <div class="col-md-7">
                                {{pii.passportName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.patronym">
                            <label class="col-md-5 title-label">Patronym</label>
                            <div class="col-md-7">
                                {{pii.patronym}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="pii.alias">
                            <label class="col-md-5 title-label">Alias</label>
                            <div class="col-md-7">
                                {{pii.alias}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Gender</div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{pii.gender}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Ethnicity</div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{pii.ethnicity}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">City of Birth</div>
                <div class="col-md-8" ng-show="pii.isPlaceOfBirthUnknown">
                    Unknown
                </div>
                <div class="col-md-8" ng-show="!pii.isPlaceOfBirthUnknown">
                    <div>{{pii.placeOfBirth.name}}</div>
                    <div>{{pii.placeOfBirth.division}}</div>
                    <div>{{pii.placeOfBirth.country}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Date of Birth</div>
                <div class="col-md-8" ng-show="!pii.isDateOfBirthUnknown && pii.dateOfBirth">
                    {{pii.dateOfBirth | date : 'longDate' : 'utc'}}<span style="margin-left:5px;">{{pii.isDateOfBirthEstimated ? '(Estimated)' : ''}}</span>
                </div>
                <div class="col-md-8" ng-show="pii.isDateOfBirthUnknown">
                    Unknown
                </div>
                <div class="col-md-8" ng-show="!pii.isDateOfBirthUnknown && !pii.dateOfBirth">
                    No Data
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-label">Countries of Citizenship</div>
                <div class="col-md-8">
                    <div class="form-group" ng-repeat="country in pii.countriesOfCitizenship">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{country.value}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Addresses</div>
                <div>
                    <addresses model="pii" modelid="personid" modeltype="'person'" editmode="editMode" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Accommodation Needed</div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{pii.medicalConditions}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Marital Status</div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{pii.maritalStatus}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 title-label">Dependents</label>
                <div class="col-md-8">
                    <dependents model="pii" editmode="editMode" />
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="personPiiEditCtrl" ng-if="editMode">
    <div ng-show="edit.piiLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!edit.piiLoading">
        <div class="row">
            <div class="col-md-12">
        <div class="pull-right">
            <button ng-click="saveEditPii()" class="btn btn-success" ng-disabled="piiForm.$invalid || piiForm.$pristine">Save</button>
            <button ng-click="cancelEditPii()" class="btn btn-cancel">Cancel</button>
        </div>
            </div>
        </div>
        <form name="piiForm" class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group row" ng-hide="pii.isSingleName">
                    <label class="col-md-4 title-label">First name <eca-required /></label>
                    <div class="col-md-8">
                        <input type="text" name="firstName" class="form-control" ng-model="pii.firstName" ng-required="!pii.isSingleName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">{{piiFormLastName}}<eca-required /></label>                                            
                        <div class="col-md-8">
                            <label tooltip="Checkbox to indicate you only have one name." tooltip-placement="bottom">
                                <input type="checkbox" ng-model="pii.isSingleName" ng-change="onIsSingleNameChange()" />
                                Single Name
                            </label>
                            <input type="text" name="lastName" class="form-control" ng-model="pii.lastName" required />
                        </div>
                    </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Name prefix</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.namePrefix" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Name suffix</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.nameSuffix" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Given name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.givenName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Family name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.familyName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Middle name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.middleName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Passport name</label>
                    <div class="col-md-8">
                        <input maxlength="39" type="text" class="form-control" ng-model="pii.passportName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Patronym</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.patronym" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Alias</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.alias" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Gender <eca-required /></div>
                    <div class="col-md-8">
                        <ui-select name="gender" ng-model="pii.genderId" theme="select2" ng-change="updateGender()" required>
                            <ui-select-match placeholder="Select gender">
                                <div>{{$select.selected.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="gender.id as gender in genders">
                                <div ng-bind-html="gender.value"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Ethnicity</div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.ethnicity" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">City of Birth <eca-required ng-show="!pii.isPlaceOfBirthUnknown"/></div>
                    <div class="col-md-8">
                        <div class="input-group" style="margin-top:5px;">
                            <label>
                                <input type="checkbox" ng-model="pii.isPlaceOfBirthUnknown" ng-change="onIsPlaceOfBirthUnknownChange()" />
                                Unknown
                            </label>
                        </div>
                        <ui-select ng-model="pii.cityOfBirthId"
                                   theme="select2"
                                   name="cityOfBirthId"
                                   ng-disabled="pii.isPlaceOfBirthUnknown"
                                   ui-validate-watch="'pii.isPlaceOfBirthUnknown'"
                                   ui-validate="{isPlaceOfBirthValid: 'isPlaceOfBirthValid($value)'}"
                                   on-select="onSelectCityOfBirth()">
                            <ui-select-match placeholder="Select a city of birth...">
                                {{$select.selected.name}}{{$select.selected.division ? ', ' + $select.selected.division : ''}}{{$select.selected.country ? ' ' + $select.selected.country : ''}}
                            </ui-select-match>
                            <ui-select-choices refresh="searchCities($select.search)" refresh-delay="250" repeat="city.id as city in cities">
                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                <div style="margin-left:10px;" class="small" ng-show="city.division">{{city.division}}</div>
                                <div style="margin-left:10px;" class="small" ng-show="city.country">{{city.country}}</div>
                            </ui-select-choices>
                        </ui-select>  
                        <div class="error" ng-show="piiForm.cityOfBirthId.$error.isPlaceOfBirthValid">Please select a city of birth, or select unknown.</div>                      
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Date of Birth <eca-required colorclass="preferred" tooltiptext="Required for SEVIS" iconfontname="label_outline"/></div>
                    <div class="col-md-8">
                        <div>
                            <label>
                                <input type="checkbox" 
                                       ng-model="pii.isDateOfBirthUnknown"
                                       ng-change="onDateOfBirthUnknownChange()"
                                        />
                                Unknown
                            </label>
                        </div>
                        <div class="input-group">
                            <input type="text" 
                                   class="form-control" 
                                   name="dateOfBirth" 
                                   id="dateOfBirth" 
                                   datepicker-popup="dd-MMMM-yyyy" 
                                   tooltip="dd-MMMM-yyyy"
                                   ng-disabled="pii.isDateOfBirthUnknown"
                                   ng-model="pii.dateOfBirth"
                                   is-open="datePickerOpen" 
                                   max-date="maxDateOfBirth" 
                                   close-text="Close" 
                                   placeholder="{{dateOfBirthPlaceholder}}">
                            <span class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-default" 
                                        ng-hide="pii.isDateOfBirthUnknown"
                                        ng-click="openDatePicker($event)">
                                    <i class="material-icons md-18">event</i>
                                </button>
                            </span>
                        </div>
                        <div class="input-group" style="margin-top:5px;">
                            <label>
                                <input type="checkbox" ng-disabled="pii.isDateOfBirthUnknown" ng-model="pii.isDateOfBirthEstimated" />
                                Estimated
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 title-label">Countries of Citizenship <eca-required colorclass="preferred" tooltiptext="Required for SEVIS" iconfontname="label_outline"/></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <ui-select multiple ng-model="$parent.selectedCountriesOfCitizenship" 
                                           theme="select2" style="min-width: 200px;" 
                                           title="Choose a country">
                                    <ui-select-match placeholder="Select countries...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices refresh="searchCountries($select.search)" refresh-delay="250" repeat="country in countries">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Addresses</div>
                    <div>
                        <addresses model="pii" modelid="personid" modeltype="'person'" editmode="editMode" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Accommodation Needed</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="pii.medicalConditions"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Marital Status</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <ui-select ng-model="pii.maritalStatusId" theme="select2" ng-change="updateMaritalStatus()">
                                    <ui-select-match placeholder="Select status...">
                                        <div>{{$select.selected.value}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="maritalStatus.id as maritalStatus in maritalStatuses">
                                        <div ng-bind-html="maritalStatus.value"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 title-label">Dependents</label>
                    <div class="col-md-8">
                        <dependents model="pii" editmode="editMode" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



