<div class="row">
    <span class="left programTypeRadio">
        Show programs in
        <input type="radio"
               ng-change="view.onProgramFiltersChange()"
               ng-model="view.listType"
               value="{{view.hierarchyKey}}">
        Hierarchical order
    </span>
    <span class="left programTypeRadio">
        <input type="radio"
               ng-change="view.onProgramFiltersChange()"
               ng-model="view.listType"
               value="{{view.alphabeticalKey}}">
        Alphabetical order
    </span>
    <span class="left programTypeRadio" ng-show="showdraftsfilter && view.ecaUserId">
        <input type="checkbox"
               ng-show="view.ecaUserId"
               ng-change="view.onProgramFiltersChange()"
               ng-model="view.showDraftsOnly">
        Show my drafts only
    </span>
</div>

<div st-pipe="view.getPrograms" st-table="view.programs" id="sort-list" exposetablestate="getAllProgramsTableState">
    <table class="col-md-12 table" id="programList">
        <thead>
            <tr>
                <th>
                    <div style="margin-left:20px;">
                        <div>
                            <input id="searchBar"
                                   name="searchBar"
                                   ng-change="view.onSearchChange()"
                                   st-search type="search"
                                   ng-model="view.programFilter"
                                   ng-model-options="{debounce: 500}"
                                   placeholder="Search Programs"
                                   class="search-contextual"
                                   maxlength="100" />
                            <i class="material-icons md-18 contextual">search</i>
                        </div>
                        <div style="margin-top:25px;margin-bottom:-25px" ng-show="view.listType === view.alphabeticalKey">
                            <p class="subheader">Showing {{view.skippedNumberOfPrograms}} - {{view.numberOfPrograms}} of {{view.totalNumberOfPrograms}} programs</p>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr ng-repeat="program in view.programs" ng-show="!view.loadingPrograms" class="hover">
                <td class="narrowPadding">
                    <div id="{{program.divId}}">
                        <div class="col-md-10" ng-style="{'padding-left': (40*program.programLevel)}">
                            <div ng-if="!program.isRoot" ng-class="{'col-md-1': !program.isRoot}">
                                <i style="margin-left:25px;"
                                   ng-show="!program.isRoot && view.listType === view.hierarchyKey"
                                   class="material-icons md-18 flip-horizontal">keyboard_return</i>
                            </div>
                            <div ng-class="{'col-md-12': program.isRoot, 'col-md-11': !program.isRoot}">
                                <span class="owner-office" ng-bind-html="program.officeSymbol | highlight:view.programFilter">{{program.officeSymbol}}</span>
                                <span class="owner-office"> - {{program.status}}</span>
                                <h4>
                                    <a ng-bind-html="program.name | highlight:view.programFilter" ui-sref="programs.overview({programId: program.programId})">{{program.name}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2" ng-show="!program.loadingChildrenPrograms">
                            <span ng-click="view.onExpandClick(program)" ng-show="view.listType === view.hierarchyKey && program.numberOfChildren" style="cursor:pointer;" class="right">
                                <i class="material-icons md-24" ng-show="!program.isExpanded">expand_less</i>
                            </span>
                            <span ng-click="view.onCollapseClick(program)" ng-show="view.listType === view.hierarchyKey && program.numberOfChildren" style="cursor:pointer;" class="right">
                                <i class="material-icons md-24" ng-show="program.isExpanded">expand_more</i>
                            </span>
                            <span ng-show="program.numberOfChildren"
                                  class="right mute"
                                  style="padding-left:2px;padding-right:2px;"
                                  tooltip="The number of sub-programs."
                                  tooltip-placement="bottom"
                                  >
                                ({{program.numberOfChildren}})
                            </span>
                            <span ng-show="program.parent"
                                  class="right"
                                  style="padding-left:2px;padding-right:2px;">
                                <a style="font-size:smaller"
                                   class="mute"
                                   tooltip="Scroll to {{program.parent.name}}"
                                   tooltip-placement="bottom"
                                   ng-click="view.onScrollToParentClick(program)">
                                    scroll to parent
                                </a>
                            </span>
                        </div>
                        <div class="col-md-2" ng-show="program.loadingChildrenPrograms">
                            <span ng-show="view.listType === view.hierarchyKey" class="right">
                                <i class="material-icons md-24 material-icons-spin">autorenew</i>
                            </span>
                        </div>
                    </div>
                    <div style="min-height:90px;">
                        <div class="col-md-10" ng-style="{'padding-left': (40*program.programLevel)}">
                            <div ng-if="!program.isRoot" ng-class="{'col-md-1': !program.isRoot}">
                                &nbsp;
                            </div>
                            <div ng-class="{'col-md-12': program.isRoot, 'col-md-11': !program.isRoot}">
                                <p ng-bind-html="program.description | highlight:view.programFilter">{{program.description}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="right" style="display:none;" showonparentrow>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy">
                                    <i class="material-icons md-24 copyEditDeleteOption">content_copy</i>
                                </div>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit">
                                    <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                                </div>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete">
                                    <i class="material-icons md-24 copyEditDeleteOption">delete</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="view.loadingPrograms">
                <td>
                    <div class="spinner" ng-show="view.loadingPrograms">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="app/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="view.programs.length > 0"></div>
</div>