<div class="row" ng-show="!editMode">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-click="editMode = !editMode">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
</div>
<div ng-if="!editMode" class="row row2">
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Sponsor</label>
        </div>
        <div class="col-md-6 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingSponsor | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Personal</label>
        </div>
        <div class="col-md-6 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingPersonal | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Vis. Gov't</label>
        </div>
        <div class="col-md-6 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingVisGovt | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Vis.BNC</label>
        </div>
        <div class="col-md-6 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingVisBNC | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-3">
            <span class="title-label">Name</span>
        </div>
        <div class="col-md-3">
            <span class="title-label">Other Name</span>
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Gov't Agency 1</label>
        </div>
        <div class="col-md-3">
            {{exchangevisitorinfo.govtAgency1Name}}
        </div>
        <div class="col-md-2">
            {{exchangevisitorinfo.govtAgency1OtherName}}
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingGovtAgency1 | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Gov't Agency 2</label>
        </div>
        <div class="col-md-3">
            {{exchangevisitorinfo.govtAgency2Name}}
        </div>
        <div class="col-md-2">
            {{exchangevisitorinfo.govtAgency2OtherName}}
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingGovtAgency2 | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Int'l Org 1</label>
        </div>
        <div class="col-md-3">
            {{exchangevisitorinfo.intlOrg1Name}}
        </div>
        <div class="col-md-2">
            {{exchangevisitorinfo.intlOrg1OtherName}}
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingIntlOrg1 | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Int'l Org 2</label>
        </div>
        <div class="col-md-3">
            {{exchangevisitorinfo.intlOrg2Name}}
        </div>
        <div class="col-md-2">
            {{exchangevisitorinfo.intlOrg2OtherName}}
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingIntlOrg2 | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Other Org.</label>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-2">
            {{exchangevisitorinfo.otherName}}
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingOther | number:0}}
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-3">
            <label class="title-label">Total</label>
        </div>
        <div class="col-md-6 text-right">
            $
        </div>
        <div class="col-md-1 text-right">
            {{exchangevisitorinfo.fundingSponsor + exchangevisitorinfo.fundingPersonal + exchangevisitorinfo.fundingVisGovt + exchangevisitorinfo.fundingVisBNC + exchangevisitorinfo.fundingGovtAgency1 + exchangevisitorinfo.fundingGovtAgency2 + exchangevisitorinfo.fundingIntlOrg1 + exchangevisitorinfo.fundingIntlOrg2 + exchangevisitorinfo.fundingOther  | number:0}}
        </div>
    </div>
</div>
<form name="fundingEditForm" class="row row2" ng-if="editMode">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button ng-click="saveEditFunding()" class="btn btn-success" ng-disabled="fundingEditForm.$invalid || fundingEditForm.$pristine">Save</button>
                <button ng-click="cancelEditFunding()" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Sponsor</label>
        </div>
        <div class="col-md-7 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingSponsor" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Personal</label>
        </div>
        <div class="col-md-7 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingPersonal" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Vis. Gov't</label>
        </div>
        <div class="col-md-7 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingVisGovt" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Vis.BNC</label>
        </div>
        <div class="col-md-7 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingVisBNC" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Gov't Agency 1</label>
        </div>
        <div class="col-md-3">
            <ui-select ng-model="exchangevisitorinfo.govtAgency1Id" theme="select2" tabindex="1" ng-required="true" on-select="onGovtAgency1Select($item)">
                <ui-select-match placeholder="Select a US Government Agency...">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in edit.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                    <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="60" ng-model="exchangevisitorinfo.govtAgency1OtherName" ng-show="govtAgency1Other" />
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingGovtAgency1" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Gov't Agency 2</label>
        </div>
        <div class="col-md-3">
            <ui-select ng-model="exchangevisitorinfo.govtAgency2Id" theme="select2" tabindex="1" ng-required="true" on-select="onGovtAgency2Select($item)">
                <ui-select-match placeholder="Select a US Government Agency...">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices repeat="usGovernmentAgency.id as usGovernmentAgency in edit.usGovernmentAgencies | filter: {description: $select.search} track by usGovernmentAgency.id">
                    <div ng-bind-html="usGovernmentAgency.description | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="60" ng-model="exchangevisitorinfo.govtAgency2OtherName" ng-show="govtAgency2Other" />
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingGovtAgency2" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Int'l Org 1</label>
        </div>
        <div class="col-md-3">
            <ui-select ng-model="exchangevisitorinfo.intlOrg1Id" theme="select2" tabindex="1" ng-required="true" on-select="onIntlOrg1Select($item)">
                <ui-select-match placeholder="Select an International Organization...">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in edit.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                    <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="60" ng-model="exchangevisitorinfo.intlOrg1OtherName" ng-show="intlOrg1Other" />
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingIntlOrg1" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Int'l Org 2</label>
        </div>
        <div class="col-md-3">
            <ui-select ng-model="exchangevisitorinfo.intlOrg2Id" theme="select2" tabindex="1" ng-required="true" on-select="onIntlOrg2Select($item)">
                <ui-select-match placeholder="Select an International Organization...">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices repeat="internationalOrganization.id as internationalOrganization in edit.internationalOrganizations | filter: {description: $select.search} track by internationalOrganization.id">
                    <div ng-bind-html="internationalOrganization.description | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="60" ng-model="exchangevisitorinfo.intlOrg2OtherName" ng-show="intlOrg2Other" />
        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingIntlOrg2" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Other Org.</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="60" ng-model="exchangevisitorinfo.otherName" style="width:230px" />
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-1 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            <input type="number" class="form-control" min="0" ng-model="exchangevisitorinfo.fundingOther" />
        </div>
    </div>
    <div class="row row4">
        <div class="col-md-2">
            <label class="title-label">Total</label>
        </div>
        <div class="col-md-7 text-right">
            $
        </div>
        <div class="col-md-2 text-right">
            {{exchangevisitorinfo.fundingSponsor + exchangevisitorinfo.fundingPersonal + exchangevisitorinfo.fundingVisGovt + exchangevisitorinfo.fundingVisBNC + exchangevisitorinfo.fundingGovtAgency1 + exchangevisitorinfo.fundingGovtAgency2 + exchangevisitorinfo.fundingIntlOrg1 + exchangevisitorinfo.fundingIntlOrg2 + exchangevisitorinfo.fundingOther  | number:0}}
        </div>
    </div>
</form>