<div ng-controller="personEducationEmploymentCtrl">
    <div class="row" ng-show="!editGeneral">
        <div class="col-md-6 list2">
            <div class="row">
                <i class="material-icons md-dark col-md-1">school</i>
                <label class="col-md-3 title-label">Education</label>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="education in educations" style="padding-bottom: 10px;">
                            <b>{{education.title}} ({{education.startDate | date: 'yyyy'}}-{{education.endDate | date: 'yyyy'}})</b>
                            <br/>
                            {{education.role}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 list2">
            <div class="row">
                <i class="material-icons md-dark col-md-1">work</i>
                <label class="col-md-3 title-label">Professional History</label>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="employment in employments" style="padding-bottom: 10px;">
                            <b>{{employment.title}} ({{employment.startDate | date: 'yyyy'}}-{{employment.endDate | date: 'yyyy'}})</b>
                            <br/>
                            {{employment.role}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>