<div ng-controller="personGeneralCtrl">
    <div ng-show="!editGeneral">
        <div class="col-md-5">
            <div class="row" style="border-top: 1px solid silver; padding-right: 50px;">
                <i class=" md md-school md-2x col-md-1" style="vertical-align:text-top;"></i>
            <label class="col-md-3 title-label">Education</label>
            <div class="col-md-6">
                <ul>
                    <li ng-repeat="history in educational.histories">
                        <b>{{history.title}}</b>
                        {{history.role}}
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="row" style="border-top: 1px solid silver">
                <i class="md md-work md-2x col-md-1"></i>
                <label class="col-md-3 title-label">Professional History</label>
                <div class="col-md-6">
                    <ul>
                        <li ng-repeat="history in professional.histories">
                            <b>{{history.title}}</b>
                            {{history.role}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>