<div ng-controller="personEvaluationNotesCtrl">
    <div class="list2" ng-show="!editGeneral">
        <div class="col-md-12">
            <div class="row2" ng-repeat="evaluationNote in evaluationNotes">
                <h5>{{evaluationNote.evaluationNote}}</h5>
                <br />
                <p><i class="material-icons md-dark">chat_bubble</i> Added by: {{evaluationNote.userName}} ({{evaluationNote.emailAddress}}) on {{evaluationNote.addedOn | date:'longDate'}}</p>
            </div>
        </div>
    </div>
</div>