<div class="jumbotron organization">
    <div class="heading">
        <h1>Organizations</h1>
    </div>
</div>
<div class="container">
    <h4 class="tab-subheader">Organizations List</h4>
    <p class="subheader">Showing {{start}} - {{end}} of {{total}} organizations</p>
    <div st-pipe="getParticipants" st-table="participants" id="sort-list">
        <table class="col-md-12 alt">
            <thead>
                <tr>
                    <th st-sort="'name'" st-sort-default="true" class="col-md-5 sort-label medium">Name</th>
                    <th st-sort="'participantType'" class="col-md-3 sort-label medium">Type</th>
                    <th class="col-md-2 sort-label medium">Status</th>
                    <th class="col-md-2">&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="'name'" placeholder="" type="search" class="input-lg form-control" />
                    </th>
                    <th>
                        <input st-search="'participantType'" placeholder="" type="search" class="input-lg form-control" />
                    </th>
                    <th>
                        <input st-search="'status'" placeholder="" type="search" class="input-lg form-control" />
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody class="list2">
                <tr class="hover" ng-repeat="participant in participants" ng-show="!participantsLoading">
                    <td>
                        <h5 class="list-title"><a ui-sref="participants.personalinformation({participantId: participant.participantId})">{{participant.name}}</a></h5>
                    </td>
                    <td>{{participant.participantType}}</td>
                    <td>Active</td>
                    <td>
                        <img class="icon" src="images/duplicateA.png" alt="">
                        <img class="icon" src="images/editA.png" alt="">
                        <img class="icon" src="images/trash.png" alt="">
                    </td>
                </tr>
                <tr ng-show="participantsLoading">
                    <td colspan="5">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="participants.length > 0"></div>
    </div>
</div>