<div ng-controller="MarkerCtrl">
    <div>
        <div>
            <strong>Google Location</strong>
        </div>
        <div>
            {{view.googleLocation}}
        </div>
    </div>
    <hr />
    <div>
        <div>
            <strong>ECA Locations ({{view.totalMatchingLocations}})</strong>
        </div>
        <div class="text-center" ng-show="view.isTransformingLocation || view.isCheckingLocationExistence">
            <i class="material-icons md-24 material-icons-spin">autorenew</i>
        </div>
        <div ng-show="!view.isTransformingLocation && !view.isCheckingLocationExistence">
            <ul>
                <li ng-repeat="location in view.matchingLocations | limitTo:view.maxInfoWindowLocations | orderBy:'name'">
                    &#149
                    {{location.name}}
                    <!--A couple of things can happen here, what we are trying to show is something like name (locationTypeName:  division, country)
                    but the division may not be known.  Another possibility is that a location is a country itself and therefore it's own iso must be shown.-->
                    ({{location.locationTypeName}}:  {{location.divisionIso ? location.divisionIso + ', ' : ''}}{{location.countryIso ? location.countryIso : location.locationIso}})
                </li>
                <li ng-if="view.matchingLocations.length > view.maxInfoWindowLocations">
                    &#149 <i>{{view.matchingLocations.length - view.maxInfoWindowLocations}} more...</i>
                </li>
            </ul>
            <div ng-show="view.matchingLocations.length === 0">
                No matching locations.
            </div>
        </div>
    </div>
</div>