<h2 class="person-color tab-header">Personal Information</h2>

<div class="row table">

    <div class="row">
        <div class="col-md-6">
            <h4 class="tab-subheader">General Information</h4>
        </div>
        <div class="col-md-6">
            <a ng-click="showGeneral = !showGeneral">
                <i class="material-icons md-dark md-36 pull-right" ng-show="showGeneral">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!showGeneral">expand_less</i>
            </a>
            <a ng-show="!edit.General" ng-click="edit.General = !edit.General">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
    <div collapse="!showGeneral">
        <div ng-if="!edit.General"><ng-include src="'/views/person/partials/generalView.html'"></ng-include></div>
        <div ng-if="edit.General"><ng-include src="'/views/person/partials/generalEdit.html'"></ng-include></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="tab-subheader">Personal Identifiable Information (PII)</h4>
        </div>
        <div class="col-md-6">
            <a ng-click="showPii = !showPii">
                <i class="material-icons md-dark md-36 pull-right" ng-show="showPii">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!showPii">expand_less</i>
            </a>
            <a ng-show="!edit.Pii" ng-click="edit.Pii = !edit.Pii">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
    <div collapse="!showPii">
        <div ng-if="!edit.Pii"><ng-include src="'/views/person/partials/piiView.html'"></ng-include></div>
        <div ng-if="edit.Pii"><ng-include src="'/views/person/partials/piiEdit.html'"></ng-include></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="tab-subheader">Contact</h4>
        </div>
        <div class="col-md-6">
            <a ng-click="showContact = !showContact">
                <i class="material-icons md-dark md-36 pull-right" ng-show="showContact">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!showContact">expand_less</i>
            </a>
            <a ng-show="!edit.Contact" ng-click="edit.Contact = !edit.Contact">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
    <div collapse="!showContact">
        <div ng-if="!edit.Contact"><ng-include src="'/views/person/partials/contactView.html'"></ng-include></div>
        <div ng-if="edit.Contact"><ng-include src="'/views/person/partials/contactEdit.html'"></ng-include></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="tab-subheader">Education &amp; Employment</h4>
        </div>
        <div class="col-md-6">
            <a ng-click="view.collapseEduEmp = !view.collapseEduEmp">
                <i class="material-icons md-dark md-36 pull-right" ng-show="view.collapseEduEmp">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!view.collapseEduEmp">expand_less</i>
            </a>
            <a ng-show="!edit.EduEmp" ng-click="edit.EduEmp = !edit.EduEmp">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
    <div collapse="!view.collapseEduEmp">
        <div ng-if="!edit.EduEmp"><ng-include src="'/views/person/partials/eduempView.html'"></ng-include></div>
        <div ng-if="edit.EduEmp"><ng-include src="'/views/person/partials/eduempEdit.html'"></ng-include></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 class="tab-subheader">Evaluation &amp; Notes</h4>
        </div>
        <div class="col-md-6">
            <a ng-click="showEvalNotes = !showEvalNotes">
                <i class="material-icons md-dark md-36 pull-right" ng-show="showEvalNotes">expand_more</i>
                <i class="material-icons md-dark md-36 pull-right" ng-show="!showEvalNotes">expand_less</i>
            </a>
            <a ng-show="!edit.Evaluation" ng-click="edit.Evaluation = !edit.Evaluation">
                <i class="material-icons md-dark md-24 pull-right">edit</i>
            </a>
        </div>
    </div>
    <div collapse="!showEvalNotes">
        <div ng-if="!edit.Evaluation"><ng-include src="'/views/person/partials/evaluationNotesView.html'"></ng-include></div>
        <div ng-if="edit.Evaluation"><ng-include src="'/views/person/partials/evaluationNotesEdit.html'"></ng-include></div>
    </div>
</div>