<h2 class="person-color tab-header">Timeline</h2>

<div class="list2">
    <div class="row hover">
        <div class="col-md-1">
            <div class="circle project">
                PR
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <h4><a href="#">Fullbright Foreign Students - 2014</a></h4>
                    </div>
                    <div class="row">
                        <h5><strong>2013-2017</strong> <small>ECA/A/E</small></h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <p class="pull-right title-label">Active</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p class="description">
                        The Fullbright Foreign Student Program enables graduate students, young professionals,
                        and artists from abroad to research and study in the United States for one year or longer
                        at U.S. universities or other appropriate institutions.
                    </p>
                </div>
                <div class="col-md-1">
                    <i class="material-icons md-dark md-36 pull-right">expand_less</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row hover">
        <div class="col-md-1">
            <div class="circle project">
                PR
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <h4><a href="#">Fullbright Foreign Students - 2014</a></h4>
                    </div>
                    <div class="row">
                        <h5><strong>2013-2017</strong> <small>ECA/A/E</small></h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <p class="pull-right title-label">Completed</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p class="description">
                        The Fullbright Foreign Student Program enables graduate students, young professionals,
                        and artists from abroad to research and study in the United States for one year or longer
                        at U.S. universities or other appropriate institutions.
                    </p>
                </div>
                <div class="col-md-1">
                    <i class="material-icons md-dark md-36 pull-right">expand_less</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row hover">
        <div class="col-md-1">
            <div class="circle project">
                PR
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <h4><a href="#">Fullbright Foreign Students - 2014</a></h4>
                    </div>
                    <div class="row">
                        <h5><strong>2013-2017</strong> <small>ECA/A/E</small></h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <p class="pull-right title-label">Completed</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p class="description">
                        The Fullbright Foreign Student Program enables graduate students, young professionals,
                        and artists from abroad to research and study in the United States for one year or longer
                        at U.S. universities or other appropriate institutions.
                    </p>
                </div>
                <div class="col-md-1">
                    <i class="material-icons md-dark md-36 pull-right">expand_less</i>
                </div>
            </div>
        </div>
    </div>
</div>