.form-group {
    color: $primarytext;
    margin-bottom: 20px;

    .form-control {
        border: 1px solid $bordergray;
        color: $primarytext;
        opacity: 1;
        padding: 10.5px 14px;
        height: 100%;
    }
}

.form-control {
    color: $primarytext;
}

#modal {
    border-top: 0;
}

#form-container {
    padding: 0 0 0 40px;

    .row {
        border-top: 0;
        margin-bottom: 0;
        padding: 40px 0 0 40px;
    }
}

#modal-tab {
    margin-left: -40px;
    margin-top: 40px;
    width: 110%;
}

.required,
.required2 {
    color: $required;
    font-size: 13px;
    font-weight: 500;
}

.required {
    margin: 5px 0 0 23px;
}

.required2 {
    margin: 5px 0 0;
}

.asterisk {
    color: $required;
}

.dropdown-menu .btn {
    padding: 0 10px;
}

.dropdown-menu table tr th {
    padding-top:  0;
    padding-bottom: 0;
}

.btn {
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    height: 42px;
    letter-spacing: 1.5px;
    outline: 0;
    padding: 0 20px;
    text-transform: uppercase;

    &:disabled {
        opacity: .5;
    }
        
}

.btn-sm {
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    height: 34px;
    letter-spacing: 1.5px;
    outline: 0;
    padding: 0 10px;
    text-transform: uppercase;

    &:disabled {
        opacity: .5;
    }
        
}

.btn-xs {
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    height: 24px;
    letter-spacing: 1.5px;
    outline: 0;
    padding: 0 5px;
    text-transform: uppercase;

    &:disabled {
        opacity: .5;
    }
        
}

.btn-success {
    background-color: $green;

    &:hover {
        background-color: $greenactive;
    }
}

.btn-cancel {
    color: #333;
    background-color: $lightgray;

    &:hover {
        background-color: $mediumgray;
        color: #fff;
    }
}

.btn-default {
    background-color: $gray;
    color: $primarytext;

    &:hover {
        background-color: $grayactive;
        color: #fff;
    }
}

.btn-inlist {
    background-color: $mediumgray;
    color: $primarytext;

    &:hover {
        background-color: $grayactive;
        color: #fff;
    }

}

input,
textarea {
    border-radius: 3px;
    outline: none;

    &:focus {
        border: 1px solid $blue;
    }

    &.ng-invalid.ng-dirty {
        background-color: #fff0ef;
        border: 1px solid #dc413a;
    }
    &.largerArea {
        height: 120px;
        width: 100%;
    }
}

.error {
    color: #dc413a;
}

.warning {
    color: #8a6d3b; 
}

label {
    color: $primarytext;
    display: block;
    font-size: 12px; //.93em;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.multiSelect {
    .multiSelectButton {
        background-image: none;
        border: 1px solid $bordergray;
        color: $primarytext;
        padding: 10px 14px;
        text-align: left;
        width: 100%;

        &:hover {
            background-image: none;
        }

        .caret {
            color: $darkgray;
            float: right;
            margin: 8px 0 1px 12px !important;
            opacity: 1;
        }
    }
}

// ui-select (select2) overrides

.select2-container-multi .select2-choices {
    border: 1px solid #e5eae9;
    border-radius: 4px;
    background-image: none;
}

.select2-container-multi .select2-choices .select2-search-field input {
    min-height: 40px;
}

.select2-container .select2-choice {
    border: 1px solid #e5eae9;
    height: 40px;
    line-height: 40px;
}

.select2-container .select2-choice .select2-arrow {
    border-left: 1px solid #e5eae9;
}

.select2-container .select2-choice .select2-arrow b {
    background: url('../images/select2.png') no-repeat 0 5px;
}


// allows datepicker control to have a small grid of dates
div.input-group td:first-child {
    padding: 0;
}
p.input-group td:first-child {
    padding: 0;
}

