
.divider {
    background: $bordergray;
    height: 1px;
    margin-left: -40px;
    width: 110%;
}

.list2 {

    input[type="checkbox"] {
        margin-right: 10px;
    }

    tr {
        border-top: 1px solid #e5eae9;
        border-bottom: 0;

        &.details {
            background-color: white;
        }
    }

    tr:last-child, tr:nth-last-child(2) {
        border-bottom: 1px solid #e5eae9;
    }

    td {
        //padding: 40px 0 40px 0;
        a {
            color: $primarytext;
        }

        a:hover {
            color: $blue;
            text-decoration: underline;
        }
    }

    td:first-child {
        padding: 12px 10px 12px 10px;
    }

    .row {
        border-top: 1px solid $bordergray;
        padding: 20px 40px 20px 20px;
        width: 100%;

        a {
            color: $primarytext;
        }

        a:hover {
            color: $blue;
            text-decoration: underline;
        }

        .table {
            max-width: 100%;
            width: 100%;
        }
    }

    .row2 {
        border-bottom: 1px solid $bordergray;
        padding: 20px 10px 20px 30px;
        margin-left: 10px;
        width: 99%;
    }

    .row3 {
        border-top: 1px solid $bordergray;
        padding: 20px 10px 20px 40px;
        border-bottom: 1px solid $bordergray;
    }

    .row4 {
        padding: 20px 10px 20px 40px;
        width: 100%;
        border-top: 0 !important;
    }

    .rowalt .row4:nth-of-type(even) {
        background-color: $lightgray;
    }

    .list-title {
        font-weight: 400;
    }

    .description {
        color: $mediumgray;
        margin-top: 15px;
    }

    .col-md-9,
    .col-md-10,
    .col-md-12 {
        padding-left: 0;
    }

    .table {
        max-width: 90%;
        width: 90%;
    }

    .tools {
        padding-top: 50px;
    }

    .tools2 {
        padding: 0;
    }

    .tools3 {
        padding-top: 30px;
    }

    .icon {
        margin-right: 10px;
    }

    .form-inline {
        padding-left: 10px;
        padding-right: 0px;
    }
}

// formats interior rows of a list2
.row.row4 {
    padding-left: 20px !important;
}

.list3 {
}

.expand {
    background: $lightgray;
    padding: 33px;

    &.dashed {
        border: 1px dashed #ccd5d4;
        border-radius: 3px;
        text-align: center;
    }
}

.row {
    &.recess {
        background: #efefef;
        height: 60px;
        line-height: 43px;
        padding: 20px 40px 40px 20px;
        width: 100%;
    }
}

.hover {

    .icon {
        display: none;
    }

    &:hover {
        background: $lightgray;

        .icon {
            display: inline-block;
        }
    }
}

.hover-dark {

    .icon {
        display: none;
    }

    &:hover {
        background: darken($lightgray, 5%);

        .icon {
            display: inline-block;
        }
    }
}

.title-label {
    color: $darkgray;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}

#pagination {
    height: auto;
    width: 100%;

    img {
        display: block;
        height: auto;
        margin: 0 auto;
        width: auto;
    }
}

#sort-list {
    height: auto;
    width: 100%;

    img {
        display: inline block;
        height: auto;
        margin-left: 8px;
        width: auto;
    }

    table {
        padding-left: 0;
    }

    th {
        padding-bottom: 14px;
        padding-left: 0;

        tr {
            border-bottom: 0;
            border-top: 0;
        }
    }

    tr:nth-child(2) {
        th:first-child {
            padding-left: 20px;
        }

        th {
            padding-right: 8px;
        }
    }
}

.sort-label {
    font-size: 12px;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 0;

    &:hover {
        cursor: pointer;
    }
}

.alt {
    border-bottom: 1px solid $bordergray;
}

#data-list {
    td {
        padding-left: 0;
    }
}

#list-views {
    display: inline-block;
    padding: 0;

    img {
        display: inline-block;
        height: auto;
        margin-left: 10px;
        padding-top: 10px;
        width: auto;
    }
}

.indentOnce {
    padding-left: 80px;
}

.indentTwice {
    padding-left: 100px;
}

.circle {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    line-height: 29px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    float: right;
}

.permission-list {
    .col-md-6 {
        width: 50%;

        .row {
            padding: 8px;
        }
    }
}

.simple-list {
    ul {
        li:nth-child(n + 2) {
            margin-top: 5px;
        }
    }
}

.grouped-list {
    li > :nth-last-child(-n+1) {
        margin-left: 10px;
        padding: 8px;
    }
}

.list-divider {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $lightgray;
}


.itinerary {
    .itinerary-header {
        div {
            height: 75px;
        }

        input[type="text"] {
            vertical-align: middle;
            margin-left: 20px;
        }

        background-color: $blue;
        color: white;
        margin-top: 15px;
        width: 100%;
    }


    .itinerary-container {
        border-bottom: 1px solid $mediumgray;
        border-left: 1px solid $mediumgray;
        border-right: 1px solid $mediumgray;
    }

    .itinerary-stop-header {
        background-color: $blue;
        color: white;
        margin-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 10px;
    }

    .itinerary-stop-container {
        border-bottom: 1px solid $mediumgray;
        border-left: 1px solid $mediumgray;
        border-right: 1px solid $mediumgray;
    }

    .itinerary-stop-bottom-bar {
        background-color: $lightgray;
    }
}

.itinerary-participant-select-box {
    > div {
        border: 1px solid $lightgray;
        min-height: 200px;
        max-height: 200px;
        overflow-y: auto;
    }
}
