.navbar-toggle {
    border: 0;
    float: left;
    margin-left: 40px;
}

#search-bar {
    margin-top: 7px;

    .form-control {
        color: $primarytext;
    }
}

#search-bar-icon {
    margin-top: 15px;
}

.tab {
    margin-right: 40px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;

    &.active {
        border-bottom: 5px solid #415358;
        height: 30px;
        text-decoration: none;

        a {
            color: $primarytext;
            text-decoration: none;

            &.focus {
                text-decoration: none;
            }

            &.visited {
                text-decoration: none;
            }

            &.hover {
                text-decoration: none;
            }
        }
    }

    a {
        color: $mediumgray;
    }

    a:hover {
        border-bottom: 5px solid $blue;
        color: $blue;
        padding-bottom: 7px;
        text-decoration: none;
    }
}



.tabs {
    border-bottom: 1px solid #efefef;
    height: 40px;
    padding-left: 42px;

    div {
        display: inline-block;
        float: left;

        &.add-tab {
            background-color: $lightgray;
            height: 40px;
            padding: 0 20px;
        }
    }

    button {
        background: none;
        border: 0;
        height: 63px;
    }

    &.open {
        background: none;
        color: #297cb4;
        //   button.dropdown-toggle {
        //   color: #297cb4;
        // }
    }

    &.active {
        border-bottom: 5px solid #415358;
    }
}

.nav-tabs > li > a {
    line-height: 1.4285;
    margin-right: 0;
    border: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    font-weight: bold;
    border: 0;
    color: #415358;
    background-color: $lightgray
}

.nav-tabs .tab a:hover {
    border-bottom: 5px solid #297cb4;
    color: #297cb4;
    text-decoration: none !important;
    padding-bottom: 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    padding-bottom: 10px;
    outline: none;
}

.list2 .tabs button {
    background-color: $bordergray;
}

.tab-content > div {
    display: block;
    width: 100%;
}


.dropdown-menu {
    border: 1px solid $bordergray;
    margin: 0;
    padding: 15px 0 5px;

    li {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .5px;
        text-transform: uppercase;

        a {
            padding: 10px 15px;
        }

        &.disabled {
            opacity: .5;
        }
    }
}

.tab-helper {
    border-bottom: 1px solid $bordergray;
    margin-bottom: 5px;
    padding: 0 10px 5px 15px;
    width: 100%;
}

.cbp-spmenu {
    background: #415358;
    position: fixed;

    h3 {
        background: #0d77b6;
        color: #afdefa;
        font-size: 1.9em;
        font-weight: 300;
        margin: 0;
        padding: 20px;
    }

    a {
        color: #fff;
        display: block;
        font-size: 1.1em;
        font-weight: 500;

        &:hover {
            background: #2c393e;
            text-decoration: none;
        }

        &:active {
            background: #afdefa;
            color: #47a3da;
        }
    }
}

.foot {
    background-color: #297cb4;
    bottom: 50px;
    position: absolute;
    width: 100%;

    img {
        margin-right: 9px;
    }
}

.cbp-spmenu-vertical {
    height: 100%;
    top: 50px;
    width: 240px;
    z-index: $navBarZIndex;

    a {
        padding: 1.6em;
    }
}


.cbp-spmenu-horizontal {
    height: 150px;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: $navBarZIndex;

    h3 {
        float: left;
        height: 100%;
        width: 20%;
    }

    a {
        border-left: 1px solid #258ecd;
        float: left;
        padding: .8em;
        width: 20%;
    }
}


.cbp-spmenu-left {
    left: -240px;

    &.cbp-spmenu-open {
        left: 0;
    }
}

.cbp-spmenu-right {
    right: -240px;

    &.cbp-spmenu-open {
        right: 0;
    }
}


.cbp-spmenu-push {
    left: 0;
    overflow-x: hidden;
    position: relative;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}


.cbp-spmenu,
.cbp-spmenu-push {
    transition: all .3s ease;
}

@media screen and (max-width: 55.1875em) {

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
