.resulticon {
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 27px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    width: 27px;
}

.search-label {
    color: #415358;
    font-size: 12px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
}

.resultrow {
    height: 55px;
}

.resultrow-selected {
    height: 55px;
    background-color: $lightgray;
}

.search-result-wrapper {
    background: rgba(0, 0, 0, .90);
    width: 100%;
}

.search-contextual {
    border: 1px solid $bordergray;
    color: $primarytext;
    margin-bottom: 20px;
    padding: 10px 14px;
    width: 90%;
}

.contextual {
    margin-left: -30px;
    position: relative;
}

.search-modal-header {
    border-bottom: none;
    min-height: 65px;
}

.search-modal-resize .modal-dialog {
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:10px;
    width:auto;
}

.search-modal-resize .modal-body {
    max-height: calc(100vh - 150px);
    max-height: -webkit-calc(100vh - 150px);
}

.search-result-container {
    background-color: #fff;
    display: block;
    min-height: 700px;
    margin: 0 auto;
}

.search-results {
    border-left: 1px solid $bordergray;
    border-right: 1px solid $bordergray;
}

.resultoffice {
    font-size: 13px;
}

.material-icons.flip-horizontal {
    transform: rotateY(180deg);
}

.material-icons.md-18.contextual {
    top: 4px;
}

.material-icons.md-18.contextual-busy {
    position: relative;
    left: -30px;
    top: 4px;
}

.material-icons-spin {
    -webkit-animation: material-icons-spin 1.5s infinite linear;
    animation: material-icons-spin 1.5s infinite linear;

    &.ng-hide {
        line-height: 0;
        opacity: 0;
    }
}

.material-icons-spin-reverse {
    -webkit-animation: material-icons-spin-reverse 1.5s infinite linear;
    animation: material-icons-spin-reverse 1.5s infinite linear;

    &.ng-hide {
        line-height: 0;
        opacity: 0;
    }
}


@-webkit-keyframes material-icons-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes material-icons-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes material-icons-spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}

@keyframes material-icons-spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}
