$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// section-specific colors
$project: #5cb9dd;
$program: #3f4d8f;
$office: #297cb4;
$person: #f6bf25;
$home: #297cb4;
$event: #4a4a4a;
$report-archive: #d91f52;
$organization: #87265a;


$lightgray: #f7f7f7;
$mediumgray: #a0a9ab;
$darkgray: #415358;
$bordergray: #e5eae9;

$required: #f66a1f;
$primarytext: #415358;

// buttons
$green: #55b267;
$greenactive: #339246;
$blue: #297cb4;
$blueactive: #1a5f8e;
$gray: #e7e7e7;
$grayactive: #415358;

$toolbarZIndex: 1000;
$navBarZIndex: 1001;

@import 'variables';
// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'form';
@import 'nav';
@import 'hero';
@import 'modal';
@import 'table';
@import 'overview';
@import 'lists';
@import 'search';
@import 'static';
@import 'footer';

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 14px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

// Rules for sizing the icon.
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

// Rules for using icons as black on a light background.
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

// Rules for using icons as white on a dark background.
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

body {
    color: $primarytext;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

a:hover,
a.img:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 4.57em;
    font-weight: 200;
    line-height: 75px;
}


h2 {
    font-size: 3.43em;
    font-weight: 300;
    line-height: 56px;
}

h4 {
    font-size: 1.71em; //24px
    font-weight: 500;
    line-height: 29px;
}

h5 {
    font-size: 1.29em; //18px
    font-weight: 200;
    line-height: 28px;
}

img {
    height: auto;
    width: 100%;
}


#placehold-bottom {
    border-top: 1px solid $bordergray;
    height: 100px;
    margin-top: 50px;
}

#top {
    overflow-x: hidden;
    padding-top: 50px;
}

.breadcrumbs {
    font-size: 12px;
    height: 54px;
    // margin-top: 48px;
    padding: 18px 40px;
}

.mute {
    font-weight: 300;
    opacity: .5;
}

.strong {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.icon {
    height: auto;
    width: auto;

    &.small {
        height: 15px;
        width: 15px;
    }

    &.wide {
        height: 16px;
    }
}

.stat {
    font-size: 7.14em;
}

.text-center {
    text-align: center;
}

.light {
    font-weight: 100;
}

.tags {
    &.row {
        margin-top: 20px;
    }

    .tag {
        color: $mediumgray;
        font-size: 18px;
        font-weight: 600;
        height: 35px;
        margin-right: 15px;
        width: auto;
    }
}

.embed {
    margin-bottom: 60px;
    padding: 33px;

    h4 {
        margin-bottom: 0;
    }

    &.dashed {
        border: 1px dashed #ccd5d4;
        border-radius: 3px;
        text-align: center;
    }
}

.container {
    min-height: 100px;
    padding: 60px 40px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    margin: 0;

    .col-md-6 {
        padding: 0 40px 0 0;
    }
}

.col-md-10 {
    padding-left: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.tab-button {
    background: none;
    border: 0;
    color: #000;
    height: 14px;
    line-height: 0;
}

.tip {
    margin-bottom: 40px;

    img {
        height: 16px;
        margin: 2px 7px 0 0;
        vertical-align: top;
        width: 16px;
    }
}

.contextContainer {
    border-left: 4px solid $blue;
    color: $blue;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 0 12px;
}

.st-sort-ascent:after {
    content: ' \25B2';
    display: inline-block;
}

.st-sort-descent:after {
    content: ' \25BC';
    display: inline-block;
}

.spinner {
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: $primarytext;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.program-pagination {
    padding-left: 60px;
}

.modal-dropdown {
    border: 1px solid #c6c6c6;
    height: 40px;
    background-image: linear-gradient(#fff, #f7f7f7);
    border-radius: 4px;
    padding: 8px;
}

.loadingEditLabel p {
    display: none;
    font-size: 1.5em;
    margin-left: 5px;
}

.modalFormButtons {
    padding-bottom: 15px;
}

.copyEditDeleteOptions {
    display: inline-block;
    border: 1px lightGray solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    text-align: center;
}

.copyEditDeleteOptions :hover {
    color: black;
}

.copyEditDeleteOption {
    cursor: pointer;
    color: darkGray;
}

.programTypeRadio {
    margin-left: 10px;
    padding: 10px;
}

.programTypeRadio input {
    margin-right: 5px;
    margin-left: 10px;
}

h5.canEdit {
    cursor: pointer;
}

.user {
    a {
        color: $darkgray;
        font-weight: bold;

        &:hover {
            color: $blue;
            font-weight: bold;
            text-decoration: none;
        }

        &:active {
            color: $blue;
            font-weight: bold;
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
    }

    .dropdown-menu a {
        font-weight: normal;
    }
}

.listExpander {
    cursor: pointer;
    padding-right: 30px;
    display: none;
}

.listContractor {
    cursor: pointer;
    padding-right: 30px;
}

.childColor2 {
    background-color: none;
}

.childColor3 {
    background-color: none;
}

.draft-program1 {
    display: none;
}

.draft-program4 {
    display: inline;
    color: red;
    font-style: italic;
}

.editingRow {
    background-color: #e5eae9;
}

.editingRow td {
    padding: 10px 0 0 5px !important;
    height: 50px;
}

.editingRow input {
    height: 34px;
}

.calendarButton {
    color: black;
}

.datetimepicker {
    cursor: pointer;
}

.shortRow td {
    height: 20px !important;
    padding-top: 0;
}

.modal-center-small .modal-dialog {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.modal-center-large .modal-dialog {
    width: 80%;
    height: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 125px;
}

div.modal-center-large .modal-content .modal-body {
    max-height: 400px;
}


.fixedHeaderTable {
    table {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    table * {
        box-sizing: inherit;
        -moz-box-sizing: inherit;
    }

    thead {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-shrink: 0;
    }

    tbody {
        overflow-y: scroll;
        display: inline-block;
    }
}

.collaborator {
    border-radius: 3px;
}

.projectListItem {
    vertical-align: middle;
}

#toast-container > div {
    opacity: 1;
}

.select2-container {
    display: block;
}

.select2.search-field {
    position: relative;
}

.select2-search-field:before {
    color: #a0a9ab;
    font-family: "Material Icons";
    content: "\e8b6";
    padding-left: 5px;
}

.moneyFlowEdit {
    width: 100px;
}

.moneyFlowDirection {
    font-weight: normal;
    margin-right: 15px;
    padding: 10px 0 5px 0;
    cursor: pointer;
}

.incomingMoneyFlow {
    color: #00CCFF;
}

.outgoingMoneyFlow {
    color: red;
}

.directionSelected {
    border-bottom: 4px solid black;
    font-weight: bold;
}

.narrow {
    width: 35%;
}

.multiLineInput {
    width: 90%;
    height: 75%;
}

.inlineEditCalendar {
    width: 25px;
    padding: 5px 5px 5px 5px;
    height: 25px;
}

.inlineEditControls button {
    font-size: 10px;
    width: 60px;
    height: 34px;
    padding: 0;
}


.currency {
    padding-left: 15px;
}

.currency-symbol {
    position: absolute;
    padding: 5px 5px;
}

.pagination > li > a, .pagination > li > span {
    border: none;
    background-color: transparent;
    color: $primarytext;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: $blue;
    background-color: transparent;
    border-top: 2px solid $blue;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: $primarytext;
    background-color: transparent;
    border: none;
}

.list2 .row .pagination a:hover {
    color: $primarytext;
    background-color: transparent;
    text-decoration: none;
}

.editButtons {
    width: 10%;
}

.verticalTop {
    vertical-align: top;
}

.modalLabel {
    padding-left: 0;
}

.modalTable {
    margin-bottom: 20px;
}

.modalTable tr {
    border: none;
}

.expandChevron {
    position: absolute;
    right: 70px;
    cursor: pointer;
    margin-top: -15px;
}

tr#participantInfo {
    .row {
        padding-left: 0;
        padding-right: 0;
    }

    .row:first-child {
        border: none;
    }
}

label.radio-inline {
    font-size: 12pt;
    text-transform: none;
}

.radio-inline input[type=radio] {
    margin-top: 0;
}

.expandedDescription {
    background-color: #DEDEDC;
}

.narrowPadding {
    padding: 20px 0 20px 60px !important;
}

.dropDownButtons {
    width: 150px;
    background-color: darkgrey;
    display: block;
    padding: 2px 20px;
}


/* tooltip styling */
div.tip:hover {
    position: relative;
}

div.tip span {
    display: none;
}

div.tip:hover span {
    border: #c0c0c0 1px dotted;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    display: block;
    z-index: 100;
    background-color: black;
    color: white;
    left: -5px;
    margin: 5px;
    width: 55px;
    position: absolute;
    top: 50px;
    text-decoration: none;
}

.bookmark {
    width: 330px;
    padding-bottom: 30px;
}

.bookmark-header {
    padding-top: 15px;
    color: #fff;
    text-transform: uppercase;

    a {
        color: #fff;
        opacity: 0.5;
    }

    a:hover {
        opacity: 1;
    }
}

.bookmark-content {
    padding-top: 15px;
    border-left: solid 3px #efefef;
    border-right: solid 3px #efefef;
    border-bottom: solid 3px #efefef;
    font-weight: 500;
    color: #a0a9ab;
}

.bookmark-name {
    font-weight: 500;
    padding-bottom: 15px;

    a {
        color: #415358;
    }

    a:hover {
        color: #297cb4;
    }
}

.bookmark-title {
    text-transform: uppercase;
}

.bookmark-name {
    height: 107px;
}

/* used to indent expandable directives */
.expandIndent {
    padding-left: 10px;
}

.has-feedback label ~ .form-control-feedback {
   top: 32px;  
   right: 6px;
}
