<div class="input-group">
    <div class="row">
        <ul ng-repeat="displayValue in displayValues">
            <li>
                {{displayValue}}
            </li>
        </ul>
    </div>
    <div class="input-group-btn">
        <span dropdown on-toggle="toggled(open)">
            <a href id="simple-dropdown" dropdown-toggle>
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <ul class="dropdown-menu" style="width: 200px;" aria-labelledby="simple-dropdown">
                <li>
                    <div class="row">
                        <label class="title-label col-sm-2" style="margin-top:8px;"><</label>
                        <div class="col-sm-10">
                            <input id="LessThan"
                                   type="text"
                                   class="form-control"
                                   ng-model="lessThanFilter.value"
                                   ng-click="stopEvents($event)"
                                   placeholder="Less Than">
                        </div>
                    </div>
                    <div class="row">
                        <label class="title-label col-sm-2" style="margin-top:8px;">></label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="GreaterThan"
                                   class="form-control"
                                   ng-model="greaterThanFilter.value"
                                   ng-click="stopEvents($event)"
                                   placeholder="Greater Than">
                        </div>
                    </div>
                    <div class="row">
                        <label class="title-label col-sm-2" style="margin-top:8px;">=</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="Equal"
                                   class="form-control"
                                   ng-model="equalFilter.value"
                                   ng-click="stopEvents($event)"
                                   placeholder="Equal To">
                        </div>
                    </div>
                </li>
            </ul>
        </span>
    </div>
</div>