<div class="modal-header">
    <h3 class="modal-title">Create Funding item</h3>
</div>

<div class="modal-body" in-context-form>
    <form name="view.newMoneyFlow">
        <div class="form-group" id="transactionType">
            <span class="moneyFlowDirection" ng-class="{directionSelected: !view.moneyFlow.isOutgoing}" ng-click="view.toggleIncomingOutgoing(view.incomingDirectionKey)">Incoming</span>
            <span class="moneyFlowDirection" ng-class="{directionSelected: view.moneyFlow.isOutgoing}" ng-click="view.toggleIncomingOutgoing(view.outgoingDirectionKey)">Outgoing</span>
        </div>
        <div class="form-group narrow">
            <label>Transaction Date<span class="asterisk"> *</span></label>

            <p class="input-group">
                <input name="start" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="draftMoneyFlow.transactionDate"
                       is-open="transactionCalendarOpened" close-text="Close" placeholder="Enter transaction date..." required />
                <span class="input-group-btn" style="width:0;">
                    <button type="button" class="btn btn-default" ng-click="transactionCalendarOpen($event)"><i class="material-icons md-18">event</i></button>
                </span>
            </p>
            <div ng-show="modalForm.moneyFlowForm.transactionDate.$dirty">
                <div class="error" ng-show="modalForm.moneyFlowForm.transactionDate.$error.required">Please enter a transaction date.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Status<span class="asterisk"> *</span></label>
            <div>
                <select class="form-control"
                        id="moneyFlowStatus"
                        name="moneyFlowStatusId"
                        ng-options="t.id as t.name for t in view.moneyFlowStatii"
                        ng-model="moneyFlow.moneyFlowStatusId"
                        required />
            </div>
            <div ng-show="form.moneyFlowForm.moneyFlowStatusId.$dirty || form.addressForm.moneyFlowStatusId.$error.required">
                <div class="error" ng-show="form.moneyFlowForm.moneyFlowStatusId.$error.required">Please select a funding status.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Fiscal Year<span class="asterisk"> *</span></label>
            <input name="fiscalYeak"
                   ng-model="moneyFlow.fiscalYear"
                   type="number"
                   placeholder="Enter the fiscal year..."
                   class="form-control"
                   required />
        </div>
        <div class="form-group">
            <label>Amount<span class="asterisk"> *</span></label>
            <input name="amount"
                   max="{{view.maxAmount}}"
                   ng-model="moneyFlow.amount"
                   form-element guidance="This is the amount."
                   type="number"
                   class="form-control"
                   placeholder="Enter amount."
                   id="fiscalYear"
                   required />
        </div>
        <div class="form-group">
            <label>Source Type<span class="asterisk"> *</span></label>
            <div>
                <select class="form-control"
                        id="moneyFlowSourceRecipient"
                        name="moneyFlowSourceRecipientTypeId"
                        ng-options="t.id as t.name for t in view.moneyFlowSourceRecipientTypes"
                        ng-model="moneyFlow.recipientTypeId"
                        required />
            </div>
            <!--<div ng-show="form.moneyFlowForm.moneyFlowStatusId.$dirty || form.addressForm.moneyFlowStatusId.$error.required">
                <div class="error" ng-show="form.moneyFlowForm.moneyFlowStatusId.$error.required">Please select a funding status.</div>
            </div>-->
        </div>
        <div class="form-group">
            <label>Source<span class="asterisk"> *</span></label>
            <div>
                <input type="search"
                       id="source"
                       name="source"
                       class="search-contextual"
                       maxlength="100"
                       typeahead-append-to-body="false"
                       placeholder="Select source..."
                       ng-model="view.moneyFlow.recipientEntityId"
                       typeahead-wait-ms="400"
                       typeahead-loading="view.isLoadingSources"
                       typeahead="source as source.name for source in view.getSources($viewValue) | filter : $viewValue | limitTo : view.searchLimit"
                       typeahead-on-select="view.onSelectSource($item, $model, $label)"
                       typeahead-template-url="selectSourceTemplate.html"
                       typeahead-editable="false"
                       required>
                </input>
                <i class="material-icons md-18 contextual" ng-show="!view.isLoadingSources">search</i>
                <i class="material-icons md-18 material-icons-spin contextual-busy" ng-show="view.isLoadingSources">autorenew</i>
            </div>
        </div>

        <div class="form-group">
            <label>Description<span class="asterisk"> *</span></label>
            <div>
                <textarea name="description"
                          maxlength="{{view.maxDescriptionLength}}"
                          class="largerArea"
                          ng-model="moneyFlow.description"
                          form-element guidance="This is the description of the funding."
                          id="description"
                          required
                          placeholder="Enter description..." />
                <p class="subheader" style="margin-top:5px;">{{moneyFlow.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>
            </div>
        </div>

        <!--<div class="form-group">
            <label>Fiscal Year<span class="asterisk"> *</span></label>
            <input name="program" ng-model="parameters.program" type="text" placeholder="Enter Program name..."
                   typeahead="p as p.name for p in getPrograms($viewValue)" typeahead-loading="loadingPrograms" typeahead-on-select="model=$item.id"
                   typeahead-editable="false" class="form-control" required />
            <i class="material-icons md-18 material-icons-spin" ng-show="loadingPrograms">autorenew</i>
        </div>-->

        <div class="spinner" ng-show="isRunning">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-disabled="!parameters.program || isRunning" class="btn btn-primary" ng-click="view.save()">Run</button>
    <button class="btn btn-warning" ng-click="view.cancel()">Cancel</button>
</div>


<script type="text/ng-template" id="selectSourceTemplate.html">
    <a>
        <div ng-show="match.model.name">
            <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
        </div>
    </a>
</script>