<div ng-controller="MoneyFlowsCtrl">
    <h4 class="tab-subheader">
        Funding List
        <button class="btn btn-primary right" ng-show="!view.isLoadingRequiredData && !view.isLoadingMoneyFlows" ng-click="view.onAddFundingItemClick()">ADD FUNDING ITEM</button>
    </h4>
    <p class="subheader listCount">Showing {{view.start}} - {{view.end}} of {{view.total}} funding items.</p>
    <div st-pipe="view.getMoneyFlows" st-table="view.moneyFlows" exposetablestate="getMoneyFlowsTableState" id="sort-list">
        <table class="col-md-12">
            <thead>
                <tr class="row">
                    <th st-sort="'transactionDate'" st-sort-default="reverse" class="col-md-1 sort-label medium">Transaction Date</th>
                    <th st-sort="'moneyFlowStatus'" class="col-md-1 sort-label medium">Status</th>
                    <th st-sort="'sourceRecipientTypeName'" class="col-md-1 sort-label medium">Type</th>
                    <th st-sort="'sourceRecipientName'" class="col-md-2 sort-label medium">From/To</th>
                    <th st-sort="'amount'" class="col-md-1 sort-label medium">Amount</th>
                    <th st-sort="'fiscalYear'" class="col-md-1 sort-label medium">FY</th>
                    <th st-sort="'description'" class="col-md-2 sort-label medium">Description</th>
                    <th class="col-md-2">&nbsp;</th>
                </tr>
                <tr class="row">
                    <th>&nbsp;</th>
                    <th>
                        <ui-select multiple
                                   ui-select-st-search
                                   ui-select-st-search-model-id="id"
                                   ui-select-st-search-property="moneyFlowStatusId"
                                   ui-select-st-search-comparison-type="in"
                                   close-on-select="false"
                                   ng-model="view.selectedFilterMoneyFlowStatii"
                                   theme="select2"
                                   append-to-body="true"
                                   title="Choose money flow statii to filter."
                                   style="min-width: 150px;">
                            <ui-select-match placeholder="Filter statuses...">
                                <div>{{$item.name}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="status in view.moneyFlowStatii | filter: select.search track by status.id">
                                <div ng-bind-html="status.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </th>
                    <th>
                        <ui-select multiple
                                   ui-select-st-search
                                   ui-select-st-search-model-id="id"
                                   ui-select-st-search-property="sourceRecipientEntityTypeId"
                                   ui-select-st-search-comparison-type="in"
                                   close-on-select="false"
                                   ng-model="view.selectedFilterSourceRecipientTypes"
                                   theme="select2"
                                   append-to-body="true"
                                   style="min-width: 130px;">
                            <ui-select-match placeholder="Filter types...">
                                <div>{{$item.name}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="t in view.moneyFlowSourceRecipientTypes | filter: select.search track by t.id">
                                <div ng-bind-html="t.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </th>
                    <th>
                        <input st-search="'sourceRecipientName'" placeholder="" type="search" class="form-control" />
                    </th>
                    <th>
                        <!--<input st-search="'amount'" placeholder="" type="search" class="form-control" />-->
                        &nbsp;
                    </th>
                    <th>
                        <!--<input st-search="'fiscalYear'" placeholder="" type="search" class="form-control" />-->
                        <!--<div equality-filter st-search-property="'fiscalYear'" placeholder-text="'My placeholder'" />-->
                        &nbsp;
                    </th>
                    <th>
                        <input st-search="'description'" maxlength="100" placeholder="" type="search" class="form-control" />
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody class="list2" ng-repeat="moneyFlow in view.moneyFlows" ng-show="!view.isLoadingRequiredData && !view.isLoadingMoneyFlows">
                <tr class="row" ng-show="!moneyFlow.isDeleting">
                    <td class="col-md-1">
                        <span style="text-align: left">{{moneyFlow.transactionDate | date:'MM/dd/yyyy'}}</span>
                    </td>
                    <td>
                        {{moneyFlow.moneyFlowStatus}}
                    </td>
                    <td>{{moneyFlow.sourceRecipientTypeName}}</td>
                    <td>{{moneyFlow.sourceRecipientName}}</td>
                    <td>
                        <span class="{{moneyFlow.amount < 0 ? 'text-danger' : ''}}">{{moneyFlow.amount < 0 ? '-' : '+'}}{{moneyFlow.amount | currency}}</span>
                    </td>
                    <td style="text-align: center">
                        {{moneyFlow.fiscalYear}}
                    </td>
                    <td>
                        <div>
                            {{moneyFlow.description | limitTo: 20}}<span ng-show="moneyFlow.description.length > 20">....</span>
                            <a ng-click="view.onToggleExpandClick(moneyFlow)" class="pull-right" ng-show="moneyFlow.description.length > 20">
                                <i class="material-icons md-dark md-24 pull-right" ng-show="moneyFlow.showDescription">expand_more</i>
                                <i class="material-icons md-dark md-24 pull-right" ng-show="!moneyFlow.showDescription">expand_less</i>
                            </a>

                        </div>
                    </td>
                    <td ng-show="!view.moneyFlowsLoading && !moneyFlow.currentlyEditing">
                        <div class="right" style="display:none;" showonparentrow>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy" ng-click="view.onCopyClick(moneyFlow)">
                                <i class="md md-content-copy md-2x copyEditDeleteOption"></i>
                            </div>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit" ng-click="view.onEditClick(moneyFlow)">
                                <i class="md md-mode-edit md-2x copyEditDeleteOption"></i>
                            </div>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete" ng-click="view.onDeleteClick(moneyFlow)">
                                <i class="md md-delete md-2x copyEditDeleteOption"></i>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr ng-show="moneyFlow.isDeleting">
                    <td colspan="9">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
                <tr class="expandedDescription" ng-show="moneyFlow.showDescription">
                    <td colspan="9" style="padding-top:5px; padding-bottom:5px;">
                        <div>
                            Description: {{moneyFlow.description}}
                        </div>
                    </td>
                </tr>
                <tr class="expandedDescription" ng-show="moneyFlow.currentlyEditing">
                    <td colspan="9" ng-show="moneyFlow.isSavingUpdate">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                    <td colspan="9" ng-show="!moneyFlow.isSavingUpdate">
                        <div in-context-form id="{{view.getMoneyFlowDivId(moneyFlow)}}">
                            <form name="form.moneyFlowForm">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="title-label col-md-4" for="moneyFlowStatus">Transaction Date<span class="asterisk"> *</span></label>
                                            <div class="col-md-8">
                                                <p class="input-group">
                                                    <input name="transactionDate"
                                                           id="transactionDate{{moneyFlow.id}}"
                                                           type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd-MMM-yyyy"
                                                           ng-model="moneyFlow.transactionDate"
                                                           is-open="moneyFlow.isTransactionDatePickerOpen"
                                                           close-text="Close"
                                                           show-weeks="false"
                                                           form-element guidance="The transaction date."
                                                           ng-required="true" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="view.openTransactionDatePicker($event, moneyFlow, form.moneyFlowForm)">
                                                            <i class="material-icons md-18">event</i>
                                                        </button>
                                                    </span>
                                                </p>
                                                <div ng-show="form.moneyFlowForm.transactionDate.$dirty || form.moneyFlowForm.transactionDate.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.transactionDate.$error.required">Please select a transaction date.</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="title-label col-md-4" for="amount">Amount<span class="asterisk"> *</span></label>
                                            <div class="col-md-8">
                                                <input name="amount"
                                                       ng-model="moneyFlow.editableAmount"
                                                       form-element guidance="This is the amount."
                                                       max="{{view.maxAmount}}"
                                                       type="number"
                                                       class="form-control"
                                                       placeholder="Enter amount."
                                                       id="amount{{moneyFlow.id}}"
                                                       required />
                                                <div ng-show="form.moneyFlowForm.amount.$dirty || form.moneyFlowForm.amount.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.amount.$error.required">Please enter a transaction amount.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="title-label col-md-4" for="moneyFlowStatus">Status<span class="asterisk"> *</span></label>
                                            <div class="col-md-8">
                                                <select class="form-control"
                                                        id="moneyFlowStatus{{moneyFlow.id}}"
                                                        name="moneyFlowStatusId"
                                                        ng-options="t.id as t.name for t in view.moneyFlowStatii"
                                                        ng-model="moneyFlow.moneyFlowStatusId"
                                                        required />
                                                <div ng-show="form.moneyFlowForm.moneyFlowStatusId.$dirty || form.addressForm.moneyFlowStatusId.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.moneyFlowStatusId.$error.required">Please select a funding status.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="title-label col-md-4" for="fiscalYear">Fiscal Year<span class="asterisk"> *</span></label>
                                            <div class="col-md-8">
                                                <input name="fiscalYear"
                                                       max="{{view.maxAmount}}"
                                                       ng-model="moneyFlow.fiscalYear"
                                                       form-element guidance="This is the fiscal year."
                                                       type="number"
                                                       class="form-control"
                                                       placeholder="Enter fiscal year."
                                                       id="fiscalYear{{moneyFlow.id}}"
                                                       required />
                                                <div ng-show="form.moneyFlowForm.fiscalYear.$dirty || form.moneyFlowForm.fiscalYear.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.fiscalYear.$error.required">Please enter a fiscal year.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="title-label col-md-2" for="description">Description<span class="asterisk"> *</span></label>
                                            <div class="col-md-10">
                                                <textarea name="description"
                                                          maxlength="{{view.maxDescriptionLength}}"
                                                          class="largerArea"
                                                          ng-model="moneyFlow.description"
                                                          form-element guidance="This is the description of the funding."
                                                          id="description{{moneyFlow.id}}"
                                                          required
                                                          placeholder="Enter description..." />
                                                <div ng-show="form.moneyFlowForm.description.$dirty || form.moneyFlowForm.description.$error.required">
                                                    <div class="error" ng-show="form.moneyFlowForm.description.$error.required">Please enter a description.</div>
                                                </div>
                                                <p class="subheader" style="margin-top:5px;">{{moneyFlow.description.length}} of {{view.maxDescriptionLength}} characters remaining.</p>                                                
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button ng-click="view.saveMoneyFlowChanges(moneyFlow)" class="btn btn-success" ng-disabled="form.moneyFlowForm.$invalid">Save</button>
                                            <button ng-click="view.cancelMoneyFlowChanges(moneyFlow)" class="btn btn-cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="view.isLoadingRequiredData || view.isLoadingMoneyFlows" id="spinner">
                <tr>
                    <td colspan="9">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="view.limit" st-displayed-pages="10" ng-show="!view.isLoadingMoneyFlows"></div>
    </div>
</div>