<div ng-controller="SocialMediasCtrl">
    <div>
        <a ng-click="view.collapseSocialMedias = !view.collapseSocialMedias">
            <i class="material-icons md-dark md-24 pull-right" ng-show="view.collapseSocialMedias">expand_more</i>
            <i class="material-icons md-dark md-24 pull-right" ng-show="!view.collapseSocialMedias">expand_less</i>
        </a>
        <a ng-click="view.onAddSocialMediaClick(modelType, socialable.socialMedias, modelId)">
            <i class="material-icons md-24 md-dark pull-right">add</i>
        </a>
        <div class="pull-right" style="margin-top: 3px;">({{socialable.socialMedias.length}})</div>
    </div>
    <div class="col-md-12" collapse="view.collapseSocialMedias">
        <div ng-repeat="socialMedia in socialable.socialMedias">
            <div ng-controller="SocialMediaCtrl">
                <div class="spinner" ng-show="view.isSavingChanges || view.isLoadingRequiredData">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="row" ng-show="!view.isSavingChanges && !view.isLoadingRequiredData">
                    <div ng-show="!view.showEditSocialMedia">
                        <socialmedialink model="socialMedia"/>
                        <div class="pull-right" ng-show="!view.showEditSocialMedia">
                            {{socialMedia.socialMediaType}}
                            <a ng-show="!view.showEditSocialMedia && !view.isDeletingSocialMedia" ng-click="view.showConfirmDelete = true">
                                <i class="material-icons md-dark">delete</i>
                            </a>
                            <a ng-show="view.isDeletingSocialMedia">
                                <i class="material-icons md-dark material-icons-spin">refresh</i>
                            </a>
                            <a ng-show="!view.showEditSocialMedia" ng-click="view.onEditSocialMediaClick()">
                                <i class="material-icons md-dark">edit</i>
                            </a>
                        </div>
                    </div>
                    <div ng-show="view.showConfirmDelete" class="text-center">
                        Are you sure you want to delete this social media?
                    </div>
                    <div ng-show="view.showConfirmDelete" style="margin-top:10px;" class="text-center">
                        <button ng-click="view.onDeleteSocialMediaClick()" class="btn btn-danger">Delete</button>
                        <button ng-click="view.showConfirmDelete = !view.showConfirmDelete" class="btn btn-cancel">Cancel</button>
                    </div>
                    <div in-context-form ng-show="view.showEditSocialMedia">
                        <form name="form.socialMediaForm" class="row form-horizontal">
                            <div class="form-group">
                                <label class="title-label col-md-3" for="type">Type<span class="asterisk"> *</span></label>
                                <div class="col-md-9">
                                    <select class="form-control"
                                            id="type"
                                            name="socialMediaTypeId"
                                            ng-change="view.onSocialMediaTypeChange()"
                                            ng-options="t.id as t.name for t in view.socialMediaTypes"
                                            ng-model="socialMedia.socialMediaTypeId"
                                            required />
                                </div>
                                <div ng-show="form.socialMediaForm.socialMediaTypeId.$dirty || form.socialMediaTypeId.socialMediaTypeId.$error.required">
                                    <div class="error" ng-show="form.socialMediaForm.socialMediaTypeId.$error.required">Please select a social media type.</div>
                                </div>
                            </div>
                            <div class="form-group" id="socialMediaForm{{socialMedia.id}}">
                                <label class="title-label col-md-3" for="socialMediaValue">Url<span class="asterisk"> *</span></label>
                                <div class="col-md-9">
                                    <input name="socialMediaValue"
                                           maxlength="100"
                                           ng-model="socialMedia.value"
                                           form-element
                                           guidance="This is the value or url of the social media."
                                           type="text"
                                           class="form-control"
                                           placeholder="Enter social media value or url."
                                           id="socialMediaValue"
                                           required />
                                </div>
                                <div ng-show="form.socialMediaForm.socialMediaValue.$dirty || form.socialMediaForm.socialMediaValue.$error.required">
                                    <div class="error" ng-show="form.socialMediaForm.socialMediaValue.$error.required">Please enter a social media value.</div>
                                </div>
                            </div>

                        </form>
                        <div class="row right" ng-show="view.showEditSocialMedia">
                            <button ng-click="view.saveSocialMediaChanges()" class="btn btn-success" ng-disabled="form.socialMediaForm.$invalid">Save</button>
                            <button ng-click="view.cancelSocialMediaChanges()" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>