<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ECA.WebApp.AngularJS' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c99f6659-bf36-4f1f-92b4-8a6159feb13e</InstrumentationKey>
</ApplicationInsights>