<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
     
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="bower_components/select2/select2.css">
    <link rel="stylesheet" href="bower_components/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.min.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "c99f6659-bf36-4f1f-92b4-8a6159feb13e"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body ng-app="staticApp" class="cbp-spmenu-push">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Add your site or application content here -->
    <toaster-container style="margin-top:53px;" toaster-options="{'position-class': 'toast-top-full-width', 'time-out': 5000}"></toaster-container>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <a ng-repeat="state in rootStates" ng-click="closeMenu()" ui-sref="{{state.state}}">{{state.name}}</a>
        <a class="foot" ui-sref="settings"><img class="icon" src="images/settings.png" height="14" width="14" alt="">Settings</a>
    </nav>
    <nav style="overflow-y: scroll" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <img src="images/placeholders/sidebar.png" height="1110" width="266" alt="">
    </nav>
    <modal-dialog class="search-modal" show="spotlightModal" dialog-title="" on-close="modalClear()" main-model="newParticipant">
        <searchbar ng-model="text" show="show"></searchbar>
    </modal-dialog>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row navbar-header">
                <button ng-click="pushMenu($event)" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="margin-right: 50px; margin-top:14px;" class="navbar-right right">
                    <i class="material-icons md-18 col-sd-1" ng-click="spotlightModal=!spotlightModal">search</i>
                </div>
                <div ng-show="userInfo.isAuthenticated">
                    <span style="margin-right:25px;margin-top:14px;"
                          class="dropdown pull-right user"
                          dropdown on-toggle="currentUser.userMenuToggled(open)"
                          data-ng-model="userInfo">
                        <div class="pull-left">
                            <i class="material-icons md-18" style="margin-right:10px;">account_circle</i>
                        </div>
                        <a href class="dropdown-toggle" dropdown-toggle ng-bind-template="{{userInfo.profile.given_name}} {{userInfo.profile.family_name}}">
                        </a>
                        <ul class="dropdown-menu user">
                            <li><a href="#" ng-click="currentUser.logout()">Logout</a></li>
                        </ul>
                    </span>
                </div>
                <div ng-show="currentUser.isBusy" class=" pull-right" style="margin-top:14px;">
                    <i class="material-icons md-18 material-icons-spin">autorenew</i>
                </div>
            </div>
        </div>
    </div>
    <div ui-view id="top" autoscroll="true"></div>
    <div class="footer">
        <div class="top">
            <p>
                <a href="">About ECA KMT</a>   |
                <a href="">Get Started</a>   |
                <a href="">Send Feedback</a>   |
                <a href="">FAQs</a>   |
                <a href="">Contact</a>   |
                <a href="">Terms & Conditions</a>   |
                <a href="">Accessibility</a>   |
                <a href="">Copyright</a>
            </p>
        </div>
        <div class="bottom">
            <img class="flag" src="images/flag.png" height="35" width="66" alt="">
            <img class="seal" src="images/state-logo-seal.png" height="60" width="60" alt="">
            <div class="text-stack">
                <h5>Bureau of Educational and Cultural Affairs</h5>
                <p>Promoting Mutual Understanding</p>
            </div>
        </div>
    </div>    
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-validate/dist/validate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/datamaps/dist/datamaps.all.js"></script>
    <script src="bower_components/matchmedia/matchMedia.js"></script>
    <script src="bower_components/ngSticky/lib/sticky.js"></script>
    <script src="bower_components/adal-angular/dist/adal.min.js"></script>
    <script src="bower_components/adal-angular/dist/adal-angular.min.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/file-saver-saveas-js/FileSaver.js"></script>
    <script src="bower_components/ngSmoothScroll/angular-smooth-scroll.min.js"></script>
    <script src="bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
    <script src="bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
    <script src="bower_components/international-phone-number/releases/international-phone-number.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/confirm.js"></script>
    <script src="scripts/controllers/allprograms.js"></script>
    <script src="scripts/controllers/office.js"></script>
    <script src="scripts/controllers/socialmedia/socialmedia.js"></script>
    <script src="scripts/controllers/socialmedia/socialmedias.js"></script>
    <script src="scripts/controllers/organization/organization.js"></script>
    <script src="scripts/controllers/organization/overview.js"></script>
    <script src="scripts/controllers/organization/editdetails.js"></script>
    <script src="scripts/controllers/organization/activities.js"></script>
    <script src="scripts/controllers/organization/artifacts.js"></script>
    <script src="scripts/controllers/organization/impact.js"></script>
    <script src="scripts/controllers/address/address.js"></script>
    <script src="scripts/controllers/address/addresses.js"></script>
    <script src="scripts/controllers/moneyflows.js"></script>
    <script src="scripts/controllers/moneyflow.js"></script>
    <script src="scripts/controllers/project.js"></script>
    <script src="scripts/controllers/project/overview.js"></script>
    <script src="scripts/controllers/project/addprojectmodal.js"></script>
    <script src="scripts/controllers/project/projectparticipant.js"></script>
    <script src="scripts/controllers/project/selectparticipanttype.js"></script>
    <script src="scripts/controllers/project/unsavedchanges.js"></script>
    <script src="scripts/controllers/project/addnewparticipant.js"></script>
    <script src="scripts/controllers/project/edit.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/toolbaricons.js"></script>
    <script src="scripts/controllers/collaborators.js"></script>
    <script src="scripts/controllers/locations/searchlocations.js"></script>
    <script src="scripts/controllers/locations/addlocation.js"></script>
    <script src="scripts/controllers/locations/marker.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/services/addressservice.js"></script>
    <script src="scripts/services/socialmediaservice.js"></script>
    <script src="scripts/services/filterservice.js"></script>
    <script src="scripts/services/messagebox.js"></script>
    <script src="scripts/controllers/securetest.js"></script>
    <script src="scripts/controllers/logout.js"></script>
    <script src="scripts/services/schema.js"></script>
    <script src="scripts/directives/incontextform.js"></script>
    <script src="scripts/directives/uiselectstsearch.js"></script>
    <script src="scripts/directives/exposetablestate.js"></script>
    <script src="scripts/directives/datepickerpopup.js"></script>
    <script src="scripts/directives/guidance.js"></script>
    <script src="scripts/directives/socialmedialink.js"></script>
    <script src="scripts/directives/addresses.js"></script>
    <script src="scripts/directives/socialmedias.js"></script>
    <script src="scripts/directives/equalityfilter.js"></script>
    <script src="scripts/directives/moneyflows.js"></script>
    <script src="scripts/controllers/formvalidation.js"></script>
    <script src="scripts/controllers/reports/custom.js"></script>
    <script src="scripts/controllers/reports/archive.js"></script>
    <script src="scripts/controllers/report.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/people.js"></script>
    <script src="scripts/controllers/person/timeline.js"></script>
    <script src="scripts/controllers/program.js"></script>
    <script src="scripts/controllers/program/subprogramsandprojects.js"></script>
    <script src="scripts/controllers/program/edit.js"></script>
    <script src="scripts/controllers/program/overview.js"></script>
    <script src="scripts/services/dragonbreath.js"></script>
    <script src="scripts/modules/modal.js"></script>
    <script src="scripts/directives/form-element.js"></script>
    <script src="scripts/directives/tabbar.js"></script>
    <script src="scripts/filters/tabfilter.js"></script>
    <script src="scripts/filters/highlight.js"></script>
    <script src="scripts/filters/groupby.js"></script>
    <script src="scripts/filters/propFilter.js"></script>
    <script src="scripts/directives/map.js"></script>
    <script src="scripts/services/project.js"></script>
    <script src="scripts/services/userservice.js"></script>
    <script src="scripts/services/program.js"></script>
    <script src="scripts/controllers/alloffices.js"></script>
    <script src="scripts/controllers/office/overview.js"></script>
    <script src="scripts/controllers/office/branchesandprograms.js"></script>
    <script src="scripts/controllers/program/addprogrammodal.js"></script>
    <script src="scripts/controllers/allpeople.js"></script>
    <script src="scripts/controllers/allorganizations.js"></script>
    <script src="scripts/services/participant.js"></script>
    <script src="scripts/services/participantperson.js"></script>
    <script src="scripts/services/person.js"></script>
    <script src="scripts/services/organization.js"></script>
    <script src="scripts/services/solr.js"></script>
    <script src="scripts/directives/searchbar.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/directives/staticswitcher.js"></script>
    <script src="scripts/controllers/report.js"></script>
    <script src="scripts/services/locationservice.js"></script>
    <script src="scripts/services/downloadservice.js"></script>
    <script src="scripts/services/constantsservice.js"></script>
    <script src="scripts/services/stateservice.js"></script>
    <script src="scripts/services/logouteventservice.js"></script>
    <script src="scripts/services/moneyflow.js"></script>
    <script src="scripts/services/tableservice.js"></script>
    <script src="scripts/services/lookupservice.js"></script>
    <script src="scripts/services/notificationservice.js"></script>
    <script src="scripts/services/registerusereventservice.js"></script>
    <script src="scripts/services/office.js"></script>
    <script src="scripts/services/errorinterceptor.js"></script>
    <script src="scripts/services/bookmark.js"></script>
    <script src="scripts/controllers/reports/archive.js"></script>
    <script src="scripts/services/reportservice.js"></script>
    <script src="scripts/controllers/reports/ProjectAwards.js"></script>
    <script src="scripts/controllers/reports/RegionAwards.js"></script>
    <script src="scripts/controllers/reports/PostAwards.js"></script>
    <script src="scripts/controllers/reports/FocusAwards.js"></script>
    <script src="scripts/controllers/reports/FocusCategoryAwards.js"></script>
    <script src="scripts/controllers/reports/CountryAwards.js"></script>
    <script src="scripts/controllers/reports/ObjectiveAwards.js"></script>
    <script src="scripts/controllers/reports/YearAwards.js"></script>
    <script src="scripts/controllers/person/personGeneral.js"></script>
    <script src="scripts/controllers/person/personEduEmp.js"></script>
    <script src="scripts/controllers/person/personEduEmpEdit.js"></script>
    <script src="scripts/controllers/person/personEvaluationNotes.js"></script>
    <script src="scripts/controllers/person/personGeneralEdit.js"></script>
    <script src="scripts/controllers/membership/membership.js"></script>
    <script src="scripts/controllers/membership/memberships.js"></script>
    <script src="scripts/directives/memberships.js"></script>
    <script src="scripts/services/membership.js"></script>
    <script src="scripts/controllers/languageProficiencies/languageProficiency.js"></script>
    <script src="scripts/controllers/languageProficiencies/languageProficiencies.js"></script>
    <script src="scripts/directives/languageProficiencies.js"></script>
    <script src="scripts/services/languageProficiency.js"></script>
    <script src="scripts/services/emailaddressservice.js"></script>
    <script src="scripts/directives/emailAddresses.js"></script>
    <script src="scripts/controllers/emailAddresses/emailaddress.js"></script>
    <script src="scripts/controllers/emailAddresses/emailaddresses.js"></script>
    <script src="scripts/controllers/person/personContact.js"></script>
    <script src="scripts/controllers/person/personContactEdit.js"></script>
    <script src="scripts/controllers/phoneNumbers/phonenumber.js"></script>
    <script src="scripts/controllers/phoneNumbers/phonenumbers.js"></script>
    <script src="scripts/directives/phoneNumbers.js"></script>
    <script src="scripts/services/phonenumberservice.js"></script>

    <!-- endbuild -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
</body>
</html>
