<div class="modal-header">
    <div class="form-group">
        <input type="search"
               id="spotlightSearchTextField"
               ng-disabled="isLoadingRequiredData"
               ng-model="text"
               placeholder="Spotlight search"
               class="input-lg form-control col-md-12"
               style="font-weight: 500"
               ng-change="search()"
               ng-model-options="{debounce: 500}"
               submit-required="true" />
        <i class="material-icons md-18 contextual" style="top:12px" ng-show="!isLoadingResults">search</i>
        <i class="material-icons md-18 contextual material-icons-spin contextual-busy" style="top:12px;left:0px;" ng-show="isLoadingResults">autorenew</i>
    </div>
</div>
<div class="modal-body">
    <div class="col-md-8" ng-show="!isLoadingResults">
        <div class="subheader listCount">
            <p ng-show="totalResults > 0 && !isLoadingResults">Showing {{currentParams.Start + 1}} - {{currentParams.Start + count}} of {{totalResults}} results.</p>
            <p ng-show="totalResults === 0 && !isLoadingResults">Found {{totalResults}} results.</p>
        </div>
        <div ng-show="topHit">
            <div class="col-md-3 text-right" style="padding:10px;">
                <span><strong>TOP HIT</strong></span>
            </div>
            <div class="col-md-9 search-results" style="padding:10px;">
                <div class="row" ng-class="topHit.document.id === docinfo.id ? 'resultrow-selected' : 'resultrow'">
                    <div class="col-md-1">
                        <div class="search circle {{topHit.document.plaintTextDocumentTypeName | lowercase}}">
                            {{topHit.document.documentTypeNameAbbreviation | uppercase}}
                        </div>
                    </div>
                    <div class="col-md-11">
                        <a ng-click="getDocumentInfo(topHit)" ng-bind-html="topHit.document.name"></a>
                        <div class="mute" ng-bind-html="topHit.document.officeSymbol"></div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-repeat="result in results">
            <div class="col-md-3 text-right" style="padding:10px;">
                <span ng-show="$index === 0 || results[$index-1].document.plaintTextDocumentTypeName !== results[$index].document.plaintTextDocumentTypeName">
                    <strong>{{results[$index].document.plaintTextDocumentTypeName | uppercase}}</strong>
                </span>
            </div>
            <div class="col-md-9 search-results" style="padding:10px;">
                <div class="row" ng-class="result.document.id === docinfo.id ? 'resultrow-selected' : 'resultrow'">
                    <div class="col-md-1">
                        <div class="search circle {{result.document.plaintTextDocumentTypeName | lowercase}}">
                            {{result.document.documentTypeNameAbbreviation | uppercase}}
                        </div>
                    </div>
                    <div class="col-md-11">
                        <a ng-click="getDocumentInfo(result)" ng-bind-html="result.document.name"></a>
                        <div class="mute" ng-bind-html="result.document.officeSymbol"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="!isLoadingResults">
        <ng-include src="'/app/search/search-info.html'"></ng-include>
    </div>
</div>
<div class="modal-footer">
    <nav>
        <div class="row">
            <div class="col-md-10 text-center">
                <ul class="search pagination">
                    <li ng-show="currentPage > 0"><a ng-click="selectPage(0)"><i class="material-icons">arrow_back</i> First</a></li>
                    <li ng-show="currentPage > numberOfDisplayedPages"><a ng-click="selectPage(currentPage - numberOfDisplayedPages)"><i class="material-icons">more_horiz</i></a></li>
                    <li ng-show="currentPage > 0"><a ng-click="selectPage(currentPage - 1)"><i class="material-icons">arrow_back</i> Previous</a></li>
                    <li ng-show="totalPages > 1" ng-repeat="page in pages" ng-class="{active: page == currentPage + 1}"><a ng-click="selectPage(page-1)">{{page}}</a></li>
                    <li ng-show="currentPage < totalPages - 1"><a ng-click="selectPage(currentPage + 1)">Next <i class="material-icons">arrow_forward</i></a></li>
                    <li ng-show="pages[pages.length-1] < totalPages-1"><a ng-click="selectPage(pages[pages.length-1])"><i class="material-icons">more_horiz</i></a></li>
                    <li ng-show="currentPage < totalPages - 1"><a ng-click="selectPage(totalPages - 1)">Last <i class="material-icons">arrow_forward</i></a></li>
                </ul>
            </div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-cancel" ng-click="onCloseSpotlightSearchClick()">Close</button>
            </div>
        </div>
    </nav>
</div>