<div style="margin-top:50px;">
    <div class="spinner" ng-show="isLoadingDocInfo">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div ng-show="docInfo != null">
        <div class="col-md-12">
            <h5> 
                <a href="" ng-click="onDocInfoTitleClick(docInfo)" ng-bind-html="docInfo.name"></a>
            </h5>
            <span class="resultoffice" ng-bind-html="docInfo.officeSymbol"></span>
            <span class="resultoffice" ng-show="docInfo.status"> - </span>
            <span class="resultoffice" ng-bind-html="docInfo.status"></span>
            <p style="margin-top: 20px;" ng-bind-html="docInfo.description"></p>
        </div>
    </div>
</div>

<div ng-repeat="(prop, value) in docInfo" ng-init="isArr = isArray(value)">
    <div class="col-md-12" ng-if="isArr && value.length > 0">
        <div class="search-label">{{prop | addSpacing | uppercase}}</div>
        <div class="row">
            <div class="col-md-12 simple-list">
                <ul>
                    <li ng-repeat="item in value track by $index | orderBy:'toString()' | newline">
                        <span ng-bind-html="item | newline"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="docInfo.startDate">
    <div class="col-md-12">
        <div class="search-label">START DATE</div>
        <div class="row">
            <div class="col-md-12 simple-list">
                <ul>
                    <li>{{docInfo.startDate | date:'MMM dd, yyyy'}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="docInfo.endDate">
    <div class="col-md-12">
        <div class="search-label">END DATE</div>
        <div class="row">
            <div class="col-md-12 simple-list">
                <ul>
                    <li>{{docInfo.endDate | date:'MMM dd, yyyy'}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
