<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="storage.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ecastore;AccountKey=ke6Cz4X1aTlJaQUkVJrSUPLa1nzCmX9tU0DNPHc+bcgt9tnM637S0E7GyYHr8ZRNihJcF+nafgQYpizUWFw5JQ=="/>
    <add key="storage.Container" value="ds2019files"/>
    <add key="storage.Name" value="ecastore"/>
    <add key="storage.PrimaryKey" value="ke6Cz4X1aTlJaQUkVJrSUPLa1nzCmX9tU0DNPHc+bcgt9tnM637S0E7GyYHr8ZRNihJcF+nafgQYpizUWFw5JQ=="/>
    <add key="storage.SecondaryKey" value="rqEDj8J7sIMd3eg/G39zqMUKpOXKb+02P4FW+7MIbAfw65hieRGs5oehqz+B4uMRKDMu0+yGsEKsof6ODNo9VQ=="/>
  </appSettings>
</configuration>
