<div class="row">
	<div class="jumbotron office">
  <div class="heading">
    <h1>ECA Office Directory</h1>
  </div>
	</div>
</div>
<div st-pipe="getOffices" st-table="offices" id="sort-list">
    <table class="col-md-12">
        <tbody class="list2">
            <tr class="row hover" ng-repeat="office in offices" ng-show="!officesLoading">
                <td class="col-md-9" ng-style="{'padding-left': 60+(20*office.officeLevel-1)}">
                    <span class="owner-office">{{office.officeSymbol}}</span>
                    <h4><a ng-href="#/offices/{{office.organizationId}}/overview">{{office.name}}</a></h4>
                    <p>{{office.description}}</p>
                </td>
                <td class="col-md-3 tools">
                    &nbsp;
                </td>
            </tr>
            <tr ng-show="officesLoading">
                <td colspan="5">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
