<div class="alert alert-danger" ng-show="loadingProgramsErrorOccurred">There was an error retrieving programs.</div>
<h2 class="office-color tab-header">{{header}}</h2>
<div class="row">
    <div class="spinner" ng-show="isLoadingBranches">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="coolbox col-sm-2" ng-repeat="branch in branches" ng-show="!isLoadingBranches">
        <h6>{{branch.organizationType}}</h6>
        <h5>
            <a ui-sref="offices.overview({officeId: branch.organizationId})">{{branch.name}}</a>
        </h5>
    </div>
</div>
<div st-pipe="getPrograms" st-table="programs" id="sort-list">

    <table class="col-md-12">
        <thead>
            <tr>
                <th class="col-md-7"></th>
                <th class="col-md-2">&nbsp;</th>
            </tr>
            <tr>
                <th>
                    <div>
                        <input st-search type="search" placeholder="Search Programs" class="search-contextual" maxlength="100">
                        <i class="glyphicon glyphicon-search contextual"></i>
                        <p>Showing {{skippedNumberOfPrograms}} - {{numberOfPrograms}} of {{totalNumberOfPrograms}} programs</p>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr ng-repeat="program in programs" class="hover" ng-show="!isLoadingPrograms">
                <td>
                    <div ng-style="{marginLeft: (program.programLevel - 1) * 60}">
                        <span class="owner-office">{{office.officeSymbol}}</span>
                        <h5 class="list-title">
                            <a ng-bind-html="program.name | highlight:programFilter" ui-sref="programs.overview({officeId: program.owner_OrganizationId, programId: program.programId})">{{program.name}}</a>
                        </h5>
                        <p ng-bind-html="program.description | highlight:programFilter" class="description">{{program.description}}</p>
                    </div>
                </td>
                <td>
                    <img class="icon" src="images/duplicateA.png" alt="">
                    <img class="icon" src="images/editA.png" alt="">
                    <img class="icon" src="images/trash.png" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="5" ng-show="isLoadingPrograms">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="programs.length > 0"></div>
</div>
