<div class="spinner" ng-show="isLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="alert alert-danger" ng-show="!officeExists">
    Error!  The office was not found.
</div>
<div class="alert alert-danger" ng-show="serverErrorOccurred">
    Error!  There was an error processing the request.
</div>
<div ng-show="!isLoading">
    <h2 class="office-color tab-header">Overview2</h2>
    <div class="row">
        <h5>
            {{office.description}}
        </h5>
    </div>
    <div class="row tags" ng-show="office.tags">
        <span ng-repeat="tag in office.tags" class="tag">#{{tag}}</span>
    </div>
    <div class="row table">
        <h4 class="tab-subheader">Details</h4>
        <div class="col-md-6">
            <div class="row" ng-show="office.themes">
                <div class="col-md-4 title-label">Themes</div>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="theme in office.themes">{{theme.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="office.goals">
                <div class="col-md-4 title-label">Goals</div>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="goal in office.goals">{{goal.value}}</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row" ng-show="office.foci">
                <div class="col-md-4 title-label">Foci</div>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="focus in office.foci">{{focus.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="office.contacts">
                <div class="col-md-4 title-label"><ng-pluralize count="office.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
                <div class="col-md-8">
                    <ul>
                        <li ng-repeat="contact in office.contacts">{{contact.value}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>