
<nav class="text-center" ng-if="pages.length >= 2">
    <ul class="pagination">
        <li><a ng-click="selectPage(1)"><i class="fa fa-arrow-left"></i> First</a></li>
        <li><a ng-click="selectPage(currentPage - stDisplayedPages)"><i class="fa fa-ellipsis-h"></i></a></li>
        <li><a ng-click="selectPage(currentPage - 1)"><i class="fa fa-arrow-left"></i></a></li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a></li>
        <li><a ng-click="selectPage(currentPage + 1)"><i class="fa fa-arrow-right"></i></a></li>
        <li><a ng-click="selectPage(currentPage + stDisplayedPages)"><i class="fa fa-ellipsis-h"></i></a></li>
        <li><a ng-click="selectPage(numPages)">Last <i class="fa fa-arrow-right"></i></a></li>
    </ul>
</nav>