<div class="spinner" ng-show="isLoadingDocInfo">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="row" ng-show="docinfo != null">
    <div class="col-md-12">
        <h5 class="program-color"><strong><a ng-href="{{getHref(docinfo.documentTypeName, docinfo.key.value)}}" ng-click="onCloseSpotlightSearchClick()">{{docinfo.name}}</a></strong></h5>
        <span class="resultoffice">{{docinfo.officeSymbol}}</span>
        <p style="margin-top: 20px;" ng-bind-html="docinfo.hitHighlights.description[0] != null ? docinfo.hitHighlights.description[0] : docinfo.description"></p>
    </div>
</div>

<div class="row" ng-repeat="(prop, value) in docinfo" ng-init="isArr = isArray(value)">
    <div class="col-md-12" ng-if="isArr">
        <div class="search-label">{{prop | uppercase}}</div>
        <div class="row">
            <div class="col-md-12 simple-list">
                <ul>
                    <li ng-repeat="item in value | orderBy:'toString()'">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>