<div class="modal-header search-modal-header">
    <input ng-show="show" type="search" ng-model="text" placeholder="Spotlight search"
            class="input-lg form-control col-md-12" style="font-weight: 500" focus-me="true" ng-change="autocomplete()" ng-model-options="{debounce: 500}" submit-required="true" />
</div>
<div class="modal-body">
    <div class="spinner" ng-show="isLoadingResults">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="search-result-wrapper">
        <div class="search-result-container">
            <!--<div class="row">
                <div class="col-md-2 search-label">Top Hit</div>
                <div class="col-md-10 search-result">
                    <div class="row resultrow">
                        <div class="col-md-1">
                            <div class="resulticon {{tophit.type}}">{{tophit.type[0]}}</div>
                        </div>
                        <div class="col-md-8 resultname">{{tophit.title}}</div>
                        <div class="col-md-3 resultoffice">{{tophit.subtitle}}</div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-8">
                    <div ng-repeat="docitem in results" class="row">
                        <div class="col-md-2 text-right">
                            <span ng-show="CreateHeader(docitem.document.documentTypeName)"><strong>{{docitem.document.documentTypeName | uppercase}}</strong></span>
                        </div>
                        <div class="col-md-10 search-results">
                            <div class="row" ng-class="docitem.document.id === docinfo.document.id ? 'resultrow-selected' : 'resultrow'">
                                <div class="col-md-1 text-center">
                                    <div class="resulticon {{docitem.document.documentTypeName | lowercase}}">{{docitem.document.documentTypeName | resultIconFilter}}</div>
                                </div>
                                <div class="col-md-9">
                                    <a ng-click="GetDocumentInfo(docitem.document.id)" ng-bind-html="docitem.hitHighlights.name[0] != null ? docitem.hitHighlights.name[0] : docitem.document.name"></a>
                                </div>
                                <div class="col-md-2 resultoffice">{{docitem.document.officeSymbol}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="spinner" ng-show="isLoadingDocInfo">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div class="row" ng-show="docinfo != null">
                        <div class="col-md-12">
                            <h5 ng-class="docinfo.document.documentTypeName | titleStyle"><strong>{{docinfo.document.name}}</strong></h5>
                            <span class="resultoffice">{{docinfo.document.officeSymbol}}</span>
                            <p style="margin-top: 20px;" ng-bind-html="docinfo.hitHighlights.description[0] != null ? docinfo.hitHighlights.description[0] : docinfo.document.description"></p>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.themes.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">THEMES</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="theme in docinfo.document.themes | orderBy:'toString()'">{{theme}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.goals.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">GOALS</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="goal in docinfo.document.goals | orderBy:'toString()'">{{goal}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.foci.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">FOCI</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="focus in docinfo.document.foci | orderBy:'toString()'">{{focus}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.objectives.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">OBJECTIVES</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="objective in docinfo.document.objectives | orderBy:'toString()'">{{objective}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.regions.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">REGIONS</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="region in docinfo.document.regions | orderBy:'toString()'">{{region}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.countries.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">COUNTRIES</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="country in docinfo.document.countries | orderBy:'toString()'">{{country}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.locations.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">LOCATIONS</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="location in docinfo.document.locations | orderBy:'toString()'">{{location}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="docinfo.document.websites.length > 0">
                        <div class="col-md-12">
                            <div class="search-label">WEBSITES</div>
                            <div class="row">
                                <div class="col-md-12 simple-list">
                                    <ul>
                                        <li ng-repeat="website in docinfo.document.websites | orderBy:'toString()'">{{website}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-cancel" ng-click="onCloseSpotlightSearchClick()">Close</button>
    </div>
</div>
