<div class="modal-header">
    <h3 class="modal-title">Dependent</h3>
</div>
<div class="modal-body">
    <div ng-show="dependentLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!dependentLoading">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group row" ng-show="dependent.firstName">
                            <label class="col-md-4 title-label">First name</label>
                            <div class="col-md-8">
                                {{dependent.fullName.firstName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="dependent.lastName">
                            <label class="col-md-4 title-label">Last name</label>
                            <div class="col-md-8">
                                {{dependent.fullName.lastName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="dependent.nameSuffix">
                            <label class="col-md-4 title-label">Name suffix</label>
                            <div class="col-md-8">
                                {{dependent.fullName.nameSuffix}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="dependent.givenName">
                            <label class="col-md-4 title-label">Passport name</label>
                            <div class="col-md-8">
                                {{dependent.fullName.passportName}}
                            </div>
                        </div>
                        <div class="form-group row" ng-show="dependent.familyName">
                            <label class="col-md-4 title-label">Preferred name</label>
                            <div class="col-md-8">
                                {{dependent.fullName.preferredName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Gender</div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{dependent.gender}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">City of Birth</div>
                <div class="col-md-8">
                    <div>{{dependent.placeOfBirth.name}}</div>
                    <div>{{dependent.placeOfBirth.division}}</div>
                    <div>{{dependent.placeOfBirth.country}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Date of Birth</div>
                <div class="col-md-8" ng-show="dependent.dateOfBirth">
                    {{dependent.dateOfBirth | date : 'longDate' : 'utc'}}
                </div>
                <div class="col-md-8" ng-show="!dependent.dateOfBirth">
                    No Data
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-label">Countries of Citizenship</div>
                <div class="col-md-8">
                    <div class="form-group" ng-repeat="country in dependent.countriesOfCitizenship">
                        <label class="col-md-4 title-label"></label>
                        <div class="col-md-8">
                            {{country.value}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Permanent Residence Country</div>
                <div class="col-md-8">
                    <div>{{dependent.residenceCountry}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Birth Country Reason</div>
                <div class="col-md-8">
                    <div>{{dependent.birthCountryReason}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-label">Email Address</div>
                <div class="col-md-8">
                    <div>{{dependent.emailAddress}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button ng-click="view.onSaveClick()" class="btn btn-primary" ng-disabled="form.dependentForm.$invalid || view.isSavingNewDependent">
            Save
        </button>
        <button ng-click="view.onCloseClick()" class="btn btn-cancel">Close</button>
    </div>
</div>