<div class="modal-header">
    <h3 class="modal-title">Dependent Details</h3>
</div>
<div class="modal-body">
    <div>
        <form name="form.dependentForm">
            <div ng-if="!edit.Dependent"><ng-include src="'/app/people/dependent.html'"></ng-include></div>
            <div ng-if="edit.Dependent"><ng-include src="'/app/people/dependent-edit.html'"></ng-include></div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button ng-click="view.onSaveClick()" class="btn btn-primary" ng-disabled="form.dependentForm.$invalid || view.isSavingNewDependent">
            Save
        </button>
        <button ng-click="view.onCloseClick()" class="btn btn-cancel">Close</button>
    </div>
</div>
