<div ng-controller="personPiiEditCtrl">
    <div ng-show="piiLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!piiLoading">
        <div class="pull-right">
            <button ng-click="saveEditPii()" class="btn btn-success" ng-disabled="piiForm.$invalid || piiForm.$pristine">Save</button>
            <button ng-click="cancelEditPii()" class="btn btn-cancel">Cancel</button>
        </div>
        <form name="piiForm" class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-4 title-label">First name<span class="asterisk"> *</span></label>
                    <div class="col-md-8">
                        <input type="text" name="firstName" class="form-control" ng-model="pii.firstName" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Last name<span class="asterisk"> *</span></label>
                    <div class="col-md-8">
                        <input type="text" name="lastName" class="form-control" ng-model="pii.lastName" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Name prefix</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.namePrefix" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Name suffix</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.nameSuffix" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Given name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.givenName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Family name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.familyName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Middle name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.middleName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Patronym</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.patronym" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 title-label">Alias</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.alias" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Gender<span class="asterisk"> *</span></div>
                    <div class="col-md-8">
                        <ui-select name="gender" ng-model="pii.genderId" theme="select2" ng-change="updateGender()" required>
                            <ui-select-match placeholder="Select gender">
                                <div>{{$select.selected.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="gender.id as gender in genders">
                                <div ng-bind-html="gender.value"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Ethnicity</div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="pii.ethnicity" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Place of Birth</div>
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="col-md-4 title-label">Country</label>
                            <div class="col-md-8">
                                <ui-select name="countryOfBirth" ng-model="pii.countryOfBirthId" theme="select2" ng-change="updateCountryOfBirth()">
                                    <ui-select-match placeholder="Select country">
                                        <div>{{$select.selected.name}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="country.id as country in countries | filter: $select.search">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 title-label">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="cityOfBirth" 
                                       ng-model="pii.cityOfBirthId" ng-disabled="pii.countryOfBirthId == 0"
                                       typeahead="city.id as city.name for city in getCities($viewValue) | limitTo: 25"
                                       typeahead-editable="false" typeahead-input-formatter="formatCityOfBirth($model)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 title-label">Date of Birth</div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" name="dateOfBirth" id="dateOfBirth" datepicker-popup="dd-MMMM-yyyy" ng-model="pii.dateOfBirth"
                                    is-open="datePickerOpen" max-date="maxDateOfBirth" close-text="Close" placeholder="{{dateOfBirthPlaceholder}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
                                    <i class="material-icons md-18">event</i>
                                </button>
                            </span>
                            <div class="pull-right" style="padding-left:2px;">
                                <button class="btn btn-default" ng-click="toggleDobUnknown($event)" tooltip-placement="top" tooltip="Unknown date of birth">Unknown</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 title-label">Countries of Citizenship</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <ui-select multiple ng-model="$parent.selectedCountriesOfCitizenship" theme="select2" title="Choose a country" style="min-width: 200px;">
                                    <ui-select-match placeholder="Select countries...">
                                        <div>{{$item.name}}</div>
                                    </ui-select-match>

                                    <ui-select-choices repeat="country in countries | filter: $select.search track by country.name">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Addresses</div>
                    <div>
                        <addresses model="pii" modelid="person.personId" modeltype="'person'" editmode="edit.Pii" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Medical Conditions</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="pii.medicalConditions"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Marital Status</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-4 title-label"></label>
                            <div class="col-md-8">
                                <ui-select ng-model="pii.maritalStatusId" theme="select2" ng-change="updateMaritalStatus()">
                                    <ui-select-match placeholder="Select status...">
                                        <div>{{$select.selected.value}}</div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="maritalStatus.id as maritalStatus in maritalStatuses">
                                        <div ng-bind-html="maritalStatus.value"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>