<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kmtapi-qa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>kmtapi-qa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kmtapi-qa</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$kmtapi-qa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ECA.Data.EcaContext" Order="1" Enabled="False">
          <Destination Path="Data Source=eca.database.windows.net;Initial Catalog=ECA_KMT_QA;Persist Security Info=True;User ID=ECA;Password=wisconsin-89" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ECA.Data.EcaContext, ECA.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ECA.Data.EcaContext-Web.config Connection String">
      <ParameterValue>Data Source=eca.database.windows.net;Initial Catalog=ECA_KMT_QA;Persist Security Info=True;User ID=ECA;Password=wisconsin-89</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ECA.Data.EcaContext" />
  </ItemGroup>
</Project>