<div ng-controller="AddLocationCtrl">

    <div class="spinner" ng-show="view.isLoadingRequiredData">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div in-context-form>
        <form name="form.addLocationForm" ng-show="!view.isLoadingRequiredData">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="locationTypeId">Type<span class="asterisk"> *</span></label>
                            <select class="form-control"
                                    id="locationTypeId"
                                    name="locationTypeId"
                                    ng-disabled="view.isSavingNewLocation"
                                    ng-options="t.id as t.value for t in view.locationTypes"
                                    ng-model="view.newLocation.locationTypeId"
                                    ng-change="view.onLocationTypeChange()"
                                    required />
                            <div ng-show="form.addLocationForm.locationTypeId.$dirty || form.addLocationForm.locationTypeId.$error.required">
                                <div class="error" ng-show="form.addLocationForm.locationTypeId.$error.required">Please select a location type.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="locationName">Name<span class="asterisk"> *</span></label>
                            <input name="locationName"
                                   ng-model="view.newLocation.name"
                                   form-element guidance="The name of the location."
                                   type="text"
                                   class="form-control"
                                   ng-disabled="view.isSavingNewLocation"
                                   placeholder="Enter location name."
                                   id="locationName"
                                   required />
                            <div ng-show="form.addLocationForm.locationName.$dirty || form.addLocationForm.locationName.$error.required">
                                <div class="error" ng-show="form.addLocationForm.locationName.$error.required">Please enter a name.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="countryId">Country</label>
                            <select class="form-control"
                                    id="countryId"
                                    name="countryId"
                                    ng-disabled="view.isSavingNewLocation"
                                    ng-options="t.id as t.name for t in view.countries"
                                    ng-model="view.newLocation.countryId"
                                    ng-change="view.onCountryChange()" />
                        </div>
                        <div class="form-group">
                            <label for="divisionId">Division</label>
                            <select class="form-control"
                                    id="divisionId"
                                    name="divisionId"
                                    ng-disabled="view.isSavingNewLocation"
                                    ng-model="view.newLocation.divisionId"
                                    ng-change="view.onDivisionChange()"
                                    ng-options="t.id as t.name for t in view.divisions" />
                        </div>
                        <div class="form-group">
                            <label for="cityId">City</label>
                            <select class="form-control"
                                    id="cityId"
                                    name="cityId"
                                    ng-disabled="view.isSavingNewLocation || view.newLocation.locationTypeId === constants.locationType.city.id"
                                    ng-model="view.newLocation.cityId"
                                    ng-options="t.id as t.name for t in view.cities" />
                        </div>
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input name="latitude"
                                   ng-model="view.newLocation.latitude"
                                   form-element guidance="The latitude of the location."
                                   type="number"
                                   class="form-control"
                                   ng-disabled="view.isSavingNewLocation"
                                   placeholder="Enter location latitude."
                                   ng-change="view.onLatitudeChange()"
                                   id="latitude"
                                   required />
                            <div ng-show="form.addLocationForm.latitude.$dirty || form.addLocationForm.latitude.$error.required">
                                <div class="error" ng-show="form.addLocationForm.latitude.$error.required">Please enter a latitude.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input name="longitude"
                                   ng-model="view.newLocation.longitude"
                                   form-element guidance="The longitude of the location."
                                   type="number"
                                   class="form-control"
                                   ng-disabled="view.isSavingNewLocation"
                                   placeholder="Enter location longitude."
                                   id="longitude"
                                   ng-change="view.onLongitudeChange()"
                                   required />
                            <div ng-show="form.addLocationForm.longitude.$dirty || form.addLocationForm.longitude.$error.required">
                                <div class="error" ng-show="form.addLocationForm.longitude.$error.required">Please enter a longitude.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="title-label">
                            Perform a search.
                        </div>
                        <div class="form-group">
                            <p class="input-group">
                                <input name="search"
                                       ng-model="view.search"
                                       type="text"
                                       class="form-control"
                                       ng-disabled="view.isSavingNewLocation || !view.isMapIdle"
                                       placeholder="Search google for a location."
                                       id="search"
                                       />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="view.onSearchCityClick()" ng-disabled="view.isGeocoding">
                                        <i ng-show="!view.isGeocoding" class="material-icons">search</i>
                                        <i class="material-icons material-icons-spin" ng-show="view.isGeocoding">autorenew</i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div ng-if="!view.isLoadingRequiredData">
                            <div id="mapcanvas" ui-map="view.newLocationMap" ui-options="view.mapOptions" style="height: 450px; width: 400px;" ui-event="{'map-idle' : 'onMapIdle()'}">
                                &nbsp;
                            </div>

                        </div>
                        <div>
                            {{view.googledLocation.locationDisplay}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="pull-right">
            <button ng-click="view.onSaveClick()" class="btn btn-primary" ng-disabled="form.addLocationForm.$invalid">Save</button>
            <button ng-click="view.cancelMoneyFlowChanges(moneyFlow)" class="btn btn-cancel">Cancel</button>
        </div>
    </div>
</div>