<div class="modal-header">
    <h3 class="modal-title">Locations</h3>

</div>
<div class="modal-body" ng-controller="LocationModalCtrl">
    <div class="tabs">
        <ul class="left">
            <li class="tab right"
                style="cursor: pointer;"
                ng-click="view.onLocationsTabClick()"
                ng-class="{mute: view.activeTab !== view.locationListTabKey, active: view.activeTab === view.locationListTabKey}">
                Locations
            </li>
            <li class="tab right"
                style="cursor: pointer;"
                ng-click="view.onAddLocationTabClick()"
                ng-class="{mute: view.activeTab !== view.newLocationTabKey, active: view.activeTab === view.newLocationTabKey}">
                Add
            </li>
        </ul>
    </div>
    <div>

        <ng-include ng-show="view.activeTab === view.newLocationTabKey" src="'/views/locations/addlocation.html'"></ng-include>
        

    </div>
    <div>
        <ng-include ng-show="view.activeTab === view.locationListTabKey" src="'/views/locations/locations.html'"></ng-include>
    </div>
</div>
<div class="modal-footer">

</div>