<div class="row">
    <div class="jumbotron office">
        <div class="heading">
            <h1>ECA Office Directory</h1>
        </div>
    </div>
</div>

<div class="row">
    <span class="left programTypeRadio">
        Show offices in
        <input type="radio"
               ng-change="view.onOfficeFiltersChange()"
               ng-model="view.listType"
               value="{{view.hierarchyKey}}">
        Hierarchical order
    </span>
    <span class="left programTypeRadio">
        <input type="radio"
               ng-change="view.onOfficeFiltersChange()"
               ng-model="view.listType"
               value="{{view.alphabeticalKey}}">
        Alphabetical order
    </span>
</div>

<div st-pipe="view.getOffices" st-table="view.offices" id="sort-list" exposetablestate="getAllOfficesTableState">
    <table class="col-md-12 table">
        <thead>
            <tr>
                <th>
                    <div style="margin-left:20px;">
                        <div>
                            <input id="searchBar" name="searchBar"
                                   ng-change="view.onSearchChange()"
                                   st-search type="search"
                                   ng-model="view.officeFilter"
                                   ng-model-options="{debounce: 500}"
                                   placeholder="Search Offices"
                                   class="search-contextual"
                                   maxlength="100" />
                            <i class="material-icons md-18 contextual">search</i>
                        </div>
                        <div style="margin-top:25px; margin-bottom:-25px;" ng-show="view.listType === view.alphabeticalKey">
                            <p class="subheader">Showing {{view.skippedNumberOfOffices}} - {{view.numberOfOffices}} of {{view.totalNumberOfOffices}} offices</p>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr ng-repeat="office in view.offices" ng-show="!view.officesLoading">
                <td class="narrowPadding">
                    <div id="{{office.divId}}">
                        <div class="col-md-10" ng-style="{'padding-left': (40* (office.officeLevel - 1))}">
                            <div ng-if="!office.isRoot" ng-class="{'col-md-1': !office.isRoot}">
                                <i style="margin-left:25px;"
                                   ng-show="!office.isRoot && view.listType === view.hierarchyKey"
                                   class="material-icons md-18 flip-horizontal">keyboard_return</i>
                            </div>
                            <div ng-class="{'col-md-12': office.isRoot, 'col-md-11': !office.isRoot}">
                                <span class="owner-office" ng-bind-html="office.officeSymbol | highlight:view.officeFilter">{{officeSymbol.officeSymbol}}</span>
                                <h4>
                                    <a ng-bind-html="office.name | highlight:view.officeFilter" ui-sref="offices.overview({officeId: office.organizationId})">{{office.name}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2" ng-show="!office.loadingChildrenOffices && office.hasChildren">
                            <span ng-click="view.onExpandClick(office)" ng-show="view.listType === view.hierarchyKey && (!office.children || office.children.length > 0)" style="cursor:pointer;" class="right">
                                <i class="material-icons md-24" ng-show="!office.isExpanded">expand_less</i>
                            </span>
                            <span ng-click="view.onCollapseClick(office)" ng-show="view.listType === view.hierarchyKey && (!office.children || office.children.length > 0)" style="cursor:pointer;" class="right">
                                <i class="material-icons md-24" ng-show="office.isExpanded">expand_more</i>
                            </span>
                            <span ng-show="office.children && office.children.length > 0"
                                  class="right mute"
                                  style="padding-left:2px;padding-right:2px;"
                                  tooltip="The number of sub-offices."
                                  tooltip-placement="bottom">
                                ({{office.children.length}})
                            </span>
                            <span ng-show="office.parent"
                                  class="right"
                                  style="padding-left:2px;padding-right:2px;">
                                <a style="font-size:smaller"
                                   class="mute"
                                   tooltip="Scroll to {{office.parent.name}}"
                                   tooltip-placement="bottom"
                                   ng-click="view.onScrollToParentClick(office)">
                                    scroll to parent
                                </a>
                            </span>
                        </div>
                        <div class="col-md-2" ng-show="office.loadingChildrenOffices">
                            <span ng-show="view.listType === view.hierarchyKey" class="right">
                                <i class="material-icons md-24 material-icons-spin">autorenew</i>
                            </span>
                        </div>
                    </div>
                    <div style="min-height:90px;">
                        <div class="col-md-10" ng-style="{'padding-left': (40* (office.officeLevel -1))}">
                            <div ng-if="!office.isRoot" ng-class="{'col-md-1': !office.isRoot}">
                                &nbsp;
                            </div>
                            <div ng-class="{'col-md-12': office.isRoot, 'col-md-11': !office.isRoot}">
                                <p ng-bind-html="office.description | highlight:view.officeFilter">{{office.description}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="right" style="display:none;" showonparentrow>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy">
                                    <i class="material-icons md-24 copyEditDeleteOption">content_copy</i>
                                </div>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit">
                                    <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                                </div>
                                <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete">
                                    <i class="material-icons md-24 copyEditDeleteOption">delete</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="view.officesLoading">
                <td>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="app/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="view.offices.length > 0"></div>
</div>
