<h2 class="office-color tab-header">{{view.header}}</h2>
<div ng-show="view.branches.length || view.isLoadingBranches">
    <div class="spinner" ng-show="view.isLoadingBranches">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <ul class="branch-list" ng-show="!view.isLoadingBranches">
        <li ng-repeat="branch in view.branches" class="branch">
            <span class="branch-title">{{branch.organizationType}}</span>
            <span class="branch-name"><a ui-sref="offices.overview({officeId: branch.organizationId})">{{branch.name}}</a></span>
        </li>
    </ul>
</div>
<div st-pipe="view.getPrograms" st-table="view.programs" id="sort-list">
    <table class="col-md-12 table">
        <thead>
            <tr>
                <th class="col-md-7"></th>
                <th class="col-md-2">&nbsp;</th>
            </tr>
            <tr>
                <th>
                    <div>
                        <input st-search type="search" placeholder="Search Programs" class="search-contextual" maxlength="100" ng-model="view.programFilter">
                        <i class="material-icons md-18 contextual">search</i>
                    </div>
                    <div style="margin-top:25px;margin-bottom:-25px">
                        <p class="subheader">Showing {{view.skippedNumberOfPrograms}} - {{view.numberOfPrograms}} of {{view.totalNumberOfPrograms}} programs</p>
                    </div>
                </th>
                <th class="col-md-2 verticalTop">
                    <button ng-disabled="view.isLoadingPrograms" ng-click="view.onCreateProgramClick()" class="btn btn-success right col-sd-2">CREATE PROGRAM</button>
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr ng-repeat="program in view.programs" class="hover" ng-show="!view.isLoadingPrograms">
                <td class="narrowPadding">
                    <program-table-cell program="program" programfilter="view.programFilter" />
                </td>
                <!--<td>
                    <div ng-style="{marginLeft: (program.programLevel) * 60}">
                        <span class="owner-office" ng-bind-html="program.officeSymbol | highlight:view.programFilter">{{office.officeSymbol}}</span>
                        <h4>
                            <a ng-bind-html="program.name | highlight:view.programFilter" ui-sref="programs.overview({officeId: program.owner_OrganizationId, programId: program.programId})">{{program.name}}</a>
                        </h4>
                        <p ng-bind-html="program.description | highlight:view.programFilter" class="description">{{program.description}}</p>
                    </div>
                </td>
                <td class="col-md-3 tools" style="vertical-align:middle; padding-right:40px;">
                    <div class="right" style="display:none;" showonparentrow>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy">
                            <i class="material-icons md-24 copyEditDeleteOption">content_copy</i>
                        </div>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit">
                            <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                        </div>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete">
                            <i class="material-icons md-24 copyEditDeleteOption">delete</i>
                        </div>
                    </div>
                </td>-->
            </tr>
            <tr>
                <td colspan="5" ng-show="isLoadingPrograms">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="app/partials/pagination.html" st-pagination="" st-items-by-page="view.programsLimit" st-displayed-pages="10" ng-show="view.programs.length > 0"></div>
</div>