<h2 class="office-color tab-header">{{view.header}}</h2>
<div ng-show="view.branches.length || view.isLoadingBranches">
    <div class="spinner" ng-show="view.isLoadingBranches">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <ul class="branch-list" ng-show="!view.isLoadingBranches">
        <li ng-repeat="branch in view.branches" class="branch">
            <span class="branch-title">{{branch.organizationType}}</span>
            <span class="branch-name"><a ui-sref="offices.overview({officeId: branch.organizationId})">{{branch.name}}</a></span>
        </li>
    </ul>
</div>
<div>
    <div>
        <div class="right">
            <button ng-disabled="view.isLoadingPrograms"
                    ng-click="view.onCreateProgramClick()"
                    class="btn btn-success">
                CREATE PROGRAM
            </button>
        </div>
    </div>
    <programs showdraftsfilter="false" officeid="'officeId'"/>
</div>