<div>
    <div class="pull-right">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-cancel cancel" ng-click="$parent.cancelButtonClicked()">Cancel</button>
    </div>
    <h2 class="office-color tab-header">Overview</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 title-label">Office Name <span class="asterisk"> *</span></label>
            <div class="col-md-10">
                <input class="form-control" ng-model="office.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 title-label">Office Symbol <span class="asterisk"> *</span></label>
            <div class="col-md-10">
                <input class="form-control" ng-model="office.officeSymbol" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 title-label">Description <span class="asterisk"> *</span></label>
            <div class="col-md-10">
                <textarea class="form-control" ng-model="office.description">
                </textarea>
            </div>
        </div>
        <div class="row table">
            <h4 class="tab-subheader">Details</h4>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Themes <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <ui-select multiple close-on-select="true" ng-model="view.selectedThemes" theme="select2" title="Choose a theme." style="min-width: 200px;">
                            <ui-select-match placeholder="Select themes...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="theme in view.themes | filter: $select.search track by theme.value">
                                <div ng-bind-html="theme.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Goals <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <ui-select multiple close-on-select="true" ng-model="view.selectedGoals" theme="select2" title="Choose a theme." style="min-width: 200px;">
                            <ui-select-match placeholder="Select themes...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices repeat="goal in view.goals | filter: $select.search track by goal.value">
                                <div ng-bind-html="goal.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Parent Office<span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <ui-select ng-model="view.selectedParentOffice"
                                   theme="select2"
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select a parent office..." allow-clear="true">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices refresh="searchParentOffices($select.search)"
                                               refresh-delay="250"
                                               repeat="office in view.parentOffices">
                                <div>
                                    <span ng-bind-html="office.name | highlight: $select.search"></span>
                                </div>
                                <div class="small" style="margin-left:10px;">
                                    {{office.officeSymbol}}
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 title-label" for="status">Points Of Contact <span class="asterisk"> *</span></label>
                    <div class="col-md-9">
                        <ui-select multiple
                                   name="pointsOfContact"
                                   close-on-select="true"
                                   ng-model="view.selectedPointsOfContact"
                                   theme="select2"
                                   title="Choose a point of contact."
                                   style="min-width: 200px;">
                            <ui-select-match placeholder="Select points of contact...">
                                <div>{{$item.value}}</div>
                            </ui-select-match>
                            <ui-select-choices refresh="searchPointsOfContact($select.search)" refresh-delay="250" repeat="person in view.pointsOfContact | filter: $select.search">
                                <div ng-bind-html="person.fullName | highlight: $select.search"></div>
                                <div class="small">{{person.position}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
