<div class="spinner" ng-show="isLoadingOfficeById">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div ng-show="!isLoadingOfficeById">
    <h2 class="office-color tab-header">Overview</h2>
    <div class="row">
        <h5>
            {{view.office.description}}
        </h5>
    </div>
    <div class="row tags" ng-show="view.office.tags">
        <span ng-repeat="tag in view.office.tags" class="tag">#{{tag}}</span>
    </div>
    <div class="row table">
        <h4 class="tab-subheader">Details</h4>
        <div class="col-md-6">
            <div class="row" ng-show="view.office.themes && view.dataPointConfigurations[constants.dataPointProperty.themes.id]">
                <div class="col-md-4 title-label">Themes</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="theme in view.office.themes | orderBy:'value'">{{theme.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="view.office.goals && view.dataPointConfigurations[constants.dataPointProperty.goals.id]">
                <div class="col-md-4 title-label">Goals</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="goal in view.office.goals | orderBy:'value'">{{goal.value}}</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row" ng-show="view.office.foci">
                <div class="col-md-4 title-label">Foci</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="focus in view.office.foci | orderBy:'value'">{{focus.value}}</li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="view.office.parentOfficeId">
                <div class="col-md-4 title-label">Parent Office</div>
                <div class="col-md-8">
                    <a ui-sref="offices.overview({officeId: view.office.parentOfficeId})">{{view.office.parentOfficeName}}</a>
                </div>
            </div>
            <div class="row" ng-show="view.office.contacts">
                <div class="col-md-4 title-label"><ng-pluralize count="view.office.contacts.length" when="{'1':'Point','other':'Points'}"></ng-pluralize> of Contact</div>
                <div class="col-md-8 simple-list">
                    <ul>
                        <li ng-repeat="contact in view.office.contacts | orderBy:'value'">{{contact.value}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>