<div class="modal-header">
    <h3 class="modal-title">Required Data for <strong>{{resourceName}}</strong></h3>
    <p>Checked boxes are considered required <strong>Data Points</strong> within their respective sections.</p>
</div>
<div class="modal-body">
    <div class="list2">
        <div class="row" ng-show="resourceTypeId === constants.resourceType.office.id">
            <div class="col-md-11">
                <h4>Office</h4>
            </div>
            <div class="col-md-1">
                <a ng-click="expandOfficeSection = !expandOfficeSection">
                    <i class="material-icons md-36" ng-show="expandOfficeSection">expand_more</i>
                    <i class="material-icons md-36" ng-show="!expandOfficeSection">expand_less</i>
                </a>
            </div>
        </div>
        <div class="row" ng-show="expandOfficeSection && resourceTypeId === constants.resourceType.office.id">
            <div class="col-md-4" ng-repeat="dataConfiguration in dataConfigurations | filter: {categoryId: constants.dataPointCategory.office.id}">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="dataConfiguration.isRequired" ng-disabled="dataConfiguration.isInherited" ng-change="dataConfigurationChanged(dataConfiguration)"/> {{dataConfiguration.propertyName}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h4>Program</h4>
            </div>
            <div class="col-md-1">
                <a ng-click="expandProgramSection = !expandProgramSection">
                    <i class="material-icons md-36" ng-show="expandProgramSection">expand_more</i>
                    <i class="material-icons md-36" ng-show="!expandProgramSection">expand_less</i>
                </a>
            </div>
        </div>
        <div class="row" ng-show="expandProgramSection">
            <div class="col-md-4" ng-repeat="dataConfiguration in dataConfigurations | filter: {categoryId: constants.dataPointCategory.program.id}">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="dataConfiguration.isRequired" ng-disabled="dataConfiguration.isInherited" ng-change="dataConfigurationChanged(dataConfiguration)"/> {{dataConfiguration.propertyName}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h4>Project</h4>
            </div>
            <div class="col-md-1">
                <a ng-click="expandProjectSection = !expandProjectSection">
                    <i class="material-icons md-36" ng-show="expandProjectSection">expand_more</i>
                    <i class="material-icons md-36" ng-show="!expandProjectSection">expand_less</i>
                </a>
            </div>
        </div>
        <div class="row" ng-show="expandProjectSection">
            <div class="col-md-4" ng-repeat="dataConfiguration in dataConfigurations | filter: {categoryId: constants.dataPointCategory.project.id}">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="dataConfiguration.isRequired" ng-disabled="dataConfiguration.isInherited" ng-change="dataConfigurationChanged(dataConfiguration)"/> {{dataConfiguration.propertyName}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h4>Person</h4>
            </div>
            <div class="col-md-1">
                <a ng-click="expandPersonSection = !expandPersonSection">
                    <i class="material-icons md-36" ng-show="expandPersonSection">expand_more</i>
                    <i class="material-icons md-36" ng-show="!expandPersonSection">expand_less</i>
                </a>
            </div>
        </div>
        <div class="row" ng-show="expandPersonSection">
            <div class="col-md-4" ng-repeat="dataConfiguration in dataConfigurations | filter: {categoryId: constants.dataPointCategory.person.id}">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="dataConfiguration.isRequired" ng-disabled="dataConfiguration.isInherited" ng-change="dataConfigurationChanged(dataConfiguration)"/> {{dataConfiguration.propertyName}}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="close()">Close</button>
</div>
