<div class="row">
    <h2 class="program-color tab-header col-md-10">
        {{header}}
    </h2>
    <div class="col-md-2" style="margin-top:8px;">
        <div class="btn-group dropdown" ng-show="!view.isLoadingProgram" dropdown>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Create New &nbsp;&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="view.createSubProgram()">Sub-Program</a></li>
                <li><a ng-click="view.createProject()">Project</a></li>
            </ul>
        </div>
    </div>
</div>
<h4 class="tab-subheader">Sub-Programs List</h4>
<div ng-show="!subprograms.length">
    <p>No subprograms to show</p>
</div>
<div ng-show="subprograms.length">
    <div st-pipe="getSubPrograms" st-table="subprograms" id="sort-list">
        <table class="col-md-12 table">
            <thead>

            </thead>
            <tbody class="list2">
                <tr ng-repeat="program in subprograms" class="hover" ng-show="!subprogramsLoading">
                    <td class="narrowPadding">
                        <div>
                            <span class="owner-office" ng-bind-html="program.officeSymbol | highlight:programFilter">{{office.officeSymbol}}</span>
                            <h4>
                                <a style="font-size:18px;" ng-bind-html="program.name | highlight:programFilter" ui-sref="programs.overview({officeId: program.owner_OrganizationId, programId: program.programId})">{{program.name}}</a>
                            </h4>
                            <p ng-bind-html="program.description | highlight:programFilter" class="description">{{program.description | limitTo: 20}}</p>
                        </div>
                    </td>
                    <td class="col-md-3 tools" style="vertical-align:middle; padding-right:40px;">
                        <div class="right" style="display:none;" showonparentrow>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy">
                                <i class="material-icons md-24 copyEditDeleteOption">content_copy</i>
                            </div>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit">
                                <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                            </div>
                            <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete">
                                <i class="material-icons md-24 copyEditDeleteOption">delete</i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" ng-show="isLoadingPrograms">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="projects.length > 0"></div>
    </div>
</div>
<h4 class="tab-subheader">Projects List</h4>
<div st-pipe="getProjects" st-table="projects" id="sort-list">
    <table class="col-md-12 table">
        <thead>
            <tr>
                <th st-sort="'projectName'" st-sort-default="true" class="col-md-6 sort-label medium">Title</th>
                <th st-sort="'projectStatusName'" class="col-md-1 sort-label medium">Status</th>
                <th st-sort="'startYearAsString'" class="col-md-1 sort-label medium">Year</th>
                <th class="col-md-2 sort-label medium">Regions</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th>
                    <input st-search="'projectName'" placeholder="" type="search" class="form-control" />
                </th>
                <th>
                    <input st-search="'projectStatusName'" placeholder="" type="search" class="form-control" />
                </th>
                <th>
                    <input st-search="'startYearAsString'" placeholder="" type="search" class="form-control" />
                </th>
                <th colspan="2">
                    <ui-select multiple
                               ui-select-st-search
                               ui-select-st-search-model-id="id"
                               ui-select-st-search-property="regionIds"
                               ui-select-st-search-comparison-type="containsany"
                               close-on-select="true"
                               ng-model="selectedFilterRegions"
                               theme="select2"
                               append-to-body="true"
                               title="Choose regions to filter."
                               style="min-width: 200px;">
                        <ui-select-match placeholder="Select regions to filter...">
                            <div>{{$item.name}}</div>
                        </ui-select-match>
                        <ui-select-choices refresh="searchRegions($select.search)"
                                           refresh-delay="250"
                                           repeat="region in regions | filter: select.search track by region.id">
                            <div ng-bind-html="region.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </th>
            </tr>
        </thead>
        <tbody class="list2">
            <tr rowspan="6" ng-show="!projects.length">
                <td>
                    <p>No projects to show</p>
                </td>
            </tr>

            <tr ng-repeat="project in projects" class="hover" ng-show="!projectsLoading"
                id="projectRow{{project.projectId}}">
                <td class="narrowPadding">
                    <h4 class="list-title"><a style="font-size:18px; font-weight: 500;" ui-sref="projects.overview({projectId: project.projectId})">{{project.projectName}}</a></h4>
                </td>
                <td style="vertical-align:middle;">{{project.projectStatusName}}</td>
                <td style="vertical-align:middle;">{{project.startYearAsString}}</td>
                <td style="vertical-align:middle;">
                    <span ng-repeat="region in project.regionNames | orderBy:name">
                        {{region}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td style="vertical-align:middle;">
                    <div class="right" style="display:none;" showonparentrow>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Copy">
                            <i class="material-icons md-24 copyEditDeleteOption">content_copy</i>
                        </div>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Edit">
                            <i class="material-icons md-24 copyEditDeleteOption">edit</i>
                        </div>
                        <div class="copyEditDeleteOptions" tooltip-placement="bottom" tooltip="Delete">
                            <i class="material-icons md-24 copyEditDeleteOption">delete</i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" ng-show="projectsLoading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-template="views/partials/pagination.html" st-pagination="" st-items-by-page="25" st-displayed-pages="10" ng-show="projects.length > 0"></div>
</div>


