<div ng-controller="personContactEditCtrl">
    <div ng-show="contactsLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!contactsLoading">

            <div class="row">
                <div class="pull-right">
                    <button ng-click="saveEditContact()" class="btn btn-success" ng-disabled="contactForm.$invalid || contactForm.$pristine">Save</button>
                    <button ng-click="cancelEditContact()" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        <form name="contactForm" class="form-horizontal">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 title-label">Email(s)</div>
                    <emailaddresses model="contactInfo" modelid="person.personId" modeltype="'person'" editmode="edit.Contact"></emailaddresses>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Social Media</div>
                    <socialmedias model="contactInfo" modelid="person.personId" modeltype="'person'" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 title-label">Phone Number (s)</div>
                    <phonenumbers model="contactInfo" modelid="person.personId" modeltype="'person'" editmode="edit.Contact"></phonenumbers>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Has Contact Agreement?</div>
                    <div class="col-md-8"><input type="checkbox" ng-model="contactInfo.hasContactAgreement"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 title-label">Contact Agreements</div>
                    <div class="col-md-8">TODO</div>
                </div>
            </div>
        </form>

</div>
</div>
