<div ng-controller="personEducationEmploymentCtrl">
    <div ng-show="EduEmpLoading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!EduEmpLoading">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <i class="material-icons md-dark col-md-1">school</i>
                    <label class="col-md-3 title-label">Education</label>
                    <div class="col-md-8">
                        <ul>
                            <li ng-repeat="education in data.educations" class="list-divider">
                                <b>{{education.title}} ({{education.startDate | date: 'yyyy'}}-{{education.endDate | date: 'yyyy'}})</b>
                                <br />
                                {{education.role}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <i class="material-icons md-dark col-md-1">work</i>
                    <label class="col-md-3 title-label">Professional History</label>
                    <div class="col-md-8">
                        <ul>
                            <li ng-repeat="employment in data.employments" class="list-divider">
                                <b>{{employment.title}} ({{employment.startDate | date: 'yyyy'}}-{{employment.endDate | date: 'yyyy'}})</b>
                                <br />
                                {{employment.role}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>