<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>c:\deploy\webapi\pre\ECA.WebApi.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ecaapi-kmt-pre</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EcaContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dx4ykgy2iu.database.windows.net,1433;Initial Catalog=ECA_KMT_PRE;Integrated Security=False;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dx4ykgy2iu.database.windows.net,1433;Initial Catalog=ECA_Dev;Integrated Security=False;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EcaContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dx4ykgy2iu.database.windows.net,1433;Database=ECA_Dev;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamModel" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dx4ykgy2iu.database.windows.net,1433;Initial Catalog=ECA_KMT_PRE;Integrated Security=False;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dx4ykgy2iu.database.windows.net,1433;Initial Catalog=ECA_Dev;Integrated Security=False;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dx4ykgy2iu.database.windows.net,1433;Database=ECA_Dev;Persist Security Info=True;User ID=ECA@dx4ykgy2iu;Password=wisconsin-89;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CamModel-Web.config Connection String">
      <ParameterValue>data source=tcp:dx4ykgy2iu.database.windows.net,1433;initial catalog=ECA_KMT_PRE;integrated security=False;persist security info=True;user id=ECA@dx4ykgy2iu;password=wisconsin-89;connect timeout=30;encrypt=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EcaContext-Web.config Connection String">
      <ParameterValue>data source=tcp:dx4ykgy2iu.database.windows.net,1433;initial catalog=ECA_KMT_PRE;integrated security=False;persist security info=True;user id=ECA@dx4ykgy2iu;password=wisconsin-89;connect timeout=30;encrypt=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>