<label>Look up an entity:
	<input ng-model="searchEntity" type="text">
</label><br>
<label>Look up a field:
	<input ng-model="searchField" type="text">
</label><br>
<button class="btn btn-primary" ng-click="findEntity()">find entity!</button><br>
<button class="btn btn-primary" ng-click="findField()">find field!</button><br>
<div ng-show="entity">
	<h3>{{entity.name}}</h3>
	<p>{{entity.description}}</p>
</div>

<div ng-show="field">
	<h3>{{field.field}}</h3>
	<p>{{field.definition}}</p>
</div>

<div class="row" in-context-form>
	<div class="col-md-10">
		<form>
			<div ng-repeat="input in inputs" class="form-group">
			    <label>{{input.label}}</label>
			    <input ng-focus="changeGuidance(input.guidance, $event)" type="text" class="form-control" placeholder="{{input.placeholder}}">
			</div>
		</form>
	</div>
	<div class="col-md-2">
		<guidance></guidance>	
	</div>
</div>


<div class="form-group">
	<label for="">Label</label>
	<input type="text">
</div>
<div class="form-group">
	<input type="checkbox">
</div>
<button class="btn btn-success">Primary</button>
<button class="btn btn-default">Secondary</button>