<div class="breadcrumbs">
    <p><a ui-sref="offices.overview({officeId: program.ownerOrganizationId})">{{program.ownerName}}</a> &bull; {{program.name}}</p>
</div>
<div class="jumbotron program">
    <div class="toolbar" sticky offset="49">
        <div class="left">
            <span class="detail">Last Updated {{program.revisedOn | date}}</span>
        </div>
        <ng-include src="'/views/partials/toolbaricons.html'"></ng-include>
    </div>
    <div class="heading">
        <h5>PROGRAM</h5>
        <h1>{{program.name}}</h1>
        <span class="owner-office">{{program.ownerOfficeSymbol}}</span>
        <div class="permalink">Permalink: <a href="{{view.permalink}}">{{view.permalink}}</a></div>
    </div>
</div>
<tab-bar tabs="tabs"></tab-bar>
<div class="container" ui-view>
</div>