<div class="row">
    <div class="jumbotron office">
        <div class="heading">
            <h1>Registration</h1>
        </div>
    </div>
    <div class="row">
        <div class="spinner" ng-show="view.isRegistering">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div ng-show="view.isRegistering" class="col-md-12">
            Please wait, we are registering you as a user automatically...
        </div>


        <div ng-show="!view.isRegistering" ng-model="view.user" class="col-md-12">
            <h2 class="office-color tab-header">Welcome {{user.displayName}}!</h2>
            <p>This was your first visit to the ECA Application and you have been successfully registered.  Please use your browser's back button to return.</p>
        </div>
    </div>
</div>