<static-switcher images="staticImageSet"></static-switcher>
<!--<div class="jumbotron report-archive">
  <div class="toolbar">
    <div class="left">
      <span class="detail">Last Updated 01/01/14</span>
    </div>
    <div class="right">
      <img class="icon star" src="images/star.png" alt="">
      <img class="icon" src="images/exportA.png" alt="">
    </div>    
  </div>
  <div class="heading">
    <h1>Reports Archive</h1>
  </div>
</div>
<div class="container">
	<input type="text" ng-model="reportFilter" placeholder="Search Reports Archive" class="search-contextual">
	<i class="glyphicon glyphicon-search contextual"></i>
	<button ng-click="modal.createReport = true" class="btn btn-success right col-md-2">CREATE REPORT</button>	
</div>
<img class="placehold" src="images/placeholders/report/report_archive_1.png">
<div id="placehold-bottom">
	<div id="pagination"><img src="images/pagination.png"></div>
</div>-->